    <div class="pageContol">
        <div class="main_body">
            <div class="d_title">
                <i class="layui-icon" onclick="goBack()">&#xe65c;</i>
                <p>退休待遇计发</p>
            </div>
            <div class="h_body body_roll ptb2">
                <div class="layui-forms1">
                    <div>
                        <div class="layui-form layui-forms">
                            <table class="layui-table" lay-size="lg">
                                <tbody>
                                    <tr>
                                        <td>业务名称</td>
                                        <td colspan="3">{$data["name"]|default=""}</td>
                                    </tr>
                                    <tr>
                                        <td>申请人</td>
                                        <td>{$data["proposer"]|default=""}</td>
                                        <td>申请时间</td>
                                        <td>{$data["applyForTime"]|default=""}</td>
                                    </tr>
                                    <tr>
                                        <td>档案核查时间</td>
                                        <td>{$data["recordHandleTime"]|default=""}</td>
                                        <td>审核人</td>
                                        <td>{$data["recordAcceptor"]|default=""}</td>
                                    </tr>
                                    <tr>
                                        <td>社保核查时间</td>
                                        <td>{$data["socialHandleTime"]|default=""}</td>
                                        <td>审核人</td>
                                        <td>{$data["socialAcceptor"]|default=""}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="margin-top: 1rem">
                        <div class="layui-form layui-forms">
                            <table class="layui-table" lay-size="lg">
                                <tbody>
                                    <tr>
                                        <td colspan="4">退休待遇录入</td>
                                    </tr>
                                    <tr>
                                        <td>基础养老金</td>
                                        <td><input type="text" name="baseMoney" id="basicPensionFunds" placeholder="0.00" class="layui-input" oninput="setTreatmentTotal()"></td>
                                        <td>个人账号养老金</td>
                                        <td><input type="text" name="userMoney" id="selfPensionFunds" placeholder="0.00" class="layui-input" oninput="setTreatmentTotal()"></td>
                                    </tr>
                                    <tr>
                                        <td>过度性养老金</td>
                                        <td><input type="text" name="excessMoney" id="transitionPensionFunds" placeholder="0.00" class="layui-input" oninput="setTreatmentTotal()"></td>
                                        <td>一定比例补贴和调节金</td>
                                        <td><input type="text" name="subsidy" id="subsidy" placeholder="0.00" class="layui-input" oninput="setTreatmentTotal()"></td>
                                    </tr>
                                    <tr>
                                        <td>计发时间</td>
                                        <td><input type="text" id="date"  readonly class="layui-input"></td>
                                        <td>待遇总计</td>
                                        <td><span id="treatmentTotal">0</span>元</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="hidden" id="phoneNumber" value="{$data.phoneNumber}">
                    <input type="hidden" id="id" value="{$data.id}">
                    <input type="hidden" id="idNumber" value="{$data.idNumber}">
                    <div class="btn_center">
                        <div>
                            <button class="layui-btn-normal layui-btn" onclick="recordCheck(1)">提交市级审批</button>
                        </div>
                        <div>
                            <button class="btn_green layui-btn" onclick="recordCheck(2)">审批通过</button>
                        </div>
                        <div>
                            <button class="btn_orgin layui-btn" onclick="recordCheck(3)">不通过</button>
                        </div>
                        <div style="width: 40%">
                            <textarea name="reason" id="reason" cols="50" rows="5" placeholder="请说明不通过的原因"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>
    $(function(){
        layui.use(['laydate'], function() {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#date',
                value: new Date(),
                isInitValue: true
            });
        });
    });
    function setTreatmentTotal() {
        var basicPensionFunds = $("#basicPensionFunds").val(),
            selfPensionFunds =$("#selfPensionFunds").val(),
            transitionPensionFunds = $("#transitionPensionFunds").val(),
            subsidy = $("#subsidy").val(),
            treatmentTotal=Number(basicPensionFunds)+Number(selfPensionFunds)+Number(transitionPensionFunds)+Number(subsidy);
        $("#treatmentTotal").html(treatmentTotal);
    }
    function recordCheck(type) {
        if (type == 2 && !check()) return;
        $.ajax({
            type: "post",
            url: "{:U('Home/EndInsurance/check')}",
            data: {
                type: type,
                id: $("#id").val() ,
                reason: $("#reason").val(),
                phoneNumber: $("#phoneNumber").val(),
                idcard: $("#idNumber").val(),
                planGrantDate: $("#date").val(),
                basicPensionFunds: $("#basicPensionFunds").val(),
                selfPensionFunds: $("#selfPensionFunds").val(),
                transitionPensionFunds: $("#transitionPensionFunds").val(),
                subsidy: $("#subsidy").val(),
                treatmentTotal: $("#treatmentTotal").html()
            },
            dataType: "json",
            success: function(data){
                if(data.code == 1){
                    if (data.url != '') {
                        layer.alert(data.message, function(index){
                            window.location.href = data.url;
                            layer.close(index);
                        });
                    } else {
                        layer.alert(data.message);
                    }
                } else {
                    layer.alert(data.message);
                }
            },
            error: function(a,b,c){
                layer.alert('服务器访问失败，请稍后再试。');
            }
        });
    }
    // 校验
    function check(){
        var reg  = /^[0-9]+(.[0-9]{1,3})?$/;
        if (!reg.test($('#basicPensionFunds').val())) {
            layer.msg('请输入正确的基础养老金');
            return false;
        }
        if (!reg.test($('#selfPensionFunds').val())) {
            layer.msg('请输入正确的个人账号养老金');
            return false;
        }
        if (!reg.test($('#transitionPensionFunds').val())) {
            layer.msg('请输入正确的过度性养老金');
            return false;
        }
        if (!reg.test($('#subsidy').val())) {
            layer.msg('请输入正确的一定比例补贴和调节金');
            return false;
        }
        return true;
    }
</script>
</html>