        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">医疗报销结果查询</a>
            </div>
            <div class="framePage-body layui-form">
              <div class="content">
                <div class="title information_title news_title news_title1">
                  <h2>医疗报销结果查询</h2>
                  <p>
                    <span class="mr">姓名：{$userinfo["realName"]}</span>
                    <span>身份证号码：<span id="idcard">{$userinfo["idcard"]}</span></span>
                  </p>
                </div>
              </div>
              <div class="operationControl operationControl1">
                <div class="searchBox searchBoxNew">
                    <input placeholder="选择日期范围" type="text" class="layui-input float-l" id="month">
                    <div class="float-l input-btn">
                        <button class="bgc-blued layui-btn" onclick="opSearch()">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="searchBtns">
                    <a href="" target="_blank" id="dayinAllurl"> <button class="bgc-blued layui-btn" >打印</button></a>
                </div>
              </div>
              <div class="framePage-scroll">
                  <div class="ovy-a">
                    <table class="grid-table grid-tableNew" id="gridTable">
                        <thead>
                            <tr>
                                <td><span><b>结算时间</b></span></td>
                                <td><span><b>就诊类别</b></span></td>
                                <td><span><b>定点机构</b></span></td>
                                <td><span><b>总费用</b></span></td>
                                <td><span><b>个人支付</b></span></td>
                                <td><span><b>基本医疗报销</b></span></td>
                                <td><span><b>报销收款银行</b></span></td>
                                <td><span><b>报销收款卡号</b></span></td>
<!--
                                <td><span><b>打印</b></span></td>
-->
                            </tr>
                        </thead>
                        <tbody id="list">

                        </tbody>
                    </table>
                  </div>
              </div>
              <div class="pageNum" id="pageNum"></div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>
    $(function () {
        getData()
    })
    function getData(){
        var startTime=$("#year").val();
        var endTime=$("#year2").val();
        if (startTime > endTime){
            layer.msg('结束年度不能小于开始年度');
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:U('Home/QueryMedReimburse/showResult')}",
            data: {
                idcard: $("#idcard").html(),//姓名
                startTime: startTime,//开始时间
                endTime:endTime,//结束时间
            },
            dataType: "json",
            beforeSend: function(){
                if ($("#idCardhtml").html()==''){
                    layer.msg('身份证号不能为空');
                    return false;
                }
            },
            success: function(ret) {
                if (ret.code == 1) {
                    $("#dayinAllurl").attr("href",ret.dayinAllurl)
                    $("#list").html(ret.data);
                }else {
                    if (ret.message == ''){
                        layer.msg('请求失败');
                    }else {
                        layer.msg(ret.message);
                    }
                }
            },
        });
    }

    var laydate = layui.laydate;
  laydate.render({
    elem: '#month' //指定元素
        ,
    range: true
})

function opClose () {
  window.location.href='yliaobxcx.html'
}
</script>
</html>