       <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">帮村民找工作</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">个人求职登记</a>
            </div>
            <div class="framePage-body layui-form">
              <div class="operationControl job_top">
                <div class="searchBtns">
                    <button class="bgc-orange layui-btn" onclick="opReadid()">读身份证</button>
                    <button class="bgc-orange layui-btn" onclick="opReadcard()">读社保卡</button>
                    <button class="bgc-blued layui-btn" onclick="opReturn()">返回</button>
                </div>
              </div>
              <div class="framePage-scroll">
                  <div class="ovy-a">
                    <div class="layui-tab tab_wrap" lay-filter="demo">
                      <ul class="layui-tab-title tab_title">
                        <li class="hidden1">
                            <div>
                                <img src="__PUBLIC__/image/item1.png" alt="">
                                <span>基本信息</span>
                            </div>
                        </li>
                        <li class="show active">
                            <div>
                                <img src="__PUBLIC__/image/item5.png" alt="">
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="__PUBLIC__/image/item2.png" alt="">
                                <span>教育背景</span>
                            </div>
                        </li>
                        <li class="show">
                            <div>
                                <img src="__PUBLIC__/image/item6.png" alt="">
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="__PUBLIC__/image/item3.png" alt="">
                                <span>工作经历</span>
                            </div>
                        </li>
                        <li class="show">
                            <div>
                                <img src="__PUBLIC__/image/item7.png" alt="">
                            </div>
                        </li>
                        <li class="mr">
                            <div>
                                <img src="__PUBLIC__/image/item4.png" alt="">
                                <span>求职意向</span>
                            </div>
                        </li>
                        <li class="show mr">
                            <div>
                                <img src="__PUBLIC__/image/item8.png" alt="">
                            </div>
                        </li>
                      </ul>
                      <div class="layui-tab-content tab_content">
                        <div class="layui-tab-item layui-show content_item">
                          <div class="educational_title">
                            <h3>个人资料设置</h3>
                            <button class="bgc-blued layui-btn" onclick="opSave1()">保存</button>
                          </div>
                          <div class="content_box">
                              <div class="box_left">
                                  <div class="img_top">
                                     <input type="hidden" value="{$Think.config.REQUEST_URL}{$Think.config.imgUploadUrl}" id="url" name="url">
                                      <img src="__PUBLIC__/image/img_tx.png" alt="" id="preview">
                                      <span>上传的头像照片小于2M，超大图片将自动进行压缩处理。</span>
                                  </div>
                                  <input type="hidden" id="gethouseholdFirstImg" value="">
                                        <button type="button" class="layui-btn bgc-blued butt" id="test1">
                                         <label for="upload" > 上传图片 </label>
                                         </button>
                                      <form action="" enctype="multipart/form-data" id="form1">
                                         <input id="upload" type="file" style="display: none" name="file">
                                     </form>
                              </div>
                              <div class="box_right">
                                  <div class="cell_box">
                                      <div class="form-cell form_cell">
                                          <label><b>*</b>&nbsp姓名</label>
                                          <div>
                                              <input type="text" name="tel" class="layui-input w-input" id="username" placeholder="请输入姓名">
                                          </div>
                                      </div>
                                      <div class="form-cell ml form_cell">
                                          <label><b>*</b>&nbsp身份证号</label>
                                          <div>
                                              <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入身份证号">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="cell_box">
                                      <div class="form-cell form_cell">
                                          <label><b>*</b>&nbsp性别</label>
                                          <div>
                                              <select name="stu" name="addr" lay-verify="required" id="sax">
                                                <option value="">男</option>
                                                <option value="0">男</option>
                                                <option value="1">女</option>
                                            </select>
                                          </div>
                                      </div>
                                      <div class="form-cell ml form_cell">
                                          <label><b>*</b>&nbsp出生日期</label>
                                          <div>
                                            <input placeholder="选择日期" type="text" class="layui-input float-l" id="month">
                                            <i class="layui-icon layui-icon-date date birsday" id="month""></i>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="cell_box">
                                      <div class="form-cell form_cell">
                                          <label><b>*</b>&nbsp民族</label>
                                            <div>
                                                <select name="stu3" lay-verify="required" id="mz">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                      </div>
                                      <div class="form-cell ml form_cell">
                                          <label><b>*</b>&nbsp联系方式</label>
                                          <div>
                                            <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入联系方式">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-cell ml-cell form_cell">
                                    <label class="label_h">戶口所在地</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入戶籍所在地">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h ml-cell">现居住地址</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入现居住地址">
                                    </div>
                                  </div>
                                  <div class="form-cell ml-cell1 form_cell">
                                    <label>婚姻状况</label>
                                    <div>
                                        <select name="stu" name="addr" lay-verify="required" id="address">
                                            <option value="">初婚</option>
                                            <option value="0">初婚</option>
                                            <option value="1">未婚</option>
                                            <option value="1">离异</option>
                                            <option value="1">丧偶</option>
                                            <option value="1">再婚</option>
                                            <option value="1">其他</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="form-cell ml-cell2 form_cell">
                                      <label>简历是否对外公开</label>
                                      <div>
                                            <input type="radio" name="all" value="0" title="对所有人公开" checked>
                                            <input type="radio" name="all" value="1" title="对注册企业公开">
                                            <input type="radio" name="all" value="2" title="不公开">
                                      </div>
                                  </div>
                                  <div class="form-cell ml-cell3 form_cell">
                                      <label>是否接收短信推荐工作</label>
                                      <div>
                                          <input type="radio" name="1" value="1" title="是" checked>
                                          <input type="radio" name="1" value="0" title="否">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item content_item">
                            <div class="educational_title">
                                <h3>教育背景</h3>
                                <div class="searchBtns">
                                    <button class="bgc-orange layui-btn" onclick="opAdd()">添加</button>
                                    <button class="bgc-blued layui-btn" onclick="opSave2()">保存</button>
                                </div>
                            </div>
                            <div class="educational_bgc">
                              <div class="form">
                                  <div class="form-cell form_cell">
                                      <label>毕业院校</label>
                                      <div>
                                          <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入毕业院校">
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                      <label>文化程度</label>
                                      <div>
                                        <select name="stu" name="addr" lay-verify="required" id="address">
                                            <option value="">初中</option>
                                            <option value="0">初中</option>
                                            <option value="1">高中</option>
                                            <option value="1">职高</option>
                                            <option value="1">中专</option>
                                            <option value="1">大专</option>
                                            <option value="1">本科</option>
                                            <option value="1">硕士研究生</option>
                                            <option value="1">博士研究生</option>
                                        </select>
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">毕业时间</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入毕业时间">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label>专业名称</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入专业名称">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label>专业描述</label>
                                    <div class="textarea_h">
                                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="form form_show">
                                  <div class="form-cell form_cell">
                                      <label>毕业院校</label>
                                      <div>
                                          <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入毕业院校">
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                      <label>文化程度</label>
                                      <div>
                                        <select name="stu" name="addr" lay-verify="required" id="address">
                                            <option value="">初中</option>
                                            <option value="0">初中</option>
                                            <option value="1">高中</option>
                                            <option value="1">职高</option>
                                            <option value="1">中专</option>
                                            <option value="1">大专</option>
                                            <option value="1">本科</option>
                                            <option value="1">硕士研究生</option>
                                            <option value="1">博士研究生</option>
                                        </select>
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">毕业时间</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入毕业时间">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label>专业名称</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入专业名称">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label>专业描述</label>
                                    <div class="textarea_h">
                                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                  </div>
                                  <button class="bgc-blued layui-btn po-o" onclick="opRemove()"><img src="__PUBLIC__/image/lj.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item content_item">
                            <div class="educational_title">
                                <h3>工作经历</h3>
                                <div class="searchBtns">
                                    <button class="bgc-orange layui-btn" onclick="opAdd()">添加</button>
                                    <button class="bgc-blued layui-btn" onclick="opSave3()">保存</button>
                                </div>
                            </div>
                            <div class="educational_bgc">
                              <div class="form">
                                  <div class="form-cell form_cell">
                                      <label>公司名称</label>
                                      <div>
                                          <input type="text" name="tel" class="layui-input" id="company" placeholder="请输入公司名称">
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                      <label>在职时间</label>
                                      <div class="po-r">
                                        <input placeholder="选择日期" type="text" class="layui-input float-l" id="month2">
                                        <i class="layui-icon layui-icon-date date birsday" id="month2""></i>
                                      </div>
                                      <span>至</span>
                                      <div class="po-r">
                                        <input placeholder="选择日期" type="text" class="layui-input float-l" id="month3">
                                        <i class="layui-icon layui-icon-date date birsday" id="month3""></i>
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">职位名称</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入职位名称">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label>职位描述</label>
                                    <div class="textarea_h">
                                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="form form_show">
                                  <div class="form-cell form_cell">
                                      <label>公司名称</label>
                                      <div>
                                          <input type="text" name="tel" class="layui-input" id="company" placeholder="请输入公司名称">
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                      <label>在职时间</label>
                                      <div class="po-r">
                                        <input placeholder="选择日期" type="text" class="layui-input float-l" id="month22">
                                        <i class="layui-icon layui-icon-date date birsday" id="month22""></i>
                                      </div>
                                      <span>至</span>
                                      <div class="po-r">
                                        <input placeholder="选择日期" type="text" class="layui-input float-l" id="month33">
                                        <i class="layui-icon layui-icon-date date birsday" id="month33""></i>
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">职位名称</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入毕业时间">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label>职位描述</label>
                                    <div class="textarea_h">
                                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                  </div>
                                  <button class="bgc-blued layui-btn po-o" onclick="opRemove()"><img src="__PUBLIC__/image/lj.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item"></div>
                        <div class="layui-tab-item content_item">
                            <div class="educational_title">
                                <h3>求职意向</h3>
                                <div class="searchBtns">
                                    <button class="bgc-blued layui-btn" onclick="opSave()">保存</button>
                                </div>
                            </div>
                            <div class="educational_bgc">
                              <div class="form">
                                  <div class="form-cell form_cell">
                                      <label>意向职位性质</label>
                                      <div>
                                          <input type="radio" name="job" value="0" title="全职" checked>
                                          <input type="radio" name="job" value="1" title="兼职">
                                          <input type="radio" name="job" value="2" title="实习">
                                          <input type="radio" name="job" value="3" title="全职、兼职均可">
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">意向岗位类别</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入意向岗位类别">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                      <label class='yx_ml'>期望薪资</label>
                                      <div>
                                         <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入期望薪资">
                                      </div>
                                      <span>————</span>
                                      <div>
                                         <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入期望薪资">
                                      </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class='yx_ml'>到岗时间</label>
                                    <div>
                                        <select name="stu" name="addr" lay-verify="required" id="date">
                                            <option value="">随时</option>
                                            <option value="0">随时</option>
                                            <option value="1">1周以内</option>
                                            <option value="2">2周以内</option>
                                            <option value="2">1个月以内</option>
                                            <option value="2">1-3个月</option>
                                            <option value="2">3个月以后</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">意向工作地区</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入意向工作地区">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class="label_h">求职意向说明</label>
                                    <div>
                                        <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入求职意向说明">
                                    </div>
                                  </div>
                                  <div class="form-cell form_cell">
                                    <label class='yx_ml'>其他要求</label>
                                    <div class="textarea_h">
                                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</body>
<div class="box-wrap" style="display: none">
  <span id="save">保存成功</span>
</div>
<include file="Public:footer" />
<script>
  //上传图片
uploadimg("upload", "preview", "url", "gethouseholdFirstImg", "form1");
  var laydate = layui.laydate;
  var layer = layui.layer
  var upload = layui.upload
// 日期
  laydate.render({
    elem: '#month' //指定元素
})
  var sta="1";
  var da="";
  laydate.render({
    elem: '#month2', //指定元素
    done: function(value, date, endDate){
        sta=="2";
        da=date;
        $("#month2").val(value);
        $("#month2").text("");
      },
    ready: function(date){
      if(sta=="1"){
       date;
      }else{
      date=da;
      }
      // console.log(date);
    }
})

  laydate.render({
    elem: '#month3', //指定元素
    min: $('#month2').val()
})
  var sta1="1";
  var da1="";
  laydate.render({
    elem: '#month22', //指定元素
    done: function(value, date, endDate){
        sta1=="2";
        da1=date;
        $("#month22").val(value);
        $("#month22").text("");
      },
    ready: function(date){
      if(sta1=="1"){
       date;
      }else{
      date=da1;
      }
      // console.log(date);
    }
})

  laydate.render({
    elem: '#month33', //指定元素
    min: $('#month22').val()
})


// 民族
var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族", "土家族",
        "哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族",
        "土族", "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族",
        "俄罗斯族", "鄂温克族", "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"
    ];
    var nation = $("#mz");
    for (var i = 0; i < nations.length; i++) {
        var a = nations[i];
        nation.append("<option value='" + a + "'>" + a + "</option>");
    }
    layuiform()

    layui.use('element', function(){
      var element = layui.element;
      
      //一些事件监听
      element.on('tab(demo)', function(data){
        $(this).addClass('hidden1').next('.show').css('display', 'block').next('.active').css('display','none')
        $(this).siblings('.hidden1').removeClass('hidden1').next('.show').css('display','none')
      });
    })

    function opAdd () {
      $('.form_show').css('display','flex')
    }
    function opRemove () {
      $('.form_show').css('display','none')
    }
    // 保存
     function opSave2 () {
      layer.confirm('保存成功',{
        title:false,
        closeBtn :0,
        btn: ['确定'],
        btnAlign: 'c'
      }, function(index, layero){
        $('li:eq(2)').removeClass('hidden1')
        $('li:eq(3)').css('display','none').next('li').addClass('hidden1').next('.show').css('display','block')
        $('.tab_content .layui-tab-item:eq(2)').removeClass('layui-show')
        $('.tab_content .layui-tab-item:eq(4)').addClass('layui-show')
        layer.close(index)
      })
    }
     function opSave3 () {
      layer.confirm('保存成功',{
        title:false,
        closeBtn :0,
        btn: ['确定'],
        btnAlign: 'c'
      }, function(index, layero){
        $('li:eq(4)').removeClass('hidden1')
        $('li:eq(5)').css('display','none').next('li').addClass('hidden1').next('.show').css('display','block')
        $('.tab_content .layui-tab-item:eq(4)').removeClass('layui-show')
        $('.tab_content .layui-tab-item:eq(6)').addClass('layui-show')
        layer.close(index)
      })
    }
    function opSave () {
      layer.confirm('保存成功',{
        title:false,
        closeBtn :0,
        btn: ['确定'],
        btnAlign: 'c'
      }, function(index, layero){
        window.location.href = 'personalJob.html'
      })
    }
</script>
</html>