/* 初始化 */
html,
body,
header,
footer,
div,
ul,
li,
img,
a,
span,
em,
del,
form,
label,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}
html {
  font-size: 16px;
}
html,
body {
  background-color: #FFF;
  min-height: 100%;
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  height: 100%;
}
nav,
header,
footer {
  display: block;
  position: relative;
}
img,
a,
button,
em,
del,
label,
textarea,
span,
i {
  display: inline-block;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
a.active,
a.hover {
  outline: 0;
}
label {
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  font-family: sans-serif;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td,
table th {
  padding: 0;
}
/* 公用 */
.dtable {
  display: table;
  width: 100%;
}
.dtcvm {
  display: table-cell;
  vertical-align: middle;
}
.dib {
  display: inline-block;
  vertical-align: middle;
}
.hidden {
  display: none;
}
.ov2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.middle:before {
  content: '';
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.img-box {
  position: relative;
  margin: 0 auto;
}
.img-box img {
  width: 100%;
}
.imgCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.bgc {
  background-size: contain;
  background-position: center;
}
.bgs {
  background-size: cover;
  background-position: center;
}
.bga {
  background-size: 100% 100%;
  background-position: center;
}
/* 结构 */
body {
  overflow: hidden;
  position: relative;
}
/* 登录 */
.login {
  background: #1F2325 url(../image/login-bg.png) no-repeat center;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  padding-top: 3rem;
  box-sizing: border-box;
}
.login .header_title {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  box-sizing: border-box;
  border-bottom: 1px solid #374044;
  display: table;
  width: 100%;
  padding: 0 2rem;
}
.login .header_title > div,
.login .header_title > h4 {
  display: table-cell;
  vertical-align: middle;
}
.login .header_title .img-box {
  width: 2rem;
}
.login .header_title h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  padding-left: 1rem;
  box-sizing: border-box;
}
.login .login_main {
  height: 100%;
  position: relative;
}
.login .login_main .login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12rem;
  margin-left: -12.5rem;
  width: 25rem;
  background-color: #fff;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}
.login .login_main .login_box .login_title {
  box-sizing: border-box;
  border-bottom: 1px solid #E7E6E6;
  text-align: center;
  font-size: 1.125rem;
  color: #5f5f5f;
  padding-bottom: .75rem;
}
.login .login_main .login_box .login_form {
  padding: 2rem 1rem 1.5rem;
  box-sizing: border-box;
}
.login .login_main .login_box .login_form .layui-input {
  margin-bottom: 1.5rem;
  border-color: #DDDDDD;
}
.login .login_main .login_box .login_form .layui-input::-webkit-input-placeholder {
  color: #a7a6a6;
}
.login .login_main .login_box .login_form .layui-input:-ms-input-placeholder {
  color: #a7a6a6;
}
.login .login_main .login_box .login_form .layui-input::placeholder {
  color: #a7a6a6;
}
.login .login_main .login_box .login_form button {
  background-color: #00C1DE;
  font-size: 1rem;
  width: 100%;
  line-height: 38px;
  height: 38px;
  color: #fff;
}
/* 首页 */
.index {
  padding-top: 4rem;
  box-sizing: border-box;
}
.index .header {
  background-color: #373D41;
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  box-sizing: border-box;
  padding: 0 .5rem 0 1rem;
  display: table;
  width: 100%;
}
.index .header > div {
  display: table-cell;
  vertical-align: middle;
}
.index .header > div .seat {
  display: table;
  width: 100%;
}
.index .header .header-title .seat > div,
.index .header .header-title .seat > h4 {
  display: table-cell;
  vertical-align: middle;
}
.index .header .header-title .seat .img-box {
  width: 2rem;
}
.index .header .header-title .seat h4 {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 1rem;
  box-sizing: border-box;
}
.index .header .header-title .seat h4 a {
  color: #fff;
  cursor: pointer;
}
.index .header .header-btn {
  width: 1%;
  height: 100%;
}
.index .header .header-btn .seat {
  height: 100%;
}
.index .header .header-btn .seat > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.index .header .header-btn .seat > div:hover:last-child .headr-btn-popUp {
  display: block;
}
.index .header .header-btn .seat > div .headr-btn-title {
  width: 5.375rem;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #181B23;
  box-sizing: border-box;
  height: 100%;
  line-height: 4rem;
}
.index .header .header-btn .seat > div .headr-btn-title .img-box {
  width: 2rem;
  font-size: 0;
}
.index .header .header-btn .seat > div .headr-btn-title > span {
  font-size: 1.25rem;
  color: #fff;
}
.index .header .header-btn .seat > div .headr-btn-popUp {
  display: none;
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 2;
  margin-top: -1px;
  padding-top: .5rem;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: layui-upbit;
}
.index .header .header-btn .seat > div .headr-btn-popUp:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  top: -6px;
  right: 2.6875rem;
  margin-right: -12px;
  z-index: 3;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox {
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 1px;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul {
  display: table;
  height: 7.5rem;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li#userDel > div p {
  color: #cb290f;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li > div {
  width: 7.5rem;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li > div a {
  display: block;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li > div .img-box {
  width: 2.1875rem;
  margin-bottom: .5rem;
}
.index .header .header-btn .seat > div .headr-btn-popUp .headr-btn-popUpBox ul li > div p {
  font-size: .875rem;
  color: #222;
  text-align: center;
}
.index .control {
  height: 100%;
  padding-left: 3.75rem;
  transition: all .3s;
  position: relative;
  z-index: 1;
}
.index .control.control-cur {
  padding-left: 13.75rem;
}
.index .control.control-cur .nav {
  width: 13.75rem;
}
.index .control.control-cur .nav .nav-title .seat {
  background-color: #42485B;
}
.index .control .nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3.75rem;
  transition: all .3s;
  background-color: #373D41;
}
.index .control .nav .seat {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.index .control .nav .seat {
  white-space: nowrap;
  padding: .85rem 0;
}
.index .control .nav .seat .img-box {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  padding: 0 1.125rem;
  font-size: 0;
}
.index .control .nav .seat span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
  color: #fff;
  white-space: nowrap;
}
.index .control .nav .nav-title {
  margin-bottom: 1rem;
}
.index .control .nav .nav-title .seat:active,
.index .control .nav .nav-title .seat:hover {
  background-color: #42485B;
}
.index .control .nav > ul > li {
  position: relative;
  z-index: 1;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transition: all .1s;
  width: 100%;
}
.index .control .nav > ul > li a {
  display: block;
}
.index .control .nav > ul > li.nav-cur {
  border-right-color: #4FA1EA;
}
.index .control .nav > ul > li.nav-cur,
.index .control .nav > ul > li:active,
.index .control .nav > ul > li:hover {
  background-color: #42485B;
}
.index .control .nav > ul > li:hover {
  width: 13.75rem;
}
.index .control .pageContol {
  height: 100%;
  width: 100%;
  background-color: #EAEDF1;
  padding: .5rem;
  box-sizing: border-box;
}
.index .control .pageContol .pageContol-box {
  height: 100%;
}
.index .control .pageContol .pageContol-box iframe {
  height: 100%;
  width: 100%;
  display: none;
}
.index .control .pageContol .pageContol-box iframe.frame-cur {
  display: block;
}
.ipage {
  overflow: hidden;
  height: 100%;
}
.ipage .ipage-boxs {
  width: 50%;
  float: left;
  height: 100%;
}
.ipage .ipage-boxs.ipage-boxs2 {
  position: relative;
  padding-top: 31.75rem;
  box-sizing: border-box;
}
.ipage .ipage-boxs.ipage-boxs2 .ipage-box1 {
  position: absolute;
  top: 0;
  left: 0;
}
.ipage .ipage-boxs.ipage-boxs2 .ipage-box2 {
  position: absolute;
  top: 25rem;
  left: 0;
}
.ipage .ipage-boxs .ipage-box {
  width: 100%;
  height: 100%;
  padding: .5rem;
  box-sizing: border-box;
}
.ipage .ipage-boxs .ipage-box.ipage-box1 {
  height: auto;
}
.ipage .ipage-boxs .ipage-box.ipage-box1 .ipage-seat {
  padding-bottom: 1rem;
  padding-top: 4.5rem;
}
.ipage .ipage-boxs .ipage-box.ipage-box2 {
  height: 6.75rem;
}
.ipage .ipage-boxs .ipage-box.ipage-box2 .ipage-seat {
  padding: 0;
  display: table;
  width: 100%;
}
.ipage .ipage-boxs .ipage-box.ipage-box2 .ipage-seat .word-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background: url('../image/index-2.jpg') 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}
.ipage .ipage-boxs .ipage-box.ipage-box2 .ipage-seat .word-box h5 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.ipage .ipage-boxs .ipage-box.ipage-box2 .ipage-seat .word-box p {
  font-size: 1.3125rem;
  letter-spacing: 1px;
  margin-top: .25rem;
}
.ipage .ipage-boxs .ipage-box .ipage-seat {
  height: 100%;
  background-color: #fff;
  padding: .625rem .625rem 1.5rem .625rem;
  box-sizing: border-box;
  position: relative;
  padding-top: 5rem;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-title {
  position: absolute;
  top: 1.5rem;
  left: 1.625rem;
  right: 1.625rem;
  padding: 0 .25rem;
  box-sizing: border-box;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-title p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.625rem;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-title p i {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  position: absolute;
  right: -1.25rem;
  top: -0.3rem;
  left: initial;
  background-color: #E2361A;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-title p span {
  position: relative;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-title > span {
  width: 1%;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #3c97e7;
  cursor: pointer;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-scroll {
  height: 100%;
  overflow: auto;
  padding: 0 1rem;
  box-sizing: border-box;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-scroll ul li {
  padding: 1rem 1.875rem;
  box-sizing: border-box;
  background-color: #F5F5F6;
  margin-bottom: 1rem;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-scroll ul li:last-child {
  margin-bottom: 0;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-scroll ul li a {
  position: relative;
  padding-right: 7.5rem;
  box-sizing: border-box;
  font-size: 1.3125rem;
  display: block;
  line-height: 1.3125rem;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-scroll ul li a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #404141;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-scroll ul li a > span {
  position: absolute;
  right: 0;
  top: 0;
  color: #4092db;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox {
  position: relative;
  padding: 0 1rem 0 14.25rem;
  height: 18.5rem;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .img-box {
  position: absolute;
  top: .325rem;
  bottom: .325rem;
  left: 1rem;
  width: 13.35rem;
  font-size: 0;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat {
  height: 100%;
  padding-left: 1rem;
  box-sizing: border-box;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul {
  height: 100%;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul li {
  height: 33.3333%;
  padding: .325rem 0;
  box-sizing: border-box;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul li:last-child a {
  margin-bottom: 0;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul li a {
  background-color: #F5F5F6;
  padding: 0 1.875rem;
  box-sizing: border-box;
  position: relative;
  font-size: 1.3125rem;
  line-height: 1.3125rem;
  height: 100%;
  display: table;
  width: 100%;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul li a .ipage-rseatas {
  display: table-cell;
  vertical-align: middle;
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul li a .ipage-rseatas p {
  color: #404141;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.ipage .ipage-boxs .ipage-box .ipage-seat .ipage-imgbox .ipage-rseat ul li a .ipage-rseatas > span {
  margin-top: .25rem;
  width: 100%;
  text-align: right;
  color: #4092db;
}
@keyframes layui-upbit {
  from {
    transform: translate3d(0, 30px, 0);
    opacity: 0.3;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* 页面 */
.empty-seat {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -100px;
}
.empty-seat .empty-img {
  width: 150px;
}
.empty-seat .empty-img img {
  width: 100%;
}
/* 画廊 */
.layui-layer-photos {
  min-height: 100px;
  min-width: 100px;
}
/* 加载 */
.loaders {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 989;
}
.loaders .loaders-box {
  width: 5rem;
  padding: .625rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -2.5rem;
}
.loaders .loaders-box .ball-spin-fade-loader {
  width: 80px;
  height: 80px;
  position: relative;
  top: 25px;
  left: 25px;
  transform: scale(0.8);
}
.loaders .loaders-box .ball-spin-fade-loader > div {
  width: .625rem;
  height: .625rem;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  margin: 2px;
  background: url('../feature/layui/css/modules/layer/default/loading-1.gif') 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}
.loaders .loaders-box .loaders-word {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
/* 图标 */
i.icon-search {
  background: url('../image/icon-search.png') 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}
i.del {
  background: url('../image/sprite.png') -552px -26px no-repeat;
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 12px !important;
  }
}
