.bgc-green {
  background-color: #1aad19;
}
.bgc-gary {
  background-color: #c4c4c4;
}
.bgc-red {
  background-color: #be0b20;
}
.bgc-greend {
  background-color: #30c114;
}
.imgCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.font-white {
  color: #edebeb;
}
.font-black {
  color: #3f3f3f;
}
.font-orange {
  color: #ee8706;
}
.outline {
  outline: #b7b7b7 dashed 3px;
}
.ul-list {
  padding: 1rem 0;
  box-sizing: border-box;
}
.ul-title {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 1rem;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
.ul-title label {
  font-size: 18px;
}
.ul-title span {
  font-size: 18px;
  color: #5665fa;
}
.core {
  -ms-flex-pack: center;
      justify-content: center;
}
.h4-title {
  font-size: 18px;
}
.care h3 {
  font-size: 1.125rem;
}
.care p {
  font-size: 1rem;
  padding: 0.78rem 0;
}
.care p span {
  color: #5665fa;
}
.care .pbox {
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
  background-color: #f5f5f5;
}
.care .pbox p {
  padding: 0;
}
.care .p-flex {
  display: -ms-flexbox;
  display: flex;
}
.care .p-flex > div {
  -ms-flex: 1;
      flex: 1;
}
.care .h3-title {
  padding: 0 0.875rem 0;
}
.care .reset-p {
  padding: 0;
  font-size: 14px;
}
.care .news {
  background-color: #f7f7f7;
  margin-top: 1rem;
}
.care .news label {
  font-size: 1.0rem;
  color: #5665fa;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}
.care .news span {
  padding: 0 1rem;
}
.pay {
  width: 19.3125rem;
  height: 18.1875rem;
  background: #f7f7f7;
  margin: 0 auto;
  padding: 0.625rem 0.625rem;
  box-sizing: border-box;
  margin-top: 2.5rem;
}
.pay .ibox {
  width: 18.125rem;
  height: 16.8125rem;
}
.approval .p-box {
  padding: 2.8125rem;
}
.approval .p-box p {
  text-align: center;
  font-size: 1rem;
}
.approval .approval-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.approval .approval-box span {
  font-size: 1rem;
  padding: 0.875rem 8.125rem;
  border-radius: 0.625rem;
  box-shadow: 4px 8px 10px #c8c6c6;
}
.approval .approval-box .imge-box {
  width: 1.5rem!important;
  height: 1.625rem!important;
  padding: 0.9375rem;
}
.approval .approval-box .explain {
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
.approval .approval-box .explain i {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  margin: .25rem .5rem;
}
.approval .approval-box .explain p {
  font-size: 0.875rem;
}
.approval .pd-t {
  padding: 2.1875rem;
}
.careful {
  padding: 3.375rem 0;
}
.btn {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.btn .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.btn input {
  width: 1.0625rem;
  height: 1.0625rem;
}
.btn span {
  font-size: 16px;
  color: #5665fa;
  padding: 0 0.4375rem;
  line-height: 2.1875rem;
}
.btn button {
  padding: 0 5rem;
}
.btn .layui-form-checked,
.btn .layui-form-checked:hover {
  border-color: #b5b5b5;
}
.btn .layui-form-checked span,
.btn .layui-form-checked:hover span {
  background-color: #ffffff;
}
.btn .layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #b5b5b5;
}
.btn .layui-form-checked[lay-skin=primary] i {
  border-color: #b5b5b5;
  background-color: #ffffff;
  color: black;
}
.bg-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}
.demo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: center;
      justify-content: center;
}
.demo .demo-page {
  padding: 1rem 0.4rem;
  box-sizing: border-box;
}
.demo .demo-page .demo-pagepd {
  padding: 1rem 0rem;
  box-sizing: border-box;
  position: relative;
}
.demo .demo-page .demo-pagepd .img-box {
  width: 27.25rem;
  height: 24rem;
  border: 1px solid #EAEAEA;
}
.demo .demo-page .demo-pagepd .img-box img {
  width: 100%;
}
.demo .demo-page .demo-pagepd .img-box2 {
  width: 17.25rem;
  height: 25rem;
}
.demo .demo-page .demo-pagepd .img-box2 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.demo .demo-page .demo-pagepd .book-box {
  position: relative;
  height: 100%;
}
.demo .demo-page .demo-pagepd .book-box img {
  width: 100%;
  height: inherit;
  position: relative;
  bottom: 1rem;
}
.demo .hk-book {
  padding: 1rem 3rem;
  width: 50%;
}
.demo .hk-book p {
  text-align: center;
  font-size: 16px;
  color: #5665fa;
  padding: .5rem 0;
}
.demo .user-information {
  width: 100%;
  height: 24rem;
  background-color: #99ccff;
  border-radius: 1.25rem;
  padding: 0 3rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.demo .user-information > .information-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.demo .user-information > .information-box > div {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding: .4rem .25rem;
}
.demo .user-information > .information-box > div label {
  width: 7.5rem;
  text-align: right;
  padding-right: .675rem;
  line-height: 2;
  font-size: 20px;
}
.demo .user-information > .information-box > div input {
  width: 15rem;
}
.demo .information-search {
  width: 100%;
  height: 25rem;
  background-color: #f5f5f5;
  padding: 1.25rem 1rem;
  box-sizing: border-box;
  border-radius: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.demo .information-search > div {
  padding: 1.25rem 0;
}
.demo .information-search span {
  width: 15rem;
  line-height: 2;
  font-size: 20px;
}
.btn-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 2.0625rem;
}
.btn-box .b-pd {
  padding: 0 5rem;
}
.pay-box {
  padding: 1rem 1rem;
}
.pay-box .paymoney {
  display: -ms-flexbox;
  display: flex;
  height: 4.375rem;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.pay-box .paymoney li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.pay-box .paymoney li .layui-form-radio {
  line-height: 4.375rem;
  padding: 0;
  margin: 0;
}
.pay-box span {
  width: 11.5625rem;
  height: 4.375rem;
}
.wx {
  background-image: url(../image/wx.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.zfb {
  background-image: url(../image/zfb.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.yl {
  background-image: url(../image/yl.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.jh {
  width: 4.6875rem;
  height: 4.1875rem;
  background-image: url(../image/jh.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 10;
}
.picture {
  width: 5.125rem;
  height: 5.125rem;
  background-image: url(../image/picture.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.pic {
  width: 100%;
  height: 100%;
}
.pic .pic-box {
  width: 100%;
  height: 100%;
  padding: 3rem 20.0rem;
  box-sizing: border-box;
}
.pic .pic-box .img {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
.pic .pic-box .img .pic_box {
  width: 11.25rem;
  height: 14.375rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.pic .pic-box p {
  text-align: center;
  font-size: 16px;
  color: #5665fa;
  padding: .5rem 0;
}
.alert {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.alert .alert-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 2rem 0;
  box-sizing: border-box;
}
.alert .alert-box .success {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
}
.alert .alert-box .success .bingo {
  width: 4.5625rem;
  height: 4.5625rem;
}
.alert .alert-box .success > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 1.0625rem;
}
.alert .alert-box .success > div p {
  font-size: 30px;
  color: #45b366;
}
.alert p {
  font-size: 30px;
  text-align: center;
}
.alert .p {
  font-size: 24px;
  text-align: center;
}
.alert .btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 2.6875rem 0;
}
.alert .btns button {
  padding: 0 3rem;
  margin: 0 1rem;
}
.pay-alert {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.pay-alert .alert-title {
  font-size: 1.25rem;
  text-align: center;
  color: #5665fa;
  padding: 1.5rem 0;
}
.pay-alert .pd {
  padding: 1rem 2.875rem;
  box-sizing: border-box;
}
.pay-alert .pd label {
  width: 10rem;
  text-align: left;
}
.pay-alert .pd .form-cell > div {
  padding-left: 0;
}
.pay-alert .pay-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.pay-alert .pay-btn button {
  padding: 0 3rem;
  position: relative;
}
.pd {
  padding: 2rem 2.875rem;
}
.pd .form-c {
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0rem;
}
.pd .form-c label {
  width: 4rem;
  line-height: 3;
}
.pd .form-c .flex-box {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.pd .form-c .flex-box .layui-form-select {
  width: 100%;
}
.pd .form-c .flex-box .date-change {
  width: 100%;
  position: relative;
}
.pd .form-c .flex-box .date {
  position: absolute;
  right: 0.25rem;
  font-size: 1.5rem;
  color: #5665fa;
  top: 0.35rem;
}
.pd .form-c .test {
  width: 100%;
}
.pd .form-c .test:before {
  content: "";
  border-bottom: 1px solid #cecdcd;
  position: absolute;
  width: 25%;
  top: 47%;
  left: 37%;
}
.button {
  width: 100%;
  padding-top: 0.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.button > button {
  width: 100%;
}
.button .size {
  width: 17.25rem;
}
.pding {
  padding: 0 24.875rem;
}
.pageList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.pageList .pageTitle {
  text-align: center;
}
.pageList .pageTitle p {
  font-size: 16px;
  line-height: 1.5625rem;
  color: #727272;
}
.pageList .pagecontent {
  padding: 2.625rem 10.8rem;
  box-sizing: border-box;
}
.pageList .pagecontent p {
  font-size: 16px;
  text-indent: 1.25rem;
  line-height: 2rem;
}
.pageList .pagebtn {
  margin: 0 auto;
}
.pageList .pagebtn button {
  padding: 0 7.625rem;
}
.center-main {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.center-main .center-box {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.center-main .center-box .label-title {
  width: 5rem;
  -ms-flex: 1;
      flex: 1;
  margin-top: 1.5rem;
  text-align: right;
  margin-right: 0.5rem;
}
.center-main .center-box .label-content {
  width: 100%;
  padding: 1rem 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 9;
      flex: 9;
}
.center-main .center-box .label-content span {
  position: relative;
  right: 25px;
  top: 4px;
}
.center-main .center-box .label-content .label-top {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  margin: .5rem 0;
}
.center-main .center-box .label-content .label-top .flex-1 {
  -ms-flex: 1;
      flex: 1;
}
.center-main .center-box .label-content .label-top .flex-5 {
  -ms-flex: 5;
      flex: 5;
}
.center-main .center-box .label-content .m0 {
  margin: 0;
}
.center-main .center-box .label-content .m5 {
  margin-top: .5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.center-main .center-box .label-content .m5 .ckbox {
  padding: 0 .5rem;
}
.center-main .center-box .wj {
  position: relative;
  left: 8rem;
  color: #5656fa;
  bottom: 1rem;
}
.center-main .center-box #wj {
  position: relative;
  left: 8rem;
}
.center-main .btn-bo {
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 20px;
}
.center-main .btn-bo button {
  padding: 0 4.25rem 0 4.25rem;
  box-sizing: border;
}
.layui-btn-orange {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 7px 21px #F99D3A, 0px 10px 6px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: all .1s ease;
}
.layui-btn:active {
  box-shadow: 0px 3px 0px #aaa, 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
figure {
  width: 8.75rem;
  height: 8.75rem;
}
figure figcaption {
  text-align: center;
  font-size: 2rem;
  color: #9999b0;
  font-weight: 700;
  padding: 2.1875rem 0;
}
.rz-succcess {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.bg-color {
  background-color: transparent!important;
}
section {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-color: #ffffff;
  padding: 1.3125rem 1.625rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.25rem;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0.75rem 0;
}
section .job {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
section .job .job-box {
  width: 3.4375rem;
  height: 3.4375rem;
}
section .job .p-left {
  padding: 0 2.375rem;
}
section .job span {
  color: #8c8c8c;
  padding: 0 0.4375rem;
}
section .job span em {
  color: #8c8c8c;
  padding: 0 .4375rem;
}
.number {
  font-size: 1.125rem;
  text-align: center;
}
.tel {
  width: 0.8125rem;
  height: 1.25rem;
  background-image: url(../image/tel.png);
  background-repeat: no-repeat;
}
.more-news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.more-news .more-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.more-news .more-title h4 {
  font-size: 1.0rem;
  color: #5665fa;
}
.more-news .more-title span {
  font-size: 1.0rem;
  color: #;
}
.more-news .imgbox {
  width: 1.625rem;
  height: 1.625rem;
}
.more-news .title-new {
  padding: 1.625rem 0;
}
.more-news .title-new ul {
  display: -ms-flexbox;
  display: flex;
}
.more-news .title-new ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 1.0rem;
}
.more-news .treatment {
  font-size: 1rem;
  padding: 1.0625rem 0;
}
.more-news .btn {
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 5rem;
}
.more-news .btn button {
  margin: 0 3rem;
}
.Office {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
}
.Office .office-page h4 {
  font-size: 1rem;
}
.Office .office-left .office-main {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.Office .office-left .office-main .office-h4 {
  position: relative;
  padding: .2rem 0 0 1.5rem;
}
.Office .office-left .office-main .office-gary {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.Office .office-left .office-main .office-gary .gary {
  background-color: #f5f5f5;
  width: 20.4375rem;
  height: 26.125rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.Office .office-left .office-main .office-gary .gary .header-box {
  width: 8.75rem;
  height: 8.75rem;
}
.Office .office-left .office-main .office-gary .gary .p-b {
  padding: 2.125rem 4rem;
}
.Office .office-left .office-main .office-gary .gary .p-b p {
  font-size: 0.875rem;
}
.Office .office-right {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.Office .office-right .office-mian {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}
.Office .office-right .office-mian .large-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  /* align-items: center; */
  padding: 1.375rem 0;
}
.Office .office-right .office-mian .office-h4 {
  position: relative;
  padding: .2rem 3rem 0;
}
.Office .office-right .office-mian .office-information {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0rem 10.625rem;
  box-sizing: border-box;
}
.Office .office-right .office-mian .office-information .information-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: .5625rem 0rem;
}
.Office .office-right .office-mian .office-information .information-box label {
  width: 5rem;
  text-align: right;
  font-size: 0.875rem;
  padding: 0 1rem;
  line-height: 2;
}
.Office .office-right .office-mian .office-information .information-box .input-box {
  -ms-flex: 1;
      flex: 1;
}
.Office .office-right .office-mian .office-information .information-box .ppd {
  -ms-flex: 1;
      flex: 1;
  padding: 0 .5rem 0 0;
}
.office-h4:before {
  content: "";
  border-left: 3px solid #5665fa;
  position: relative;
  top: 20px;
  right: 6px;
}
.office-gary:after {
  content: "";
  border-right: 1px solid #efefef;
  position: absolute;
  bottom: 2.0625rem;
  left: right;
  height: 100%;
  right: 0;
}
.off:after {
  content: "";
  border-bottom: 1px solid #efefef;
  position: absolute;
  top: 1.25rem;
  left: 2.0rem;
  /* height: 89%; */
  width: 90%;
}
.butt {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 1rem;
  box-shadow: inset 0 0.3rem 0.2rem rgba(86, 101, 250, 0.85), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  height: 2.5rem;
  text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
}
.bttn-green {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 1rem;
  box-shadow: inset 0 0.3rem 0.2rem rgba(48, 193, 20, 0.85), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  height: 2.5rem;
  text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
}
.bttn-orange {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 1rem;
  box-shadow: inset 0 0.3rem 0.2rem rgba(249, 157, 58, 0.85), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  height: 2.5rem;
  text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
}
.bttn-red {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 1rem;
  box-shadow: inset 0 0.3rem 0.2rem rgba(190, 11, 32, 0.85), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  height: 2.5rem;
  text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
}
