//背景色
.bgc-green {
    background-color: #1aad19;
}

.bgc-gary {
    background-color: #c4c4c4;
}

.bgc-red {
    background-color: #be0b20;
}

.bgc-greend {
    background-color: #30c114;
}

.imgCenter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    z-index: 1;
}

//字体颜色
.font-white {
    color: #edebeb;
}

.font-black {
    color: #3f3f3f;
}

.font-orange {
    color: #ee8706;
}

.outline {
    outline: #b7b7b7 dashed 3px;
}

//ul
.ul-list {
    padding: 1rem 0;
    box-sizing: border-box;
}

.ul-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    background-color: #f7f7f7;
    box-sizing: border-box;
    label {
        font-size: 18px;
    }
    span {
        font-size: 18px;
        color: #5665fa;
    }
}

.core {
    justify-content: center;
}

.h4-title {
    font-size: 18px;
}

//城乡养老参保登记
.care {
    h3 {
        font-size: 1.125rem;
    }
    p {
        font-size: 1rem;
        padding: 0.78rem 0;
        span {
            color: #5665fa;
        }
    }
    .pbox {
        padding: 1rem 1rem;
        box-sizing: border-box;
        margin-top: 1rem;
        background-color: #f5f5f5;
        p {
            padding: 0;
        }
    }
    .p-flex {
        display: flex;
        >div {
            flex: 1;
        }
    }
    .h3-title {
        padding: 0 0.875rem 0;
    }
    .reset-p {
        padding: 0;
        font-size: 14px;
    }
    .news {
        background-color: #f7f7f7;
        margin-top: 1rem;
        label {
            font-size: 1.0rem;
            color: #5665fa;
            padding: 1rem 1.5rem;
            box-sizing: border-box;
        }
        span {
            padding: 0 1rem;
        }
    }
}

//支付
.pay {
    width: 19.3125rem;
    height: 18.1875rem;
    background: #f7f7f7;
    margin: 0 auto;
    padding: 0.625rem 0.625rem;
    box-sizing: border-box;
    margin-top: 2.5rem;
    .ibox {
        width: 18.125rem;
        height: 16.8125rem;
    }
}

.approval {
    .p-box {
        padding: 2.8125rem;
        p {
            text-align: center;
            font-size: 1rem;
        }
    }
    .approval-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 1rem;
            padding: 0.875rem 8.125rem;
            border-radius: 0.625rem;
            box-shadow: 4px 8px 10px #c8c6c6;
        }
        .imge-box {
            width: 1.5rem!important;
            height: 1.625rem!important;
            padding: 0.9375rem;
        }
        .explain {
            display: flex;
            width: 15rem;
            padding: 0.5rem 1rem;
            box-sizing: border-box;
            i {
                width: 0.875rem;
                height: 0.875rem;
                border-radius: 50%;
                margin: .25rem .5rem;
            }
            p {
                font-size: 0.875rem;
            }
        }
    }
    .pd-t {
        padding: 2.1875rem;
    }
}

.careful {
    padding: 3.375rem 0;
}

.btn {
    text-align: center;
    display: flex;
    justify-content: center;
    .item{
        display: flex;
        align-items: center;
    }
    input {
        width: 1.0625rem;
        height: 1.0625rem;
    }
    span {
        font-size: 16px;
        color: #5665fa;
        padding: 0 0.4375rem;
        line-height: 2.1875rem
    }
    button {
        padding: 0 5rem;
    }
    .layui-form-checked,
    .layui-form-checked:hover {
        border-color: #b5b5b5;
    }
    .layui-form-checked span,
    .layui-form-checked:hover span {
        background-color: #ffffff;
    }
    .layui-form-checkbox[lay-skin=primary]:hover i {
        border-color: #b5b5b5;
    }
    .layui-form-checked[lay-skin=primary] i {
        border-color: #b5b5b5;
        background-color: #ffffff;
        color: black;
    }
}

.bg-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

//为参保人员登记
.demo {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    justify-content: center;
    .demo-page {
        // width: 50%;
        padding: 1rem 0.4rem;
        box-sizing: border-box;
        .demo-pagepd {
            // height: 100%;
            padding: 1rem 0rem;
            box-sizing: border-box;
            position: relative;
            height: 100%;
            .img-box {
                width: 27.25rem;
                height: 24rem;
                border: 1px solid #EAEAEA;
                img {
                    width: 100%;
                }
            }
            .img-box2 {
                width: 17.25rem;
                height: 25rem;
                img {
                    .imgCenter;
                }
            }
            .book-box {
                position: relative;
                height: 100%;
                img {
                    width: 100%;
                    height: inherit;
                    position: relative;
                    bottom: 1rem;
                }
            }
        }
    }
    .hk-book {
        padding: 1rem 3rem;
        width: 50%;
        p {
            text-align: center;
            font-size: 16px;
            color: #5665fa;
            padding: .5rem 0;
        }
    }
    .user-information {
        width: 100%;
        height: 24rem;
        background-color: #99ccff;
        border-radius: 1.25rem;
        padding: 0 3rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        >.information-box {
            display: flex;
            flex-direction: column;
            >div {
                display: flex; // justify-content: center;
                // padding: .35rem 5rem;
                box-sizing: border-box;
                padding: .4rem .25rem;
                label {
                    width: 7.5rem;
                    text-align: right;
                    padding-right: .675rem;
                    line-height: 2;
                    font-size: 20px;
                }
                input {
                    width: 15rem;
                }
            }
        }
    }
    .information-search {
        width: 100%;
        height: 25rem;
        background-color: #f5f5f5;
        padding: 1.25rem 1rem;
        box-sizing: border-box;
        border-radius: 0;
        display: flex;
        align-items: center;
        >div {
            padding: 1.25rem 0;
        }
        span {
            width: 15rem;
            line-height: 2;
            font-size: 20px;
        }
    }
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2.0625rem;
    .b-pd {
        padding: 0 5rem;
    }
}

.pay-box {
    padding: 1rem 1rem;
    .paymoney {
        display: flex;
        height: 4.375rem;
        flex-direction: row;
        justify-content: space-around;

        li {
            display: flex;
            flex-direction: row;
            .layui-form-radio {
                line-height: 4.375rem;
                padding: 0;
                margin: 0;
            }
        }
    }
    span {
        width: 11.5625rem;
        height: 4.375rem;
    }
}

//背景图
.wx {
    background-image: url(../image/wx.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.zfb {
    background-image: url(../image/zfb.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.yl {
    background-image: url(../image/yl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jh {
    width: 4.6875rem;
    height: 4.1875rem;
    background-image: url(../image/jh.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 10
}

.picture {
    width: 5.125rem;
    height: 5.125rem;
    background-image: url(../image/picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.pic {
    width: 100%;
    height: 100%;
    .pic-box {
        width: 100%;
        height: 100%;
        padding: 3rem 20.0rem;
        box-sizing: border-box;
        .img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .pic_box {
                width: 11.25rem;
                height: 14.375rem;
                display: flex;
                justify-content: center;
            }
        }
        p {
            text-align: center;
            font-size: 16px;
            color: #5665fa;
            padding: .5rem 0;
        }
    }
} //弹出层
.alert {
    display: flex;
    flex-direction: column;
    .alert-box {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        box-sizing: border-box;
        .success {
            display: flex;
            justify-content: center;
            width: 100%;
            .bingo {
                width: 4.5625rem;
                height: 4.5625rem;
            }
            >div {
                display: flex;
                align-items: center;
                padding: 0 1.0625rem;
                p {
                    font-size: 30px;
                    color: #45b366;
                }
            }
        }
    }

    p {
        font-size: 30px;
        text-align: center;
    }
    .p {
        font-size: 24px;
        text-align: center;
    }
    .btns {
        display: flex;
        justify-content: center;
        padding: 2.6875rem 0;
        button {
            padding: 0 3rem;
            margin: 0 1rem;
        }
    }
}


.pay-alert {
    display: flex;
    flex-direction: column;
    .alert-title {
        font-size: 1.25rem;
        text-align: center;
        color: #5665fa;
        padding: 1.5rem 0;
    }
    .pd {
        padding: 1rem 2.875rem;
        box-sizing: border-box;
        label {
            width: 10rem;
            text-align: left;
        }
        .form-cell>div {
            padding-left: 0;
        }
    }
    .pay-btn {
        display: flex;
        justify-content: center;
        button {
            padding: 0 3rem;
            position: relative;
        }
    }
}

.pd {
    padding: 2rem 2.875rem;
    .form-c {
        display: flex;
        padding: 0.5rem 0rem;
        label {
            width: 4rem;
            line-height: 3;
        }
        .flex-box {
            flex: 1;
            display: flex;
            position: relative;
            .layui-form-select {
                width: 100%;
            }
            .date-change {
                width: 100%;
                position: relative;
            }

            .date {
                position: absolute;
                right: 0.25rem;
                font-size: 1.5rem;
                color: #5665fa;
                top: 0.35rem;
            }
        }
        .test {
            width: 100%;
        }
        .test:before {
            content: "";
            border-bottom: 1px solid #cecdcd;
            position: absolute;
            width: 25%;
            top: 47%;
            left: 37%;
        }
    }
}

.button {
    width: 100%;
    padding-top: 0.75rem;
    display: flex;
    justify-content: center;
    >button {
        width: 100%;
    }
    .size {
        width: 17.25rem;
    }
}

.pding {
    padding: 0 24.875rem;
}

//消息详情
.pageList {
    display: flex;
    flex-direction: column;
    .pageTitle {
        text-align: center;
        p {
            font-size: 16px;
            line-height: 1.5625rem;
            color: #727272;
        }
    }
    .pagecontent {
        padding: 2.625rem 10.8rem;
        box-sizing: border-box;
        p {
            font-size: 16px;
            text-indent: 1.25rem;
            line-height: 2rem;
        }
    }
    .pagebtn {
        margin: 0 auto;
        button {
            padding: 0 7.625rem;
        }
    }
}

//新建消息
.center-main {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    .center-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        .label-title {
            width: 5rem;
            flex: 1;
            margin-top: 1.5rem;
            text-align: right;
            margin-right: 0.5rem;
        }
        .label-content {
            width: 100%;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            flex: 9;
            span {
                position: relative;
                right: 25px;
                top: 4px;
            }
            .label-top {
                display: flex;
                width: 100%;
                height: 50%;
                margin: .5rem 0;
                .flex-1 {
                    flex: 1;
                }
                .flex-5 {
                    flex: 5;
                }
            }
            .m0 {
                margin: 0;
            }
            .m5 {
                margin-top: .5rem;
                justify-content: space-around;
                .ckbox {
                    padding: 0 .5rem;
                }
            }
        }
        .wj {
            position: relative;
            left: 8rem;
            color: #5656fa;
            bottom: 1rem;
        }
        #wj {
            position: relative;
            left: 8rem;
        }
    }
    .btn-bo {

        width: 100%;
        text-align: center;
        left: 0;
        margin-top: 20px;

        button {
            padding: 0 4.25rem 0 4.25rem;
            box-sizing: border
        }
    }
}

.layui-btn-orange {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 7px 21px #F99D3A, 0px 10px 6px rgba(0, 0, 0, 0.9);
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

.layui-btn:active {
    box-shadow: 0px 3px 0px #aaa, 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

figure {
    width: 8.75rem;
    height: 8.75rem;
    figcaption {
        text-align: center;
        font-size: 2rem;
        color: #9999b0;
        font-weight: 700;
        padding: 2.1875rem 0;
    }
}

//认证成功
.rz-succcess {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

//帮村民找工作
.bg-color {
    background-color: transparent!important;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 1.3125rem 1.625rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.25rem;
    justify-content: space-between;
    margin: 0.75rem 0;
    .job {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .job-box {
            width: 3.4375rem;
            height: 3.4375rem;
        }
        .p-left {
            padding: 0 2.375rem;
        }
        span {
            color: #8c8c8c;
            padding: 0 0.4375rem;
            em {
                color: #8c8c8c;
                padding: 0 .4375rem;
            }
        }
    }
}

.number {
    font-size: 1.125rem;
    text-align: center;
}

.tel {
    width: 0.8125rem;
    height: 1.25rem;
    background-image: url(../image/tel.png);
    background-repeat: no-repeat;
} //工作详情
.more-news {
    display: flex;
    flex-direction: column;
    .more-title {
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 1.0rem;
            color: #5665fa;
        }
        span {
            font-size: 1.0rem;
            color: #;
        }
    }
    .imgbox {
        width: 1.625rem;
        height: 1.625rem;
    }
    .title-new {
        padding: 1.625rem 0;
        ul {
            display: flex;
            li {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                font-size: 1.0rem;
            }
        }
    }
    .treatment {
        font-size: 1rem;
        padding: 1.0625rem 0;
    }
    .btn {
        justify-content: center;
        padding-top: 5rem;
        button {
            margin: 0 3rem;
        }
    }
}

.Office {
    display: flex;
    flex-direction: row;
    width: 100%;
    .office-page {

        h4 {
            font-size: 1rem;
        }
    }
    .office-left {
        .office-main {

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .office-h4 {
                position: relative;
                padding: .2rem 0 0 1.5rem;
            }
            .office-gary {
                position: relative;
                width: 100%;
                padding: 2rem 1rem;
                box-sizing: border-box;

                display: flex;

                flex-direction: column;
                .gary {
                    background-color: #f5f5f5;
                    width: 20.4375rem;
                    height: 26.125rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .header-box {
                        width: 8.75rem;
                        height: 8.75rem;
                    }
                    .p-b {
                        padding: 2.125rem 4rem;
                        p {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
    .office-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        .office-mian {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            .large-box {
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                padding: 1.375rem 0;
            }
            .office-h4 {
                position: relative;
                padding: .2rem 3rem 0;
            }
            .office-information {
                display: flex;
                flex-direction: column;
                padding: 0rem 10.625rem;
                box-sizing: border-box;
                .information-box {
                    display: flex;
                    flex-direction: row;
                    padding: .5625rem 0rem;
                    label {
                        width: 5rem;
                        text-align: right;
                        font-size: 0.875rem;
                        padding: 0 1rem;
                        line-height: 2;
                    }
                    .input-box {
                        flex: 1;
                    }
                    .ppd {
                        flex: 1;
                        padding: 0 .5rem 0 0;
                    }
                }
            }
        }
    }
}

.office-h4:before {
    content: "";
    border-left: 3px solid #5665fa;
    position: relative;
    top: 20px;
    right: 6px;
}

.office-gary:after {
    content: "";
    border-right: 1px solid #efefef;
    position: absolute;
    bottom: 2.0625rem;
    left: right;
    height: 100%;
    right: 0;
}

.off:after {
    content: "";
    border-bottom: 1px solid #efefef;
    position: absolute;
    top: 1.25rem;
    left: 2.0rem;
    /* height: 89%; */
    width: 90%;
}

.butt {
    // display: inline-block;
    // position: relative;
    // text-align: center;
    // text-decoration: none;
    // text-shadow: 0px 1px 0px rgb(204, 204, 204);
    // -webkit-border-radius: 30px;
    // -moz-border-radius: 30px;
    // border-radius: 30px;
    // box-shadow: 1px 5px 1px rgba(86, 101, 250, .85), inset 2px 3px 9px rgba(255, 255, 255, 0.44);
    // -webkit-transition: all 0.15s ease;
    // -moz-transition: all 0.15s ease;
    // -o-transition: all 0.15s ease;
    // -ms-transition: all 0.15s ease;
    // transition: all 0.15s ease;
    // background: linear-gradient( #5660fa 45%, #5665fa 55%);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 1rem;
    box-shadow: inset 0 0.3rem 0.2rem rgba(86, 101, 250, .85,0.2), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    height: 2.5rem;
    text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
}
.bttn-green{
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 1rem;
    box-shadow: inset 0 0.3rem 0.2rem rgba(48, 193,20, .85,0.2), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    height: 2.5rem;
    text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2)
}
.bttn-orange{
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 1rem;
    box-shadow: inset 0 0.3rem 0.2rem rgba(249, 157,58, .85,0.2), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    height: 2.5rem;
    text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2)
}
.bttn-red{
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 1rem;
    box-shadow: inset 0 0.3rem 0.2rem rgba(190,11,32, .85,0.2), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    height: 2.5rem;
    text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2)
}