/* 初始化 */
html,
body,
header,
footer,
nav,
header,
footer,
div,
ul,
li,
img,
a,
span,
em,
form,
p,
i,
label,
input,
button,
textarea,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}
html {
  font-size: 16px;
}
html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #FFF;
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
nav,
header,
footer {
  display: block;
  position: relative;
}
img,
a,
button,
em,
label,
textarea,
span,
i {
  display: inline-block;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
label {
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  border: 0;
  font-size: 1em;
  line-height: 1em;
  font-family: sans-serif;
  text-decoration: none;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
button {
  outline: none;
  cursor: pointer;
}
table {
  width: 100%;
}
/* 进度条 */
body {
  scrollbar-face-color: #C0C5CC;
  /*面子*/
  scrollbar-arrow-color: #f9f9f9;
  /*箭头*/
  scrollbar-3dlight-color: #D8D9DE;
  /*最外左*/
  scrollbar-highlight-color: #D8D9DE;
  /*左二*/
  scrollbar-shadow-color: #D8D9DE;
  /*右二*/
  scrollbar-darkshadow-color: #D8D9DE;
  /*右一*/
  scrollbar-track-color: #D8D9DE;
  /*滑道*/
}
/* 滚动条整体 */
::-webkit-scrollbar {
  width: 6px;
  /*滚动条宽度*/
  height: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  /*滑道*/
  background: linear-gradient(to right, #D8D9DE, #E6E8EC 100%);
  background: -webkit-linear-gradient(to right, #D8D9DE, #E6E8EC 100%);
  border-radius: 9px;
  /*滑道圆角宽度*/
}
::-webkit-scrollbar-thumb {
  background-color: #93C7F5;
  /*滑动条表面*/
  border-radius: 9px;
  /*滑动条圆角宽度*/
}
::-webkit-scrollbar-corner {
  /*横竖滚动条交角*/
  background-color: transparent;
}
/* 公用 */
.df {
  display: -ms-flexbox;
  display: flex;
}
.flexdc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flexac {
  -ms-flex-align: center;
      align-items: center;
}
.flexjc {
  -ms-flex-pack: center;
      justify-content: center;
}
.flexcc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flexdcc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flexcb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.flexwp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex1 {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}
.dib {
  display: inline-block;
  vertical-align: middle;
}
.p0 {
  padding: 0rem !important;
}
.p-5 {
  padding: .5rem !important;
}
.p-675 {
  padding: .675rem !important;
}
.p-75 {
  padding: .75rem !important;
}
.p1 {
  padding: 1rem !important;
}
.p2 {
  padding: 2rem !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.fclp-3 .form-cell label {
  width: 3em;
}
.fclp-4 .form-cell label {
  width: 4em;
}
.fclp-5 .form-cell label {
  width: 5em;
}
.fclp-6 .form-cell label {
  width: 6em;
}
.fclp-7 .form-cell label {
  width: 7em;
}
.fclp-8 .form-cell label {
  width: 8em;
}
.fclp-9 .form-cell label {
  width: 9em;
}
.fclp-10 .form-cell label {
  width: 10em;
}
.ovy-a {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.hidden {
  display: none;
}
.ov1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ov2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.img-box {
  position: relative;
  margin: 0 auto;
  font-size: 0;
}
.imgCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.bgc {
  background-size: contain;
  background-position: center;
}
.bgs {
  background-size: cover;
  background-position: center;
}
.bga {
  background-size: 100% 100%;
  background-position: center;
}
.c-blue {
  color: #7f84f1!important;
}
.c-blued {
  color: #6c72ef;
}
.bgc-green {
  background-color: #3DC45D;
}
.bgc-greenl {
  background-color: #5CB85C;
}
.bgc-orange {
  background-color: #F99D3A;
}
.bgc-red {
  background-color: #FF573B;
}
.bgc-blue {
  background-color: #29C3FF;
}
.bgc-violet {
  background-color: #BD85F9;
}
.bgc-blued {
  background-color: #5665FA;
}
.bgc-redd {
  background-color: #E33A1D;
}
.back-hui {
  background-color: #F0F8FA;
}
/* 重置layui样式 */
.layui-table,
.layui-table-view {
  margin: 0;
}
.layui-btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 1rem;
}
.layui-input:disabled,
.select-dis:disabled,
.layui-select-disabled .layui-disabled,
.layui-textarea:disabled {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.layui-textarea {
  resize: none;
}
.layui-btn-primary:hover {
  color: #409EFF;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.layui-form-item .layui-input-block ul {
  min-height: auto !important;
  padding-top: 1px;
  box-sizing: border-box;
}
.layui-form-item .layui-input-block ul .layui-xtree-item {
  line-height: 25px;
}
.layui-form-item .layui-xtree-checkbox + .layui-form-checkbox[lay-skin=primary] {
  margin-top: 0px;
}
.layui-input:focus,
.layui-textarea:focus {
  border-color: #749DFB!important;
}
/* 结构 */
body {
  overflow: hidden;
  position: relative;
}
@keyframes navHoverd {
  0% {
    opacity: 0;
    transform: scale(0.45, 0.45);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
/* 首页页面 */
.ipage-padding {
  height: 100%;
  padding: .675rem;
  box-sizing: border-box;
}
.ipage-padding .ipage-seat {
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 10px 0 #EBEBEB;
  position: relative;
}
.ipage-table.grid-table thead tr td {
  height: auto;
}
.ipage-table.grid-table tr td span {
  letter-spacing: .5px;
}
.ipage-rseat {
  height: 100%;
}
.ipage-rseat ul {
  height: 100%;
}
.ipage-rseat ul li {
  height: 33.3333%;
  padding: .325rem 0;
  box-sizing: border-box;
}
.ipage-rseat ul li a {
  height: 100%;
  background-color: #F5F5F6;
  padding: 0 .5rem;
  box-sizing: border-box;
  font-size: .75rem;
  width: 100%;
}
.ipage-rseat ul li a .seat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
}
.ipage-rseat ul li a .seat div {
  color: #555656;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ipage-rseat ul li a .seat p {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  color: #ababac;
}
.ipage-rseat ul li a .seat p span {
  margin-top: .25rem;
}
.indexPage {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.indexPage .ipage-overview {
  display: -ms-flexbox;
  display: flex;
}
.indexPage .ipage-overview .ipage-padding {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}
.indexPage .ipage-overview .ipage-padding .ipage-seat {
  display: -ms-flexbox;
  display: flex;
  height: 4.8125rem;
  overflow: hidden;
}
.indexPage .ipage-overview .ipage-padding .ipage-seat .img-box {
  width: 4.125rem;
  height: 100%;
}
.indexPage .ipage-overview .ipage-padding .ipage-seat .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.indexPage .ipage-overview .ipage-padding .ipage-seat .word-box {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.indexPage .ipage-overview .ipage-padding .ipage-seat .word-box p {
  font-size: .875rem;
  color: #575656;
  margin-bottom: .325rem;
}
.indexPage .ipage-overview .ipage-padding .ipage-seat .word-box b {
  font-size: 1.125rem;
  color: #383838;
}
.indexPage .ipage-matter {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  height: 100%;
  font-size: 0;
  overflow: hidden;
}
.indexPage .ipage-matter .ipage-lists {
  height: 55%;
}
.indexPage .ipage-matter .ipage-lists:first-child {
  height: 45%;
  overflow: hidden;
}
.indexPage .ipage-matter .ipage-lists:first-child .ipage-padding {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 60%;
}
.indexPage .ipage-matter .ipage-lists:first-child .ipage-padding:first-child {
  width: 40%;
}
.indexPage .ipage-matter .ipage-lists .ipage-seat {
  padding: 3.5rem .75rem .75rem .75rem;
  box-sizing: border-box;
  position: relative;
}
.indexPage .ipage-matter .ipage-lists .ipage-seat.ipageRseat-padding {
  padding-top: 3.175rem;
}
.indexPage .ipage-matter .ipage-lists .ipage-list-title {
  position: absolute;
  top: .75rem;
  left: .75rem;
  right: .75rem;
  box-sizing: border-box;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: .75rem;
  display: -ms-flexbox;
  display: flex;
}
.indexPage .ipage-matter .ipage-lists .ipage-list-title p {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  padding-left: .325rem;
  box-sizing: border-box;
  font-size: .875rem;
  color: #575656;
  border-left: 4px solid #7F84F1;
}
.indexPage .ipage-matter .ipage-lists .ipage-list-title > a {
  font-size: .8125rem;
  color: #7f84f1;
  cursor: pointer;
}
.indexPage .ipage-matter .ipage-lists .ipage-list-title > a:hover,
.indexPage .ipage-matter .ipage-lists .ipage-list-title > a:active {
  color: #5665FA;
}
.indexPage .ipage-matter .ipage-lists .ipage-list-contant {
  height: 100%;
  position: relative;
}
/* 页面 */
.pageContol {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #F5F5F5;
}
.framePage {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: .675rem;
  box-sizing: border-box;
  position: relative;
}
.framePage .framePage-title {
  height: 3.25rem;
  line-height: 3.25rem;
  background-color: #fff;
  padding: 0 1rem;
  margin-bottom: 1.3rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #EBEBEB;
}
.framePage .framePage-title i {
  color: #444444;
  font-size: 1rem;
  font-style: normal;
  margin: 0 .2rem;
}
.framePage .framePage-title a {
  color: #444444;
  font-size: 1.5rem;
}
.framePage .framePage-title a:hover,
.framePage .framePage-title a.cur-a {
  color: #5665fa;
}
.framePage .framePage-body {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 1rem .675rem;
  box-sizing: border-box;
}
.framePage .framePage-body .framePage-scroll {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: .675rem 0;
  box-sizing: border-box;
}
.framePage .framePage-body .framePage-scroll .ovy-a {
  padding: 0 .675rem;
  box-sizing: border-box;
}
.framePage .layui-input {
  display: inline-block;
  vertical-align: middle;
  line-height: 2rem !important;
  height: 2rem !important;
  font-size: .875rem;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.framePage .layui-input::-webkit-input-placeholder {
  color: #999;
}
.framePage .layui-input:-ms-input-placeholder {
  color: #999;
}
.framePage .layui-input::placeholder {
  color: #999;
}
.framePage .xm-select {
  padding: 0 0 0 10px !important;
  min-height: auto !important;
}
.empty-seat {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -100px;
}
.empty-seat .empty-img {
  width: 150px;
}
.empty-seat .empty-img img {
  width: 100%;
}
.operationControl {
  padding-bottom: .675rem;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.operationControl > div {
  font-size: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.operationControl button {
  line-height: 2rem;
  height: 2rem;
  font-size: .875rem;
  padding: 0 10px;
}
.operationControl input {
  width: auto;
  margin-right: 10px;
}
.operationControl .layui-unselect.layui-form-select {
  display: inline-block;
  margin-right: 10px;
  font-size: .875rem;
  vertical-align: middle;
}
.operationControl .layui-unselect.layui-form-select input {
  margin-right: 0;
  width: 8rem;
}
.pageNum {
  text-align: right;
}
.pageNum .layui-laypage {
  margin: 0;
}
.pageNum .layui-laypage a,
.pageNum .layui-laypage span {
  margin-bottom: 0;
  padding: 0px 14px;
  height: 25px;
  line-height: 25px;
}
.pageNum .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #749DFB;
}
.operationBtns {
  margin-top: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.operationBtns.operationBtnsShort {
  width: 80%;
  margin: 2rem auto 0;
}
.operationBtns.operationBtnsShort > div {
  margin-bottom: 1rem;
}
.operationBtns.operationBtnsShort > div:last-child {
  margin-bottom: 0;
}
.operationBtns > div {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  min-height: 35px;
  padding: 0 .5rem;
  box-sizing: border-box;
}
.operationBtns > div button {
  width: 100%;
}
.textarea textarea {
  resize: none;
  padding: 0.8rem;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border-radius: 6px;
  border: 0;
  width: 100%;
  font-size: 1rem;
}
.hint-word {
  margin-top: 1rem;
  padding: 0 .25rem;
  box-sizing: border-box;
}
.hint-word p {
  line-height: 1.8;
  color: #727273;
}
.layui-layer-photos {
  min-height: 100px;
  min-width: 100px;
}
.photosControl {
  text-align: center;
  overflow: hidden;
  margin-top: -2rem;
}
.photosControl .photoBox {
  width: 20%;
  float: left;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.photosControl .photoBox .img-box {
  height: 0;
  padding-top: 150%;
  background-color: #F5F5F6;
}
.photosControl .photoBox .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}
.photosControl .photoBox .btn-box {
  padding-top: 1rem;
  box-sizing: border-box;
}
.photosControl .photoBox .btn-box button {
  border-radius: 0.5rem;
}
.scroll-title {
  background-color: #ECF4FB;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.scroll-title ul {
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  overflow: hidden;
  padding: 1.5rem;
  box-sizing: border-box;
}
.scroll-title ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: .875rem;
}
.scroll-title ul li label {
  font-weight: bolder;
}
.table-thead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 6px;
}
.layui-table tbody td:nth-child(2n-1) {
  color: #aaa;
}
.layui-tableBlue thead tr {
  background-color: #ECF4FB;
}
.layui-tableBlue tbody td:nth-child(2n-1) {
  color: #666;
}
.tdCheckbox .layui-form-checkbox {
  height: 1rem;
  line-height: 1rem;
  padding-right: 0;
  margin-right: 0;
}
.tdCheckbox .layui-form-checkbox i {
  position: static;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: .125rem;
  border-left: 1px solid #d2d2d2;
}
.grid-table {
  font-size: .75rem;
  color: #555656;
}
.grid-table thead tr {
  background-color: #fff;
}
.grid-table tbody tr:last-child td {
  border-bottom: none;
}
.grid-table tr {
  background-color: #F5F5F6;
}
.grid-table tr td {
  min-width: 4em;
  height: 2rem;
  border-bottom: .5rem solid #fff;
  text-align: center;
  font-size: .75rem;
}
.grid-table tr td span {
  letter-spacing: .25px;
}
.grid-table tr td.operation {
  white-space: nowrap;
}
.grid-table tr td .layui-btn {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: .85rem;
}
/* 服务管理 */
.form-cell {
  font-size: .875rem;
  padding-bottom: .675rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.form-cell label {
  text-align: right;
  height: 2rem;
  line-height: 2rem;
  color: #232323;
}
.form-cell label b {
  color: #c52a15;
}
.form-cell > div {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  height: 2rem;
  line-height: 2rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.form-cell > div.hasTextarea {
  height: auto;
}
.serviceOperation {
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  padding-bottom: .675rem;
}
.serviceOperation .soseat {
  width: auto;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
}
.serviceOperation .soseat > div {
  padding: 0 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.serviceOperation .soseat .inputBox {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  padding-left: 0;
}
.serviceOperation .soseat .radioBox .layui-form-radio {
  margin: 0;
  padding-right: 0;
}
.serviceOperation .soseat .radioBox .layui-form-radio div {
  min-width: 3em;
}
.serviceOperation .soseat .radioBox .layui-form-radio > i:hover,
.serviceOperation .soseat .radioBox .layui-form-radioed > i {
  color: #5665FA;
}
.serviceOperation .soseat .buttonBox {
  padding-right: 0;
  text-align: center;
  padding-bottom: .675rem;
  box-sizing: border-box;
}
.serviceOperation .soseat .buttonBox button {
  padding: .325rem 2.75rem;
  height: auto;
  font-size: 1rem;
}
.serviceMenu {
  padding-top: .675rem;
  box-sizing: border-box;
}
.serviceMenu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.serviceMenu ul li {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  padding: 0 .125rem;
  box-sizing: border-box;
}
.serviceMenu ul li:hover {
  opacity: .8;
}
.serviceMenu ul li:hover span,
.serviceMenu ul li:active span,
.serviceMenu ul li.cur-smenu span {
  color: #fff;
  background-color: #5665FA;
}
.serviceMenu ul li span {
  display: block;
  font-size: .875rem;
  color: #3a3a3a;
  text-align: center;
  background-color: #DADADA;
  cursor: pointer;
  line-height: 2.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.serviceTap {
  padding: .65rem;
  box-sizing: border-box;
}
.serviceTap li {
  display: none;
}
.serviceTap li.cur-stap {
  display: block;
}
.serviceTap li .layui-layedit {
  margin-bottom: .675rem;
}
.serviceTap li .layui-layedit .layui-layedit-tool:empty {
  padding: 0;
  border-bottom: none;
}
.formControl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.formControl .form-cell {
  width: 50%;
}
.formControl .form-cell.form-long {
  width: 100%;
}
.formControl .form-cell .layui-textarea {
  font-size: .875rem;
  border-radius: 5px;
  resize: none;
  min-height: 2em;
}
.textareals .textareals-cell {
  margin-bottom: .675rem;
  display: -ms-flexbox;
  display: flex;
}
.textareals .textareals-cell label {
  width: 10%;
  line-height: 98px;
  text-align: center;
  border: 1px solid #E6E6E6;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #EEEEEE;
}
.textareals .textareals-cell .layui-textarea {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}
.textareals .textareals-cell .layui-layedit {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.serviceTableBox .serviceTableBtn {
  text-align: right;
}
.serviceTableBox .serviceTable {
  padding: .675rem 0;
  box-sizing: border-box;
}
.serviceTableBox .serviceTable table {
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}
.serviceTableBox .serviceTable table thead {
  background-color: #F5F5F6;
}
.serviceTableBox .serviceTable table tr td {
  text-align: center;
  font-size: .75rem;
  padding: 0 .25rem;
  box-sizing: border-box;
  height: 2.5rem;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.formImgs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.formImgs input {
  display: none;
}
.formImgs .img-box {
  margin-bottom: .675rem;
}
.formImgs .img-box:hover i {
  display: block;
}
.formImgs .img-box i {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: .5rem;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
.formBtn {
  text-align: center;
  padding-top: .675rem;
}
.formBtn button {
  padding: 0 8rem;
}
.formBtn button:disabled {
  cursor: not-allowed;
  background-color: #DADADA;
}
.formBtn button:disabled:hover {
  background-color: #DADADA;
}
.formBtn.formImgBtn {
  padding: 0 3rem;
  padding-bottom: .675rem;
}
/* 弹出层 */
.layui-popUp .layui-layer-title {
  font-size: 1.125rem;
}
.layui-popUp .layui-layer-content {
  border-bottom: 1px solid #dedede;
  padding-top: 15px;
}
.layui-popUp .layui-form {
  padding-right: 15px;
  box-sizing: border-box;
}
.layui-formSort {
  overflow: hidden;
}
.layui-formSort .layui-form-item {
  width: 50%;
  float: left;
  clear: none;
}
.layui-formSort .layui-form-item b {
  color: #c52a15;
}
.layui-formSort .layui-form-item.form-item-long {
  width: 100%;
}
/* 图标 */
i.icon-search {
  background: url('../image/icon-search.png') 0 0 no-repeat;
  background-size: cover;
  background-position: center;
}
/* 适配 */
@media only screen and (max-width: 1600px) {
  html {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 16px !important;
  }
}
