.flex-1 {
  -ms-flex: 1;
      flex: 1;
}
.df {
  display: -ms-flexbox;
  display: flex;
}
.flexdc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flexac {
  -ms-flex-align: center;
      align-items: center;
}
.flexjc {
  -ms-flex-pack: center;
      justify-content: center;
}
.flexcc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flexdcc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flexcb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.flexwp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex1 {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}
.dib {
  display: inline-block;
  vertical-align: middle;
}
.hidden {
  display: none;
}
.ov1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ov2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.bs {
  box-sizing: border-box;
}
.c-blue {
  color: #7f84f1;
}
.c-blued {
  color: #6c72ef;
}
.c-bluedd {
  color: #5665fa;
}
.c-hs {
  color: #555656;
}
.bgc-green {
  background-color: #3DC45D;
}
.bgc-greenl {
  background-color: #5CB85C;
}
.bgc-greenll {
  background-color: #30c114;
}
.bgc-orange {
  background-color: #F99D3A;
}
.bgc-red {
  background-color: #FF573B;
}
.bgc-blue {
  background-color: #29C3FF;
}
.bgc-violet {
  background-color: #BD85F9;
}
.bgc-blued {
  background-color: #5665FA;
}
.bgc-redd {
  background-color: #E33A1D;
}
.back-hui {
  background-color: #F0F8FA;
}
.login_wrap {
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f6 url('../image/login_bc.png');
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  background-repeat: no-repeat;
}
.login_wrap .login_title {
  padding-top: 7.562rem;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
}
.login_wrap .login_title img {
  width: 58px;
  height: 58px;
}
.login_wrap .login_title h2 {
  margin-left: 0.55rem;
  margin-top: 0.8rem;
  font-weight: 800;
  font-size: 1.875rem;
  color: #404549;
  letter-spacing: 2px;
}
.login_wrap .login_form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem;
  -ms-flex: 1;
      flex: 1;
}
.login_wrap .login_form .login_box {
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 30%;
  -ms-flex-direction: column;
      flex-direction: column;
}
.login_wrap .login_form .login_box p {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1.25rem;
}
.login_wrap .login_form .login_box .form_input {
  padding: 0 1.875rem 0;
}
.login_wrap .login_form .login_box .form_input .login_input {
  background-color: #e5e5e5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  height: 2.5rem;
  border-radius: 4px;
  margin-bottom: 14px;
}
.login_wrap .login_form .login_box .form_input .login_input > div i {
  line-height: 2.5rem;
  font-size: 1.2rem;
  margin: 0  0.5rem ;
  color: #969899;
}
.login_wrap .login_form .login_box .form_input .login_input > div input {
  background-color: #e5e5e5;
  font-size: 1rem;
  height: 2.5rem;
}
.login_wrap .login_form .login_box .form_btn {
  padding: 0 1.875rem 0.625rem;
  display: -ms-flexbox;
  display: flex;
}
.login_wrap .login_form .login_box .form_btn button {
  width: 100%;
  font-size: 1.25rem;
}
.login_wrap .login_bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 1.875rem;
}
.login_wrap .login_bottom p {
  margin: 0 auto;
  color: #898989;
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
}
.login_wrap .login_bottom p img {
  width: 17px;
  height: 20px;
}
/* 首页 */
.index {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.index .header_nav {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}
.index .header_nav .header {
  background-color: #282c2f;
  height: 2.938rem;
  box-sizing: border-box;
  position: relative;
  box-shadow: 2px 2px 12px 0 #EEEEEE;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.index .header_nav .header .header-title {
  height: 3rem;
  box-sizing: border-box;
  padding: 0.625rem 0 0.875rem 1.312rem;
  transition: all .3s;
}
.index .header_nav .header .header-title .seat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.index .header_nav .header .header-title .seat .img-box {
  width: 2rem;
}
.index .header_nav .header .header-title .seat h4 {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 500;
  padding-left: .5rem;
  box-sizing: border-box;
  color: #fff;
}
.index .header_nav .header .header-btn {
  display: -ms-flexbox;
  display: flex;
}
.index .header_nav .header .header-btn .seat > div {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.index .header_nav .header .header-btn .seat > div:first-child .headr-btn-title {
  border-left: none;
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title {
  min-width: 3.9375rem;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 0 .84375rem;
  cursor: pointer;
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title .img-box {
  display: inline-block;
  vertical-align: middle;
  width: 1.875rem;
  font-size: 0;
  margin-left: .25rem;
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title .img-box i {
  position: absolute;
  background-color: #C12E11;
  border-radius: 16px;
  font-size: 12px;
  color: #fff;
  min-width: 16px;
  padding: 0 2px;
  box-sizing: border-box;
  height: 16px;
  line-height: 16px;
  top: -0.5rem;
  right: -0.1rem;
  transform: scale(0.7);
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title .img-box img {
  width: 19px;
  height: auto;
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title .img-box .user-img {
  width: 23px;
  height: auto;
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title .img-box .locl-img {
  width: 12px;
  height: 16px;
}
.index .header_nav .header .header-btn .seat > div .headr-btn-title > span {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-size: .875rem;
  line-height: normal;
  color: #e3e3e3;
}
.index .index-content {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.index .index-content .menu {
  transition: all .3s;
  width: 3rem;
  height: 100%;
  background-color: #282c2f;
  position: relative;
  z-index: 1;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.index .index-content .menu.menu-cur {
  width: 11.25rem;
}
.index .index-content .menu .seat {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.index .index-content .menu .seat .img-box {
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 0;
}
.index .index-content .menu .seat .img-box img {
  height: auto;
  width: 24px;
}
.index .index-content .menu .header {
  overflow: hidden;
}
.index .index-content .menu .header .nav-title .seat {
  font-size: 0;
  padding: .75rem;
}
.index .index-content .menu .header .nav-title .seat:active,
.index .index-content .menu .header .nav-title .seat:hover {
  background-color: #282c2f;
}
.index .index-content .menu .control {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  overflow-y: auto;
}
.index .index-content .menu .control .nav {
  overflow-y: auto;
}
.index .index-content .menu .control .nav::-webkit-scrollbar {
  display: none;
}
.index .index-content .menu .control .nav > ul a {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
}
.index .index-content .menu .control .nav > ul a span {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index .index-content .menu .control .nav > ul > li {
  padding: .5rem 0;
}
.index .index-content .menu .control .nav > ul > li:hover > .seat {
  background-color: #282C2F;
  border-bottom-color: #282c2f;
}
.index .index-content .menu .control .nav > ul > li > .seat {
  padding: .75rem 0;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
}
.index .index-content .menu .control .nav > ul > li > .seat .img-box {
  padding-left: .75rem;
  box-sizing: content-box;
}
.index .index-content .menu .control .nav > ul > li > .seat span {
  padding-left: .75rem;
  box-sizing: content-box;
}
.index .index-content .menu .control .nav > ul > li > .seat:hover {
  background-color: #333847;
}
.index .index-content .menu .control .nav > ul > li > .seat.nava-cur {
  background-color: #282c2f;
  border-bottom-color: #282c2f;
}
.index .index-content .menu .control .nav > ul > li > .seat.nava-cur + ul {
  max-height: 40rem;
}
.index .index-content .menu .control .nav > ul > li > .seat.navi-cur + ul {
  transition: all .2s;
  max-height: 0;
}
.index .index-content .menu .control .nav > ul > li ul {
  overflow: hidden;
  max-height: 0rem;
  transition: all .6s;
  background-color: #282c2f;
}
.index .index-content .menu .control .nav > ul > li ul li {
  width: 100%;
}
.index .index-content .menu .control .nav > ul > li ul li.nav-cur,
.index .index-content .menu .control .nav > ul > li ul li:active,
.index .index-content .menu .control .nav > ul > li ul li:hover {
  background-color: #333847;
}
.index .index-content .menu .control .nav > ul > li ul li .seat {
  padding: .5rem 0;
  text-align: center;
  font-size: .875rem;
}
.index .index-content .menu .control .nav > ul > li ul li .seat a {
  -ms-flex-pack: center;
      justify-content: center;
}
.index .index-content .pageContol {
  height: 100%;
  background-color: #F5F5F5;
  -ms-flex: 1;
      flex: 1;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.index .index-content .pageContol .pageContol-top {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}
.index .index-content .pageContol .pageContol-top .notice-list {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #fff;
  padding: 0.875rem 1.188rem 0 1.0rem;
  margin-right: 0.875rem;
}
.index .index-content .pageContol .pageContol-top .notice-list .notice-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 0.5rem;
}
.index .index-content .pageContol .pageContol-top .notice-list .notice-top span {
  border-left: 4px solid #5078fa;
  padding-left: 0.5rem;
  font-weight: 700;
  font-size: 14px;
  color: #575656;
}
.index .index-content .pageContol .pageContol-top .notice-list .notice-top a {
  color: #5078fa;
}
.index .index-content .pageContol .pageContol-top .notice-list .notice-bottom {
  border-top: 1px solid #efefef;
  padding: 0.875rem 0.188rem 1.062rem;
}
.index .index-content .pageContol .pageContol-top .notice-list .notice-bottom ul li {
  background-color: #f5f5f6;
  padding: 0.812rem 0.625rem;
  margin-bottom: 0.688rem;
  color: #555656;
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.index .index-content .pageContol .pageContol-top .notice-list .notice-bottom ul li .notice-date {
  color: #ababac;
}
.index .index-content .pageContol .pageContol-top .number-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.index .index-content .pageContol .pageContol-top .number-box .num-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1.125rem 0 0.875rem;
  width: 48%;
}
.index .index-content .pageContol .pageContol-top .number-box .num-box img {
  width: 15%;
  height: auto;
}
.index .index-content .pageContol .pageContol-top .number-box .num-box span {
  line-height: 1.75rem;
  color: #fff;
  font-size: 14px;
}
.index .index-content .pageContol .pageContol-top .number-box .num-box b {
  color: #fff;
  font-size: 14px;
}
.index .index-content .pageContol .pageContol-top .number-box .mr {
  margin-right: 0.875rem;
}
.index .index-content .pageContol .pageContol-top .number-box .mb {
  margin-bottom: 0.875rem;
}
.index .index-content .pageContol .pageContol-bottom {
  width: 100%;
  height: 56%;
  margin-top: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
}
.index .index-content .pageContol .pageContol-bottom .data-description {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: .875rem .875rem;
  box-sizing: border-box;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-top {
  display: -ms-flexbox;
  display: flex;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-top span {
  border-left: 4px solid #5078fa;
  padding-left: 0.5rem;
  font-weight: 700;
  font-size: 14px;
  color: #575656;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-bottom {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-bottom .description-box {
  width: 33.3%;
  height: 100%;
  padding: 1.125rem 2.0rem;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-direction: column;
      flex-direction: column;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-bottom .description-box .box-word {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-bottom .description-box .box-word .demo {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-bottom .description-box .box-word .demo > div {
  width: 100%;
  margin: 0 auto;
}
.index .index-content .pageContol .pageContol-bottom .data-description .description-bottom .description-box .word {
  padding: 1.25rem 1.438rem 1.875rem;
  box-sizing: border-box;
}
.form_cell {
  font-size: 1.25rem;
}
.content {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
}
.content h2 {
  font-size: 1.125rem;
  color: #555656;
  font-weight: 500;
}
.content p {
  color: #ccc;
  font-size: 16px;
}
.content .content_form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 1.0rem;
}
.content .content_form .form_box {
  background-color: #f7f7f7;
  padding: 1.312rem 1.5rem;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
}
.content .content_form .form_box h3 {
  font-size: 1.0rem;
  color: #373636;
}
.content .content_form .form_box h3 span {
  color: #5665fa;
}
.content .content_form .form_box .inputBox {
  padding: 1.875rem 4.375rem 0 4.375rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .content_form .form_box .inputBox .form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}
.content .content_form .form_box .inputBox .form .form-cell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 100%;
  position: relative;
}
.content .content_form .form_box .inputBox .form .form-cell .label {
  margin-right: 2.25rem;
}
.content .content_form .form_box .inputBox .form .form-cell .label_h {
  margin-left: -1rem;
}
.content .content_form .form_box .inputBox .form .form-cell img {
  position: absolute;
  top: 0.5rem;
  right: .5rem;
  width: 1.2rem;
  height: auto;
}
.content .content_form .form_box .inputBox .form .form-cell i {
  float: left;
}
.content .content_form .form_box .inputBox .form .form-cell span {
  float: none;
}
.content .content_form .form_box .inputBox .form .form-cell .ml {
  margin-left: 1rem;
}
.content .content_form .form_box .inputBox .form .form_cell {
  margin-bottom: 1.25rem;
}
.content .content_form .form_box .inputBox .form .mb {
  margin-bottom: 0;
}
.content .content_form .form_box .inputBox .form_l {
  margin-left: 6rem;
}
.content .content_form .mb {
  margin-bottom: 0;
}
.content .formBtn {
  padding-top: 0.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.content .formBtn button {
  line-height: 2.75rem;
  height: 2.75rem;
}
.content .title h2 {
  font-weight: 500;
  color: #555656;
  font-size: 1.25rem;
  margin-bottom: 2.375rem;
}
.content .title p span {
  line-height: 2.562rem;
  font-size: 1.25rem;
  color: #373636;
  display: block;
}
.content .img_wrap {
  -ms-flex: 1;
      flex: 1;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.content .img_wrap .img_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 1.125rem 0 0;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
}
.content .img_wrap .img_box .img_bgc {
  padding: 8.812rem 5.562rem;
  background: url('../image/img_03.png');
  background-size: 100% auto;
  box-sizing: border-box;
}
.content .img_wrap .img_box .img_bgc img:hover {
  cursor: pointer;
}
.content .img_wrap .img_box .img_bgc input {
  display: none;
}
.content .img_wrap .img_box .img_word {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 1.25rem 0;
  box-sizing: border-box;
  -ms-flex-direction: column;
      flex-direction: column;
}
.content .img_wrap .img_box .img_word > span {
  font-size: 1.0rem;
  color: #575757;
  margin-left: 0.438rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.content .img_wrap .img_box .img_word > span i {
  width: .8125rem;
  height: .8125rem;
  min-width: .8125rem;
  display: inline-block;
  background: url('../image/close.png');
  background-size: cover;
  background-position: center;
  margin-left: .5rem;
}
.content .img_wrap .img_box .img_word > span input {
  display: none;
}
.content .img_wrap .img_box .img_word span:before {
  content: '';
  width: .6875rem;
  height: .90625rem;
  display: inline-block;
  background: url('../image/wj.png');
  background-size: cover;
  background-position: center;
  margin-top: -0.4375rem;
}
.content .formBtn1 {
  padding: 0;
}
.content .formBtn1 button {
  padding: 0 6rem;
  text-align: center;
  box-sizing: border-box;
}
.content .formBtn1 #close {
  margin-right: 1.938rem;
}
.content .information_title h2 {
  margin-bottom: 1.0rem;
  padding-left: 0.875rem;
  box-sizing: border-box;
}
.content .information_title p {
  background-color: #f5f5f5;
  padding: 1.125rem 2.25rem;
  box-sizing: border-box;
}
.content .information_title p span {
  line-height: 2.0rem;
}
.content .information_title p span b {
  color: #5665fa;
  font-weight: 400;
}
.content .img_content {
  padding: 2.562rem 3rem 5.062rem;
  box-sizing: border-box;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .img_content .img_left {
  margin-right: 1.625rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .img_content .img_left .img1 {
  margin-right: 3.125rem;
}
.content .img_content .img_left .img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.content .img_content .img_left .img button {
  margin-top: 0.75rem;
  width: 100%;
}
.content .img_content .img_right {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.content .img_content .img_right .form_warp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0.5rem 1.125rem;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.content .img_content .img_right .form_warp .form_cell {
  padding-bottom: 0.1rem;
}
.content .img_content .img_right .form_warp .idcard_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.content .img_content .img_right .form_warp .idcard_box img {
  width: 37px;
  height: 29px;
  margin-left: 0.625rem;
}
.content .img_content .img_right button {
  margin: 0 auto;
  margin-top: 0.75rem;
  width: 16.75rem;
  background-color: #5665FA;
  -ms-flex-align: center;
      align-items: center;
}
.content .news_title p {
  display: -ms-flexbox;
  display: flex;
}
.content .news_title p span {
  display: inline-block;
}
.content .news_title p .mr {
  margin-right: 7.375rem;
}
.content .content_form .form-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.content .content_form .form-wrap h3 {
  background: url('../image/title_bg.png');
  color: #fff;
  font-size: 1.25rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 0.4rem 3.438rem 0.875rem 1.75rem;
  box-sizing: border-box;
  margin-bottom: 1.125rem;
}
.content .content_form .form-wrap .label_l {
  margin-left: -1.8rem;
}
.content .content_form .form-wrap .form_box1 {
  padding: 1.312rem 9.188rem;
  box-sizing: border-box;
}
.framePage-body .content .news_title1 {
  margin-bottom: 0.625rem;
}
.framePage-body .content .news_title1 h3 {
  margin-top: 0.625rem;
  font-size: 16px;
}
.framePage-body .operationControl1 {
  border: 0;
  border-top: 1px solid #efefef;
  padding-top: 0.625rem;
  box-sizing: border-box;
}
.framePage-body #gridTable span {
  font-size: 1.25rem;
}
.framePage-body .job_top {
  border: 0;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.framePage-body .tab_wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}
.framePage-body .tab_wrap .tab_title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border: 0;
  background-color: #f7f7f7;
  padding: 1.0rem 0;
  height: auto;
  -ms-flex-align: center;
      align-items: center;
}
.framePage-body .tab_wrap .tab_title .hidden1 {
  display: none;
}
.framePage-body .tab_wrap .tab_title li {
  padding: 0.75rem 1.0rem 0.562rem;
  box-sizing: border-box;
  margin-right: 6.438rem;
}
.framePage-body .tab_wrap .tab_title li > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.framePage-body .tab_wrap .tab_title li > div span {
  color: #555656;
  font-size: 1rem;
}
.framePage-body .tab_wrap .tab_title .show {
  display: none;
}
.framePage-body .tab_wrap .tab_title .show img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 5.375rem;
  height: 5.188rem;
}
.framePage-body .tab_wrap .tab_title .active {
  display: block;
}
.framePage-body .tab_wrap .tab_title .mr {
  margin-right: 0;
}
.framePage-body .tab_wrap .tab_title .layui-this:after {
  border: 0;
}
.framePage-body .tab_wrap .tab_content {
  padding: 1.375rem 0 0;
  box-sizing: border-box;
  width: 100%;
}
.framePage-body .tab_wrap .tab_content .content_item .active1 {
  display: none !important;
}
.framePage-body .tab_wrap .tab_content .content_item h3 {
  border-left: 4px solid #5665FA;
  padding-left: 0.5rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  width: 30%;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_left .img_top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #f7f7f7;
  padding: 1.875rem 2.312rem 1.562rem;
  box-sizing: border-box;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_left .img_top img {
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  width: 9.688rem;
  height: auto;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_left .img_top span {
  color: #232323;
  font-size: 1.125rem;
  display: block;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_left button {
  width: 9.625rem;
  margin: 1.188rem auto 2.375rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .cell_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: 9rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .cell_box .ml {
  margin-left: 3.0rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .cell_box label {
  text-align: right;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .form-cell {
  position: relative;
  -ms-flex: 1;
      flex: 1;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .form-cell .birsday {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  color: #5665fa;
  font-size: 1.5rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .ml-cell {
  margin-left: 6.125rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .ml-cell1 {
  margin-left: 7.3rem;
}
.framePage-body .tab_wrap .tab_content .content_item .content_box .box_right .ml-cell2 {
  margin-left: 2.5rem;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form {
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #efefef;
  padding: 1.0rem 10rem;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form .textarea_h {
  height: 6.125rem;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form .form-cell {
  position: relative;
  -ms-flex: 1;
      flex: 1;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form .form-cell .po-r {
  position: relative;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form .form-cell .po-r .birsday {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  color: #5665fa;
  font-size: 1.5rem;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form .form-cell span {
  margin-left: 1.25rem;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form .form-cell .yx_ml {
  margin-left: 2.5rem;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form_show {
  display: none;
  position: relative;
}
.framePage-body .tab_wrap .tab_content .content_item .educational_bgc .form_show .po-o {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}
body .demo-class {
  border: none;
}
body .demo-class .layui-layer-content {
  padding: 3rem 3rem 0 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 1px;
}
body .demo-class .layui-layer-btn {
  margin-top: 0rem;
}
body .demo-class .layui-layer-btn a {
  border: 0px;
}
body .demo-class .layui-layer-btn .layui-layer-btn1 {
  border: 0px;
}
body .layui-layer-dialog .layui-layer-content {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 2.5rem 2rem;
}
body .layui-layer-btn a {
  padding: 0 2rem;
  border-radius: 0.25rem;
}
body .layui-layer-btn .layui-layer-btn0 {
  border-color: #5665FA;
  background-color: #5665FA;
}
body .layui-layer-btn .layui-layer-btn1 {
  border-color: #F99D3A;
  background-color: #F99D3A;
  color: #fff;
}
