.flex-1{
	flex:1;
}
// display
        .df{
            display: flex;
        }
        .flexdc{
            .df;
            flex-direction: column;
        }
        .flexac{
            align-items: center;
        }
        .flexjc{
            justify-content: center;
        }
        .flexcc{
            .df;
            .flexac;
            .flexjc;
        }
        .flexdcc{
            .flexdc;
            .flexac;
            .flexjc;
        }
        .flexcb{
            .df;
            .flexac;
            justify-content: space-between;
        }
        .flexwp{
            flex-wrap: wrap;
        }
        .flex1{
            flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0%;
        }
        .dib{
            display: inline-block;
            vertical-align: middle;
        }
        // 隐藏
        .hidden{
            display: none;
        }
        .ov1{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .ov2{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
        }
        .bs {
        	box-sizing: border-box;
        }

        // 颜色
        .c-blue{
            color: #7f84f1;
        }
        .c-blued{
            color: #6c72ef;
        }
        .c-bluedd {
        	color: #5665fa;
        }
        .c-hs{
        	color: #555656;
        }
    // 背景色
        .bgc-green {
            background-color: #3DC45D;
        }
        .bgc-greenl {
            background-color: #5CB85C;
        }
        .bgc-greenll {
        	background-color: #30c114;
        }
        .bgc-orange {
            background-color: #F99D3A;
        }
        .bgc-red {
            background-color: #FF573B;
        }
        .bgc-blue {
            background-color: #29C3FF;
        }
        .bgc-violet {
            background-color: #BD85F9;
        }
        .bgc-blued {
            background-color: #5665FA;
        }
        .bgc-redd {
            background-color: #E33A1D;
        }
        .back-hui{
            background-color:#F0F8FA;
        }
// 登录
.login_wrap {
    display: flex;
    background: #f5f5f6 url('../image/login_bc.png');
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    .login_title {
        padding-top: 7.562rem;
        display: flex;
        width: 100%;
        justify-content: center;
        img {
            width: 58px;
            height: 58px;
        }
        h2 {
            margin-left: 0.55rem;
            margin-top: 0.8rem;
            font-weight: 800;
            font-size: 1.875rem;
            color: #404549;
            letter-spacing: 2px;
        }
    }
    .login_form {
        display: flex;
        justify-content: center;
        align-items: center; // margin-top: 8.5rem;
        padding: 1rem;
        flex: 1;
        .login_box {
            display: flex;
            background-color: #fff;
            width: 30%;
            flex-direction: column;
            p {
                text-align: center;
                margin: 0 auto;
                width: 100%;
                padding: 1.25rem 0;
                font-size: 1.25rem;
            }
            .form_input {
                padding: 0 1.875rem 0;
                .login_input {
                    background-color: #e5e5e5;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    // padding: 0.688rem 0 0.688rem 0.938rem;
                    height: 2.5rem;
                    border-radius: 4px;
                    margin-bottom: 14px;
                    >div {
                    	i{
                    		line-height: 2.5rem;
                    		font-size: 1.2rem;
                    		margin:0  0.5rem ;
                    		color: #969899;
                    	}
                        input {
                        	 background-color: #e5e5e5;
                            font-size: 1rem;
                            height: 2.5rem;
                        }
                    }
                }
            }
            .form_btn {
                padding: 0 1.875rem 0.625rem;
                display: flex;
                button {
                    width: 100%;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .login_bottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        padding-bottom: 1.875rem;
        p {
            margin: 0 auto;
            color: #898989;
            font-size: 12px;
            display: flex;
            img {
                width: 17px;
                height: 20px;
            }
        }
    }
}

/* 首页 */
    .index {
        .df;
        .flexdc;
        .header_nav {
            width: 100%;
            .df;
            // 用户区
            .header {
                background-color: #282c2f;
                height: 2.938rem;
                box-sizing: border-box;
                position: relative;
                box-shadow: 2px 2px 12px 0 #EEEEEE;
                width: 100%;
                .df;
                .flexac;
                justify-content: space-between;
                .header-title{
                    height: 3rem;
                    box-sizing: border-box;
                    padding: 0.625rem 0 0.875rem 1.312rem;
                    transition: all .3s;
                    .seat{
                        .df;
                        .flexac;
                        .img-box {
                            width: 2rem;
                        }
                        h4 {
                            .flex1;
                            .ov1;
                            font-size: 1.125rem;
                            font-weight: 500;
                            padding-left: .5rem;
                            box-sizing: border-box;
                            color: #fff;
                        }
                    }
                }
                .header-btn{
                    .df;
                    .seat{
                        >div{
                            .dib;
                            position: relative;
                            &:first-child{
                                .headr-btn-title{
                                    border-left: none;
                                }
                            }
                            .headr-btn-title{
                                min-width: 3.9375rem;
                                text-align: center;
                                box-sizing: border-box;
                                white-space: nowrap;
                                padding: 0 .84375rem;
                                cursor: pointer;
                                .img-box{
                                    .dib;
                                    width: 1.875rem;
                                    font-size: 0;
                                    margin-left: .25rem;
                                    i{
                                        position: absolute;
                                        background-color: #C12E11;
                                        border-radius: 16px;
                                        font-size: 12px;
                                        color: #fff;
                                        min-width: 16px;
                                        padding: 0 2px;
                                        box-sizing: border-box;
                                        height: 16px;
                                        line-height: 16px;
                                        top: -0.5rem;
                                        right: -.1rem;
                                        transform: scale(.7);
                                    }
                                    img {
                                        width: 19px;
                                        height: auto;
                                    }
                                    .user-img {
                                        width: 23px;
                                        height: auto;
                                    }
                                    .locl-img {
                                        width: 12px;
                                        height: 16px;
                                    }
                                }
                                >span{
                                    .dib;
                                    white-space: nowrap;
                                    font-size: .875rem;
                                    line-height: normal;
                                    color: #e3e3e3;
                                }
                            }
                        }
                    }
                }
            }
        }
        .index-content {
            .df;
            height: 100%;
            // 导航区
            .menu{
                transition: all .3s;
                width: 3rem;
                height: 100%;
                background-color: #282c2f;
                position: relative;
                z-index: 1;
                color: #fff;
                &.menu-cur{
                    width: 11.25rem;
                }
                .flexdc;
                .seat{
                    overflow: hidden;
                    cursor: pointer;
                    white-space: nowrap;
                    .df;
                    .flexac;
                    .img-box{
                        height: 1.5625rem;
                        width: 1.5625rem;
                        margin: 0;
                        img{
                            height: auto;
                            width: 24px;
                        }
                    }
                }
                .header{
                    overflow: hidden;
                    .nav-title{
                        .seat{
                            font-size: 0;
                            padding: .75rem;
                            &:active, &:hover{
                                background-color: #282c2f;
                            }
                        }
                    }
                }
                .control {
                .flex1;
                overflow-y: auto;
                .nav {
                    //.flex1;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    >ul {
                        a {
                            color: #fff;
                            .df;
                            width: 100%;
                            .flexac;
                            span {
                                .flex1;
                                .ov1;
                            }
                        }
                        >li {
                            padding: .5rem 0;
                            &:hover {
                                >.seat {
                                    background-color: #282C2F;
                                    border-bottom-color: #282c2f;
                                }
                            }
                            >.seat {
                                padding: .75rem 0;
                                font-size: 1rem;
                                border-bottom: 1px solid transparent;
                                .img-box {
                                    padding-left: .75rem;
                                    box-sizing: content-box;
                                }
                                span {
                                    padding-left: .75rem;
                                    box-sizing: content-box;
                                }
                                &:hover {
                                    background-color: #333847;
                                }
                                &.nava-cur {
                                    background-color: #282c2f;
                                    border-bottom-color: #282c2f;
                                    &+ul {
                                        max-height: 40rem;
                                    }
                                }
                                &.navi-cur {
                                    &+ul {
                                        transition: all .2s;
                                        max-height: 0;
                                    }
                                }
                            }
                            ul {
                                overflow: hidden;
                                max-height: 0rem;
                                transition: all .6s;
                                background-color: #282c2f;
                                li {
                                    width: 100%;
                                    &.nav-cur,
                                    &:active,
                                    &:hover {
                                        background-color: #333847;
                                    }
                                    .seat {
                                        padding: .5rem 0;
                                        text-align: center;
                                        font-size: .875rem;
                                        a {
                                            justify-content: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            }
            // 内容区
            .pageContol{
                    // .flex1;
                    // .df;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    background-color: #F5F5F5;
                    flex: 1;
                    box-sizing: border-box;
                    .flexdc;
                    // 通告通知
                    .pageContol-top {
                        width: 100%;
                        display: flex;
                        .notice-list {
                            .df;
                            .flex1;
                            .flexdc;
                            background-color: #fff;
                            padding: 0.875rem 1.188rem 0 1.0rem;
                            margin-right: 0.875rem;
                            .notice-top {
                                .df;
                                .flexcb;
                                padding-bottom: 0.5rem;
                                span {
                                    border-left: 4px solid #5078fa;
                                    padding-left: 0.5rem;
                                    font-weight: 700;
                                    font-size: 14px;
                                    color: #575656;
                                }
                                a {
                                    color: #5078fa;
                                }
                            }
                            .notice-bottom {
                                border-top: 1px solid #efefef;
                                padding: 0.875rem 0.188rem 1.062rem;
                                ul li {
                                    background-color: #f5f5f6;
                                    padding: 0.812rem 0.625rem;
                                    margin-bottom: 0.688rem;
                                    color: #555656;
                                    font-size: 12px;
                                    .df;
                                    .flexcb;
                                    .notice-date {
                                        color: #ababac;
                                    }
                                }
                            }
                        }
                        .number-box {
                            .df;
                            flex-wrap: wrap;
                            .num-box {
                                .df;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                padding: 1.125rem 0 0.875rem;
                                width: 48%;
                                img {
                                    width: 15%;
                                    height: auto;
                                }
                                span {
                                    line-height: 1.75rem;
                                    color: #fff;
                                    font-size: 14px;
                                }
                                b {
                                    color: #fff;
                                    font-size: 14px;
                                }
                            }
                            .mr {
                                margin-right: 0.875rem;
                            }
                            .mb {
                                margin-bottom: 0.875rem;
                            }
                        }
                    }
                    // 数据说明
                    .pageContol-bottom {
                       width: 100%;
                       height: 56%;
                        margin-top: 15px;
                        display: flex;
                        flex: 1;
                        .data-description {
                            // .df;
                            // .flex1;
                            // .flexdc;
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            padding: .875rem .875rem;
                            box-sizing: border-box;
                            .description-top {
                                 .df;
                                span {
                                    border-left: 4px solid #5078fa;
                                    padding-left: 0.5rem;
                                    font-weight: 700;
                                    font-size: 14px;
                                    color: #575656;
                                }
                            }
                            .description-bottom {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: space-between;
                                .description-box {
                                   width: 33.3%;
                                   height: 100%;
                                   padding: 1.125rem 2.0rem;
                                   display: flex;
                                   box-sizing: border-box;
                                   flex-direction: column;
                                   .box-word{
                                        background: #f5f5f5;
                                        width: 100%;
                                        height:100%;
                                        display: flex;
                                        .demo {
                                                width: 100%;
                                                height: 100%;
                                                padding: 1rem;
                                                display: flex;
                                                 box-sizing: border-box;
                                                >div {
                                                    width: 100%;
                                                    margin: 0 auto;
                                                }
                                            }
                                       }
                                       .word {
                                                padding: 1.25rem 1.438rem 1.875rem;
                                                box-sizing: border-box;
                                            }
                                    }
                                }
                            }
                        }
                    }

                }
        }

// 人员登记
// 填写表格
.form_cell {
	font-size: 1.25rem;
}
.content {
	display: flex;
	width: 100%;
	flex-direction: column;
	h2 {
		font-size: 1.125rem;
		.c-hs;
		font-weight: 500;
	}
	p {
		color: #ccc;
		font-size: 16px;
	}
	.content_form {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding-top: 1.0rem;
		.form_box {
			background-color: #f7f7f7;
			padding: 1.312rem 1.5rem;
			margin-bottom: 1.25rem;
			.bs;
			h3 {
				font-size: 1.0rem;
				color: #373636;
				span {
					color: #5665fa;
				}
			}
			.inputBox {
				padding: 1.875rem 4.375rem 0 4.375rem;
				display: flex;
				justify-content: space-between;
				.form {
					display: flex;
					flex-direction: column;
					width: 100%;
					.form-cell {
						display: flex;
						justify-content: flex-start;
						width: 100%;
						position: relative;
						.label {
							margin-right: 2.25rem;
						}
						.label_h {
							margin-left: -1.0rem;
						}
						.label_t {
							margin-left: -1.875rem;
						}
						img {
							position: absolute;
						    top: 0.5rem;
						    right: .5rem;
						    width: 1.2rem;
						    height: auto;
						}
						i {
							float: left;
						}
						span {
							float: none;
						}
						.ml {
							margin-left: 1rem;
						}
					}
					.form_cell {
						margin-bottom: 1.25rem;
					}
					.mb {
						margin-bottom: 0;
					}
				}
				.form_l {
					margin-left: 6rem;
				}
			}
		}
		.mb {
			margin-bottom: 0;
		}
	}
	.formBtn {
		padding-top: 0.75rem;
		display: flex;
		justify-content: center;
		button {
			line-height: 2.75rem;
			height: 2.75rem;
		}
	}
}
// 上传文件
.content {
	.title {
		h2 {
			font-weight: 500;
			.c-hs;
			font-size: 1.25rem;
			margin-bottom: 2.375rem;
		}
		p {
			span {
				line-height: 2.562rem;
				font-size: 1.25rem;
				color: #373636;
				display: block;
			}
		}

	}
	.img_wrap {
		flex: 1;
		width: 100%;
		display: flex;
		justify-content: center;
		.img_box {
			display: flex;
			align-items: center;
			padding: 1.125rem 0 0;
			flex-direction: column;
			box-sizing: border-box;
			.img_bgc {
				padding: 8.812rem 5.562rem;
				background: url('../image/img_03.png');
				background-size: 100% auto;
				box-sizing: border-box;
				img:hover {
					cursor: pointer;
				}
				input {
					display: none;
				}
			}
			.img_word {
				display: flex;
				justify-content: center;
				padding: 1.25rem 0;
				box-sizing: border-box;
				flex-direction: column;
				> span {
					font-size: 1.0rem;
					color: #575757;
					margin-left: 0.438rem;
					display: flex;
					align-items: center;
					i {
						width: .8125rem;
					    height: .8125rem;
					    min-width: .8125rem;
					    display: inline-block;
					    background: url('../image/close.png');
					    background-size: cover;
					    background-position: center;
					    margin-left: .5rem;
					}
					input {
						display: none;
					}
				}
				span:before {
					content: '';
				    width: .6875rem;
				    height: .90625rem;
				    display: inline-block;
				    background: url('../image/wj.png');
				    background-size: cover;
				    background-position: center;
				    margin-top: -0.4375rem;
				}
			}
		}
	}
	.formBtn1 {
		padding: 0;
		button {
			padding: 0 6rem;
			text-align: center;
			box-sizing: border-box;
		}
		#close {
			margin-right: 1.938rem;
		}
	}
}

// 信息查询
// 参保查询
.content {
	.information_title {
		h2 {
			margin-bottom: 1.0rem;
			padding-left: 0.875rem;
			box-sizing: border-box;
		}
		p {
			background-color: #f5f5f5;
			padding: 1.125rem 2.25rem;
			box-sizing: border-box;
			span {
				line-height: 2.0rem;
				b {
					color: #5665fa;
					font-weight: 400;
				}
			}
		}
	}
	.img_content {
		padding: 2.562rem 3rem 5.062rem;
		box-sizing: border-box;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.img_left {
			margin-right: 1.625rem;
			display: flex;
			justify-content: space-between;
			.img1 {
				margin-right: 3.125rem;
			}
			.img {
				display: flex;
				flex-direction: column;
				align-items: center;
				button {
					margin-top: 0.75rem;
					width: 100%;
				}
			}
		}
		.img_right {
			flex: 1;
			display: flex;
			flex-direction: column;
			.form_warp {
				display: flex;
				flex-direction: column;
				padding: 0.5rem 1.125rem;
				background-color: #f5f5f5;
				box-sizing: border-box;
				.form_cell {
					padding-bottom: 0.1rem;
				}
				.idcard_box {
					display: flex;
					justify-content: space-between;
					img {
						width: 37px;
						height: 29px;
						margin-left: 0.625rem;
					}
				}
			}
			button {
				margin: 0 auto;
				margin-top: 0.75rem;
				width: 16.75rem;
				.bgc-blued;
				align-items: center;
			}
		}
	}
}
// 参保查询内容
.content {
	.news_title {
		p {
			display: flex;
			span {
				display: inline-block;
			}
			.mr {
				margin-right: 7.375rem;
			}
		}
	}
	.content_form {
		.form-wrap {
			display: flex;
			flex-direction: column;
			h3 {
				background: url('../image/title_bg.png');
				color: #fff;
				font-size: 1.25rem;
				background-position: 0 0;
				background-repeat: no-repeat;
				padding: 0.4rem 3.438rem 0.875rem 1.75rem;
				box-sizing: border-box;
				margin-bottom: 1.125rem;
			}
			.label_l {
				margin-left: -1.8rem;
			}
			.form_box1 {
				padding: 1.312rem 9.188rem;
				box-sizing: border-box;
			}
		}
	}
}

// 城乡养老缴费信息查询
.framePage-body {
	.content {
		.news_title1 {
			margin-bottom: 0.625rem;
			h3 {
				margin-top: 0.625rem;
				font-size: 16px;
			}
		}
	}
	.operationControl1 {
		border:0;
		border-top: 1px solid #efefef;
		padding-top: 0.625rem;
		box-sizing: border-box;
	}
}


// 帮村民找工作
// 个人求职登记
.framePage-body {
	#gridTable {
		span {
		font-size: 1.25rem;
		}
	}
	.job_top {
		border: 0;
		justify-content: flex-end
	}
	.tab_wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		.tab_title {
			display: flex;
			justify-content: center;
			border: 0;
			background-color: #f7f7f7;
			padding: 1.0rem 0;
			height: auto;
			align-items: center;
			.hidden1 {
				display: none;
			}
			li {
				padding: 0.75rem 1.0rem 0.562rem;
				box-sizing: border-box;
				margin-right: 6.438rem;
				
				>div {
					display: flex;
					flex-direction: column;
					align-items: center;
					span {
						color: #555656;
						font-size: 1rem;
					}
				}
			}
			.show {
				display: none;
				img {
					display: flex;
					align-items: center;
					width: 5.375rem;
					height: 5.188rem;
				}
			}
			.active {
				display: block;
			}
			.mr {
				margin-right: 0;
			}
			.layui-this:after {
				border: 0;
				
			}
		}
		.tab_content {
			padding: 1.375rem 0 0;
			box-sizing: border-box;
			width: 100%;
			.content_item {
				.active1 {
					display: none !important;
				}
				h3 {
					border-left: 4px solid #5665FA;
					padding-left: 0.5rem;
					box-sizing: border-box;
					font-size: 1.25rem;
					margin-bottom: 1.875rem;
				}
				.content_box {
					display: flex;
					width: 100%;
					justify-content: space-between;
					.box_left {
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 30%;
						.img_top {
							display: flex;
							flex-direction: column;
							background-color: #f7f7f7;
							padding: 1.875rem 2.312rem 1.562rem;
							box-sizing: border-box;
							justify-content: center;
							align-items: center;
							img {
								border: 1px solid #ccc;
								margin-bottom: 1.5rem;
								width: 9.688rem;
								height: auto;
							}
							span {
								color: #232323;
								font-size: 1.125rem;
								display: block;
							}
						}
						button {
							width: 9.625rem;
							margin: 1.188rem auto 2.375rem;
						}
					}
					.box_right {
						display: flex;
						flex: 1;
						flex-direction: column;
						.cell_box {
							display: flex;
							justify-content: space-between;
							margin-left: 9rem;
							.ml {
								margin-left: 3.0rem;
							}
							label {
								text-align: right;
							}
						}
						.form-cell {
							position: relative;
							flex: 1;
							img {
								position: absolute;
							    top: 0.5rem;
							    right: .5rem;
							    width: 1.2rem;
							    height: auto;
							}
						}
						.ml-cell {
							margin-left: 6.125rem;
						}
						.ml-cell1 {
							margin-left: 7.3rem;
						}
						.ml-cell2 {
							margin-left: 2.5rem;
						}
					}
				}
				.educational_title {
					display: flex;
					justify-content: space-between;
				}
				.educational_bgc {
					display: flex;
					flex-direction: column;
					justify-content: center;
					.form {
						display: flex;
						border-top: 1px solid #efefef;
						padding: 1.0rem 10rem;
						flex-direction: column;
						box-sizing: border-box;
						.textarea_h {
							height: 6.125rem;
						}
						.form-cell {
							position: relative;
							flex: 1;
							img {
								position: absolute;
							    top: 0.5rem;
							    right: .5rem;
							    width: 1.2rem;
							    height: auto;
							}
							.po-r {
								position: relative;
								img {
									position: absolute;
								    top: 0.5rem;
								    right: .5rem;
								    width: 1.2rem;
								    height: auto;
								}
							}
							span {
								margin-left: 1.25rem;
							}
							.yx_ml {
								margin-left: 2.5rem;
							}
						}
					}
					.form_show {
						display: none;
						position: relative;
						.po-o {
							position: absolute;
							right: 0;
							bottom: 1.5rem;
						}
					}

				}
			}
		}
	}
}
body .demo-class {
            border: none;
        }

// body .demo-class .layui-layer-content {
//     padding: 3rem 3rem 0 3rem;
//     text-align: center;
//     font-size: 1.2rem;
//     font-weight: bold;
//     height: 1px;
// }

// body .demo-class .layui-layer-btn {
//     margin-top: 0rem;
// }

// body .demo-class .layui-layer-btn a {
//     border: 0px;
// }

// body .demo-class .layui-layer-btn .layui-layer-btn1 {
//     border: 0px;
// }
// body .layui-layer-dialog .layui-layer-content {
//  	text-align: center;
//     font-size: 1.5rem;
//     font-weight: 700;
//     padding: 2.5rem;
// }
// body .layui-layer-btn a {
// 	padding: 0 2rem;
// 	border-radius: 0.25rem;
// }