.layui-table,
.layui-table-view {
  margin: 0;
}
textarea {
  resize: none;
  padding: 0.8rem;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border-radius: 6px;
  border: 0;
}
.btn_bulue {
  background-color: #4FA1EA;
  color: #fff;
}
.btn_green {
  background-color: #3AC765;
  color: #fff;
}
.btn_orgin {
  background-color: #F8B72C;
  color: #fff;
}
.pt0 {
  padding-top: 0 !important;
}
.p1 {
  padding: 1rem !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.ptb2 {
  padding: 2.5rem 1rem 2rem;
}
.size17 {
  font-size: 1.0625rem;
}
.body_roll {
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
}
.layui-forms {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.layui-forms table td,
.layui-forms table th {
  font-size: 1.0625rem;
}
.layui-table tbody td:nth-child(2n-1) {
  color: #aaa;
}
.hasTitle {
  padding-top: 6.4rem !important;
  box-sizing: border-box;
}
.hasTitle2 {
  padding-top: 7.4rem !important;
  box-sizing: border-box;
}
.layui-forms1 {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0rem 10rem;
  box-sizing: border-box;
}
.layui-forms1 table td,
.layui-forms1 table th {
  font-size: 1.0625rem;
}
.bg_blue th {
  background-color: #ECF4FB;
}
.main_body {
  height: 100%;
  background-color: #EAEDF1;
  padding: 7rem 1rem 1rem;
  box-sizing: border-box;
  position: relative;
}
.main_body .d_title {
  height: 5rem;
  line-height: 5rem;
  background-color: #fff;
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem;
  transition: all .3s;
}
.main_body .d_title i {
  position: absolute;
  top: 0;
  left: 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 2rem;
  cursor: pointer;
}
.main_body .d_title p {
  font-size: 1.5rem;
  text-align: center;
  color: #67A8E2;
}
.main_body .d_body {
  position: relative;
  height: 100%;
  background-color: #fff;
}
.main_body .d_body .pa2 {
  padding: 2rem 2rem 5rem 2rem;
  box-sizing: border-box;
}
.main_body .d_body .body_xx {
  padding: 2rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.main_body .d_body .body_xx .ul-box {
  background-color: #ECF4FB;
  margin: 0 auto;
  height: 100%;
}
.main_body .d_body .body_xx .ul-box ul {
  width: 100%;
  height: 100%;
  text-align-last: justify;
  overflow: hidden;
  padding: 1.5rem;
  box-sizing: border-box;
}
.main_body .d_body .body_xx .ul-box ul li {
  display: inline-block;
  vertical-align: middle;
}
.main_body .d_body .body_xx .ul-box ul li label {
  font-size: 1.0625rem;
  font-weight: bolder;
}
.main_body .d_body .body_xx .ul-box ul li span {
  font-size: 1.0625rem;
}
.main_body .d_body .body_yl {
  text-align: center;
}
.main_body .d_body .body_yl .contain_one {
  width: 20%;
  float: left;
  padding: 1rem;
  box-sizing: border-box;
  height: 0;
}
.main_body .d_body .body_yl .contain_one .body_img {
  height: 0;
  padding-top: 150%;
  background-color: #F5F5F6;
  position: relative;
}
.main_body .d_body .body_yl .contain_one .body_img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}
.main_body .d_body .body_yl .contain_one .body_btn {
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
}
.main_body .d_body .body_yl .contain_one .body_btn button {
  border-radius: 0.5rem;
}
.main_body .d_body .d_select {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 2rem;
}
.main_body .d_body .d_select .f_btn {
  float: right;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}
.main_body .d_body .d_select .f_btn button {
  padding: 0 1rem;
  border-radius: 0.3rem;
  line-height: 2rem;
  height: 2.5rem;
  font-size: 1.0625rem;
}
.main_body .d_body .d_select .dates {
  vertical-align: middle;
  display: inline-block;
  float: right;
}
.main_body .d_body .d_select .dates .layui-input {
  height: 2.5rem;
}
.main_body .d_body .d_select .dates .layui-input::-webkit-input-placeholder {
  color: #999;
}
.main_body .d_body .d_select .dates .layui-input:-ms-input-placeholder {
  color: #999;
}
.main_body .d_body .d_select .dates .layui-input::placeholder {
  color: #999;
}
.main_body .d_body .d_select .f_in {
  float: right;
  padding-bottom: 0.5rem;
  margin-left: 0;
  width: 8rem;
}
.main_body .d_body .d_select .f_in .layui-select-title input {
  height: 2.5rem;
  font-size: 1.0625rem;
}
.main_body .d_body .d_select .f_p {
  float: right;
  padding: 0.5rem;
}
.main_body .d_body .table_th,
.main_body .d_body .table_tr {
  padding: 1.5rem 0;
  box-sizing: border-box;
  font-size: 0;
}
.main_body .d_body .table_th div,
.main_body .d_body .table_tr div {
  display: inline-block;
  vertical-align: middle;
  width: 16.6%;
  font-size: 1.0625rem;
  text-align: center;
}
.main_body .d_body .table_th div button,
.main_body .d_body .table_tr div button {
  border-radius: 0.3rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
.main_body .d_body .table_th {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  background-color: #ECF4FB;
}
.main_body .d_body .table_tr {
  margin-bottom: 1rem;
  background-color: #F5F5F6;
}
.main_body .d_body .fenye {
  box-sizing: border-box;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}
.main_body .h_body {
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}
.main_body .h_body .hcyq {
  padding-top: 2rem;
}
.main_body .h_body .hcyq p {
  font-size: 1.0625rem;
}
.main_body .h_body .btn_right {
  text-align: right;
  padding-bottom: 2rem;
}
.main_body .h_body .btn_right button {
  padding: 0 4rem;
  font-size: 1.0625rem;
  border-radius: 0.3rem;
  height: 3.5rem;
  line-height: 3.5rem;
}
.main_body .h_body .btn_center {
  overflow: hidden;
  margin-left: -1rem;
  margin-right: -1rem;
}
.main_body .h_body .btn_center p {
  font-size: 1.0625rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.main_body .h_body .btn_center div {
  float: left;
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
}
.main_body .h_body .btn_center div button {
  width: 100%;
  font-size: 1.0625rem;
  border-radius: 0.3rem;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0;
}
.main_body .h_body .btn_center div textarea {
  width: 100%;
}
.main_body .h_body .btn_san {
  box-sizing: border-box;
  height: 5rem;
  padding: 3rem 0 0 16%;
}
.main_body .h_body .btn_san .btn_colom {
  float: left;
  margin-left: 4rem;
}
.main_body .h_body .btn_san .btn_colom div button {
  margin-left: 1rem;
  margin-bottom: 3rem;
  font-size: 1.0625rem;
  border-radius: 0.5rem;
  width: 12rem;
  letter-spacing: 1px;
}
