        <div class="framePage">
            <div class="framePage-title">
               <a href="javascript:;">人员登记</a>
                <i>></i>
                <a href="javascript:;">城乡居民医疗保险参保登记</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">参保登记进度查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="bg-box">
                            <div class="care">
                                <div class="h3-title">
                                    <h3>读取身份证信息</h3>
                                </div>
                                <div class="pbox">
                                    <p>1.请将用户身份证按<span>下图样式</span>放在身份证读卡器上，点击<span>【读取】</span>按钮读取用户身份证信息，或者手动填写用户身份证号码，点击<span>查询</span>按钮进入制卡进度页面；

</p>
                                    <p>2.读取身份证信息过程中请勿将身份证取出。</p>
                                </div>
                            </div>
                            <div class="demo">
                                <div class="demo-page">
                                    <div class="demo-pagepd">
                                        <div class="img-box">
                                            <img src="__PUBLIC__/image/dk.png" alt="" class="imgCenter">
                                        </div>
                                    </div>
                                </div>
                                <div class="demo-page">
                                    <div class="demo-pagepd">
                                        <div class="user-information">
                                            <div class="information-box">
                                                <div>
                                                    <label for="">姓名</label>
                                                    <input type="text" class="layui-input" id="realName">
                                                </div>
                                                <div>
                                                    <label for="">身份证号</label>
                                                    <input type="text" class="layui-input" id="idCard">
                                                </div>
                                                <div>
                                                    <label for="">民族</label>
                                                    <input type="text" class="layui-input" id="mz">
                                                </div>
                                                <div>
                                                    <label for="">户籍地址</label>
                                                    <input type="text" class="layui-input" id="idCardAddress">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box layui-form">
                    <button class="layui-btn bgc-green b-pd bttn-green">读取</button>
                    <button class="layui-btn bgc-blued  butt b-pd" onclick="qquery()">查询</button>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>
	function qquery(){
        var idcard=$("#idCard").val();
        var realName=$("#realName").val();
        $.ajax({
            type: "post",
            url: "{:U('/Home/EndInsAttendProgress/showResult')}",
            data: {
                idcard:idcard,//姓名
            },
            dataType: "json",
            beforeSend: function(){
                if (idcard==''){
                    layer.msg('身份证号不能为空');
                    return false;
                }
            },
            success: function(ret) {
                if (ret.code == 1) {
                    window.location.href="{:U('Home/EndInsAttendProgress/showResult/idcard/"+idcard+"/realName/"+realName+"')}"
                }else {
                    if (ret.message == ''){
                        layer.msg('请求失败');
                    }else {
                        layer.msg(ret.message);
                    }
                }
            },
        });
	}
</script>
</html>