  <div class="pageContol">
        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">人员登记</a>
                <i>></i>
                <a href="javascript:;">城乡居民养老保险参保登记</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">参保登记进度查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="care">
                            <h3>参保登记审批进度查询结果</h3>
                            <div class="news">
                                <label for="">姓名： <span id="realName">{$userinfo["realName"]}</span></label>
                                <label for="">身份证号： <span id="idCard">{$userinfo["idcard"]}</span></label>
                            </div>
                        </div>
                        <div class="approval">
                            <div class="p-box">
                                <p>您的登记信息正在审批中，请等待！</p>
                            </div>
                            <div class="approval-box">
                                <div>
                                    <span class="bgc-gary font-black" id="cun">采集状态</span>
                                </div>
                                <div class="imge-box">
                                    <img src="__PUBLIC__/image/jt.png" alt="" >
                                </div>
                                <div>
                                    <span class="bgc-gary font-black" id="xiang">乡级审批</span>
                                </div>
                                <div class="imge-box">
                                    <img src="__PUBLIC__/image/jt.png" alt="">
                                </div>
                                <div>
                                    <span class="bgc-gary font-black" id="xian">县级审批</span>
                                </div>
                            </div>
                        </div>
                        <div class="approval">
                            <div class="approval-box pd-t">
                                <div class="explain">
                                    <i class="bgc-green"></i>
                                    <p>灰色代表未开启状态</p>
                                </div>
                                <div class="explain">
                                    <i class="bgc-gary"></i>
                                    <p>绿色代表成功完成状态</p>
                                </div>
                                <div class="explain">
                                    <i class="bgc-red"></i>
                                    <p>红色代表未节点出错状态</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>
  <script>
      $(function () {
          $.ajax({
              type: "post",
              url: "{:U('/Home/EndInsAttendProgress/showResult')}",
              data: {
                  idcard: $("#idCard").html(), //身份证号
                  realName: $("#realName").html(), //姓名
              },
              dataType: "json",
              beforeSend: function() {},
              success: function(ret) {
                  if (ret.code == 1) {
                      var data=ret.data;
                      //判断村的状态
                      if (data.status >=0){
                          $("#cun").attr("class","bgc-green font-white")
                      }else {
                          $("#cun").attr("class","bgc-gary font-black")
                      }
                      ////判断乡的状态
                      if(data.status >=1 && data.status != 2){
                          $("#xiang").attr("class","bgc-green font-white")
                      }else if(data.status == 2){
                          $("#xiang").attr("class","bgc-gary font-black")
                      }else {
                          $("#xiang").attr("class","bgc-gary font-black")
                      }
                      //判断县的状态
                      if(data.status >=3 && data.status != 4){
                          $("#xian").attr("class","bgc-green font-white")
                      }else if(data.status == 4){
                          $("#xian").attr("class","bgc-gary font-black")
                      }else {
                          $("#xian").attr("class","bgc-gary font-black")
                      }

                  } else {
                      if (ret.message == '') {
                          layer.msg('请求失败');
                      } else {
                          layer.msg(ret.message);

                      }
                  }
              },
          });
      })
  </script>