        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">社保缴费</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">城乡居民医疗保险缴费</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="bg-box">
                            <div class="care">
                                <div class="h3-title">
                                    <h3>上传户口本照片</h3>
                                </div>
                                <div class="pbox p-flex">
                                    <div>
                                        <p>1.请将用户户口本照片按下图样式上传，上传过程中请耐心等待。</p>
                                        <p>2.白色背景（以白布或者白墙为背景），正面免冠，着深色上衣。</p>
                                    </div>
                                    <div>
                                        <p>3.头部占照片的2/3。</p>
                                        <p>4.人像清晰，层次丰富，神态自然，无明显畸变。</p>
                                    </div>
                                </div>
                            </div>
                            <!--   <div class="demo-page  hk-book">
                                    <div class="demo-pagepd outline">
                                         
                                        <div class="book-box">
                                            <i class="jh"></i>
                                            <img src="__PUBLIC__/image/pic.png" alt="">
                                        </div>
                                       
                                    </div> 
                                    <p>请点击照相机拍照按钮拍照</p>
                                </div> -->
                            <div class="pic">
                                <div class="pic-box">
                                    <div class="img  outline">
                                        <i class="picture"></i>
                                        <div class="pic_box">
                                            <img src="__PUBLIC__/image/pic.png" alt="">
                                        </div>
                                    </div>
                                    <p>请点击照相机拍照按钮拍照</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn layui-form">
                    <div>
                        <button class="layui-btn bgc-blued ">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>