        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">社保缴费</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">城乡居民养老保险参保登记</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="bg-box">
                            <div class="care">
                                <div class="h3-title">
                                    <h3>读取身份证信息</h3>
                                </div>
                                <div class="pbox">
                                    <p>1.请将用户身份证按下图样式放在身份证读卡器上，点击【读取】按钮读取用户身份证信息，或者手动填写用户身份证号码。</p>
                                    <p>2.读取身份证信息过程中请勿将身份证取出。</p>
                                </div>
                            </div>
                            <div class="demo">
                                <div class="demo-page">
                                    <div class="demo-pagepd">
                                    
                                        <div class="img-box2">
                                        <img src="__PUBLIC__/image/dk.png" alt="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="demo-page">
                                    <div class="demo-pagepd">
                                         <div class="user-information information-search">
                                        <div class="information-box">
                                            <div>
                                                <div>
                                                    <label for="">身份证号</label>
                                                </div>
                                                <div>
                                                    <input type="text" class="layui-input" id="name">
                                                    <button class="bgc-blued layui-btn" onclick="getData()">
                                                        <i class="layui-icon layui-icon-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <label for="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                                </div>
                                                <div>
                                                    <span>杨梦洁</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <label for="">身份证号</label>
                                                </div>
                                                <div>
                                                    <span>130204199403173144</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <label for="">户籍地址</label>
                                                </div>
                                                <div>
                                                    <span>河北省秦皇岛市天涯海角</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box layui-form">
                    <button class="layui-btn bgc-green b-pd">读卡</button>
                    <button class="layui-btn bgc-blued  b-pd">下一步</button>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>