        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">人员登记</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">未参保人员登记</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="content">
                            <h2>登记人员信息</h2>
                            <div class="content_form">
                                <div class="form_box form_bt">
                                    <h3>人员基本信息<span>（必填）</span></h3>
                                    <div class="inputBox">
                                      <div class="form">
                                        <div class="form-cell">
                                            <label>姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</label>
                                            <div>
                                            	<input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入姓名" value="李玉">
                                            </div>
                                        </div>
                                        <div class="form-cell">
                                            <label>身份证号</label>
                                            <div>
                                              <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入身份证号">
                                            </div>
                                        </div>
                                        <div class="form-cell">
                                          <label class="label_h">戶籍所在地</label>
                                          <div>
                                              <input type="text" name="tel" class="layui-input" id="address1" placeholder="请输入戶籍所在地">
                                          </div>
                                        </div>
                                        <div class="form-cell">
                                          <label>联系电话</label>
                                          <div>
                                              <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入当前用户有效联系电话">
                                          </div>
                                        </div>
                                        <div class="form-cell">
                                          <label>婚姻状况</label>
                                          <div>
                                              <select name="stu" name="addr" lay-verify="required" id="address">
                                                  <option value="">初婚</option>
                                                  <option value="0">初婚</option>
                                                  <option value="1">未婚</option>
                                                  <option value="1">离异</option>
                                                  <option value="1">丧偶</option>
                                                  <option value="1">再婚</option>
                                                  <option value="1">其他</option>
                                              </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form form_l">
                                        <div class="form-cell">
                                            <label>出生日期</label>
                                            <div>
                                              <input placeholder="选择日期" type="text" class="layui-input float-l" id="month">
                                              <img src="../../image/rydj_rq_03.png" alt="">
                                            </div>
                                        </div>
                                        <div class="form-cell">
                                          <label>性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别</label>
                                          <div>
                                              <select name="stu" name="addr" lay-verify="required" id="sax">
                                                  <option value="">男</option>
                                                  <option value="0">男</option>
                                                  <option value="1">女</option>
                                              </select>
                                          </div>
                                          <label class="ml">民&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp族</label>
                                          <div>
                                              <select name="stu3" lay-verify="required" id="mz">
                                                  <option value=""></option>
                                              </select>
                                          </div>
                                        </div>
                                        <div class="form-cell">
                                          <label>家庭地址</label>
                                          <div>
                                              <input type="text" name="tel" class="layui-input" id="jzaddress" placeholder="请输入居住地址">
                                          </div>
                                        </div>
                                        <div class="form-cell">
                                          <label>人员类型</label>
                                          <div>
                                              <select name="stu" name="addr" lay-verify="required" id="people">
                                                  <option value="">普通成年人</option>
                                                  <option value="0">普通成年人</option>
                                                  <option value="1">成年建档立卡贫困户</option>
                                                  <option value="2">普通未成年人</option>
                                                  <option value="3">成年低保对象</option>
                                                  <option value="4">成年低收入</option>
                                                  <option value="5">未成年建档立卡贫困户</option>
                                                  <option value="6">成年特困供养人员</option>
                                                  <option value="7">未成年低保对象</option>
                                                  <option value="8">成年因病致贫</option>
                                                  <option value="9">未成年低收入</option>
                                                  <option value="10">未成年特困供养人员</option>
                                                  <option value="11">未成年因病致贫</option>
                                                  <option value="12">其他人员</option>
                                              </select>
                                          </div>
                                        </div>
                                        <div class="form-cell">
                                          <label>户口性质</label>
                                          <div>
                                              <select name="stu" name="addr" lay-verify="required" id="address">
                                                  <option value="">农业</option>
                                                  <option value="0">农业</option>
                                                  <option value="1">非农业</option>
                                              </select>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="form_box form_bt">
                                  <h3>与户主关系<span>（必填）</span></h3>
                                  <div class="inputBox">
                                    <div class="form">
                                      <div class="form-cell">
                                            <label>户主姓名</label>
                                            <div>
                                              <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入户主姓名" value="李成昊">
                                            </div>
                                        </div>
                                        <div class="form-cell">
                                          <label class="label_h">与户主关系</label>
                                          <div>
                                                <select name="stu" name="addr" lay-verify="required" id="khyh">
                                                  <option value="">本人</option>
                                                  <option value="0">本人</option>
                                                  <option value="1">配偶</option>
                                                  <option value="2">子女</option>
                                                  <option value="3">父母</option>
                                                  <option value="4">养父母</option>
                                                  <option value="5">祖父母</option>
                                                  <option value="6">外祖父母</option>
                                                  <option value="7">其他</option>
                                                </select>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form form_l">
                                      <div class="form-cell">
                                            <label>户主身份证号</label>
                                            <div>
                                              <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入身份证号">
                                            </div>
                                        </div>
                                        <div class="form-cell">
                                            <label>户主联系电话</label>
                                            <div>
                                              <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入联系电话">
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form_box form_bt">
                                    <h3>其他信息<span>（必填）</span></h3>
                                    <div class="inputBox">
	                                    <div class="form">
	                                        <div class="form-cell">
	                                          <label class="label_h">是否县外参保</label>
	                                          <div>
	                                              <select name="stu" name="addr" lay-verify="required" id="khyh">
	                                                  <option value="">是</option>
	                                                  <option value="0">是</option>
	                                                  <option value="1">否</option>
	                                              </select>
	                                          </div>
	                                        </div>
                                          <div class="form-cell">
                                            <label>未参保原因</label>
                                            <div>
                                                <select name="stu" name="addr" lay-verify="required" id="khyh">
                                                    <option value="">是</option>
                                                    <option value="0">是</option>
                                                    <option value="1">否</option>
                                                </select>
                                            </div>
                                          </div>
	                                    </div>
                                      <div class="form form_l">
                                          <div class="form-cell">
                                            <label>是否就业</label>
                                            <div>
                                                <select name="stu" name="addr" lay-verify="required" id="khyh">
                                                    <option value="">是</option>
                                                    <option value="0">是</option>
                                                    <option value="1">否</option>
                                                </select>
                                            </div>
                                          </div>
                                          <div class="form-cell">
                                            <label>流动人员</label>
                                            <div>
                                                <select name="stu" name="addr" lay-verify="required" id="khyh">
                                                    <option value="">是</option>
                                                    <option value="0">是</option>
                                                    <option value="1">否</option>
                                                </select>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formBtn">
                              <button id="next" class="layui-btn bgc-blued">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
<include file="Public:footer" />
<script>
$(document).ready(function() {
// 日期
  var laydate = layui.laydate;
  laydate.render({
    elem: '#month' //指定元素
    // ,range: true
})
  laydate.render({
    elem: '#start' //指定元素
    ,range: '--'
})
  laydate.render({
    elem: '#start1' //指定元素
    ,range: '--'
})
  laydate.render({
    elem: '#start2' //指定元素
    ,range: '--'
})
  laydate.render({
    elem: '#start3' //指定元素
    ,range: '--'
})
// 民族
var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族", "土家族",
        "哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族",
        "土族", "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族",
        "俄罗斯族", "鄂温克族", "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"
    ];
    var nation = $("#mz");
    for (var i = 0; i < nations.length; i++) {
        var a = nations[i];
        nation.append("<option value='" + a + "'>" + a + "</option>");
    }
    layuiform()

// 验证input
  var layer = layui.layer
    $('#next').click(function() {
      var phoneStr = /^[1][3,4,5,7,8][0-9]{9}$/
      var pattern = /^([1-9]{1})(\d{14}|\d{18})$/
      if($('#month').val() === '' || $('#sex').val() === '' || $('#phone').val().trim() === '' || $('#address').val().trim() === '' || $('#mz').val() === '' || $('#address1').val().trim() === '' || $('#jzaddress').val().trim() === '' || $('#people').val() === '' || $('#khyh').val() === '' || $('#bank').val().trim() === '') {
        layer.msg('内容不能为空')
      } else if(!phoneStr.test($('#phone').val())) {
        var error = layer.msg('手机号格式不正确')
        return error
      } else if(!pattern.test($('#bank').val())) {
        var error = layer.msg('银行卡格式不正确')
        return error
      } else {
        
      }
    })
  })
</script>
</html>