<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>滦平基层</title>
    <link rel="stylesheet" href="../../feature/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <div class="pageContol">
        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">待遇领取信息查询</a>
            </div>
            <div class="framePage-body layui-form">
              <div class="content">
                <div class="title information_title news_title news_title1">
                  <h2>待遇领取信息查询</h2>
                  <p>
                    <span class="mr">姓名：于海英</span>
                    <span>身份证号码：13030219960526114X</span>
                  </p>
                </div>
              </div>
              <div class="operationControl operationControl1">
                <div class="searchBox searchBoxNew">
                    <input placeholder="选择日期范围" type="text" class="layui-input float-l" id="month">
                    <div class="float-l input-btn">
                        <button class="bgc-blued layui-btn" onclick="opSearch()">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="searchBtns">
                    <button class="bgc-blued layui-btn" onclick="opLook()">打印</button>
                    <button class="bgc-redd layui-btn" onclick="opClose()">关闭</button>
                </div>
              </div>
              <div class="framePage-scroll">
                  <div class="ovy-a">
                    <table class="grid-table grid-tableNew" id="gridTable">
                        <thead>
                            <tr>
                                <td><span><b>待遇年月</b></span></td>
                                <td><span><b>发放日期</b></span></td>
                                <td><span><b>发放类型</b></span></td>
                                <td><span><b>发放金额</b></span></td>
                                <td><span><b>发放方式</b></span></td>
                                <td><span><b>委托机构</b></span></td>
                                <td><span><b>银行卡号</b></span></td>
                                <td><span><b>其他</b></span></td>
                                <td><span><b>打印</b></span></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>201801</span></td>
                                <td><span>2018－1－1</span></td>
                                <td><span>退休金</span></td>
                                <td><span>99.05</span></td>
                                <td><span>银行发放</span></td>
                                <td><span>农村信用合作社</span></td>
                                <td><span>********5678</span></td>
                                <td><span></span></td>
                                <td>
                                    <button class="layui-btn bgc-blued">打印收据</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span>201801</span></td>
                                <td><span>2018－1－1</span></td>
                                <td><span>退休金</span></td>
                                <td><span>99.05</span></td>
                                <td><span>银行发放</span></td>
                                <td><span>农村信用合作社</span></td>
                                <td><span>********5678</span></td>
                                <td><span></span></td>
                                <td>
                                    <button class="layui-btn bgc-blued">打印收据</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span>201801</span></td>
                                <td><span>2018－1－1</span></td>
                                <td><span>退休金</span></td>
                                <td><span>99.05</span></td>
                                <td><span>银行发放</span></td>
                                <td><span>农村信用合作社</span></td>
                                <td><span>********5678</span></td>
                                <td><span></span></td>
                                <td>
                                    <button class="layui-btn bgc-blued">打印收据</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span>201801</span></td>
                                <td><span>2018－1－1</span></td>
                                <td><span>退休金</span></td>
                                <td><span>99.05</span></td>
                                <td><span>银行发放</span></td>
                                <td><span>农村信用合作社</span></td>
                                <td><span>********5678</span></td>
                                <td><span></span></td>
                                <td>
                                    <button class="layui-btn bgc-blued">打印收据</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span>201801</span></td>
                                <td><span>2018－1－1</span></td>
                                <td><span>退休金</span></td>
                                <td><span>99.05</span></td>
                                <td><span>银行发放</span></td>
                                <td><span>农村信用合作社</span></td>
                                <td><span>********5678</span></td>
                                <td><span></span></td>
                                <td>
                                    <button class="layui-btn bgc-blued">打印收据</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span>201801</span></td>
                                <td><span>2018－1－1</span></td>
                                <td><span>退休金</span></td>
                                <td><span>99.05</span></td>
                                <td><span>银行发放</span></td>
                                <td><span>农村信用合作社</span></td>
                                <td><span>********5678</span></td>
                                <td><span></span></td>
                                <td>
                                    <button class="layui-btn bgc-blued">打印收据</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
              <div class="pageNum" id="pageNum"></div>
            </div>
        </div>
    </div>
</body>
<script src="../../feature/layui/layui.all.js"></script>
<script src="../../script/jquery-1.12.4.min.js"></script>
<script>
  var laydate = layui.laydate;
  laydate.render({
    elem: '#month' //指定元素
        ,
    range: true
})

function opClose () {
  window.location.href='dylqcx.html'
}
</script>
</html>