<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>滦平基层</title>
    <link rel="stylesheet" href="../../feature/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <div class="pageContol">
        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">待遇领取信息查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="content">
                          <div class="title information_title">
                            <h2>待遇领取信息查询</h2>
                            <p>
                              <span>1.请将用户身份证或社保卡按<b>下图样式</b>放在读卡器上，点击<b>读取</b>按钮读取用户身份证或社保卡信息，或者手动填写用户身份证号码或社保卡号码。</span>
                              <span>2.读取身份证或社保卡信息过程中请勿将身份证或社保卡取出。</span>
                            </p>
                          </div>
                          <div class="img_content">
                              <div class="img_left">
                                  <div class="img1 img">
                                      <img src="../../image/xx_cb_03.png" alt="">
                                      <button id="close" class="layui-btn bgc-greenll">读取身份证</button>
                                  </div>
                                  <div class="img2 img">
                                      <img src="../../image/xx_cb1_05.png" alt="">
                                      <button id="close" class="layui-btn bgc-greenll">读取社保卡</button>
                                  </div>
                              </div>
                              <div class="img_right">
                                  <div class="form_warp">
                                        <div class="form-cell">
                                          <label>身份证号</label>
                                          <div class="idcard_box">
                                                <input type="text" name="tel" class="layui-input" id="phone" placeholder="请输入有效身份证号码">
                                                <a href="javascript:;"><img src="../../image//search-btn.png" alt=""></a>
                                          </div>
                                        </div>
                                        <div class="form-show">
                                            <div class="form-cell">
                                                <label class="label">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名：</label>
                                                <span>李玉</span>
                                            </div>
                                            <div class="form-cell form_cell">
                                                <label class="label">身份证号：</label>
                                                <span>xxxxxxxxxxxxxx</span>
                                            </div>
                                            <div class="form-cell form_cell">
                                                <label class="label">出生日期：</label>
                                                <span>1992-08-22</span>
                                            </div>
                                             <div class="form-cell form_cell">
                                                <label class="label">性别：</label>
                                                <span>男</span>
                                            </div>
                                             <div class="form-cell form_cell">
                                                <label class="label">民族：</label>
                                                <span>汉</span>
                                            </div>
                                            <div class="form-cell form_cell">
                                                <label class="label">户籍地址：</label>
                                                <span>xxxxxxxxxxxxxxxxxxxxx</span>
                                            </div>
                                        </div>
                                  </div>
                                  <button id="close" onclick="opLook()" class="layui-btn bgc-greenll">查询</button>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../feature/layui/layui.all.js"></script>
<script src="../../script/jquery-1.12.4.min.js"></script>
<script>
  function opLook () {
  window.location.href='dylqcx1.html'
}
</script>
</html>