<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>滦平智慧人社协同系统</title>
    <link rel="stylesheet" href="__PUBLIC__/feature/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
</head>
<body class="index">
<div class="header">
    <div class="header-title">
        <div class="seat">
            <div class="img-box">
                <img src="__PUBLIC__/image/logo.png" alt="">
            </div>
            <h4><a href="{:U('Home/Index/index')}">滦平智慧人社内部协同系统</a></h4>
        </div>
    </div>
    <div class="header-btn">
        <div class="seat">
            <!--<div class="headr-btn-">
                <div class="headr-btn-title"><span>未定</span></div>
                <div class="headr-btn-popUp"></div>
            </div>
            <div class="headr-btn-">
                <div class="headr-btn-title"><span>未定</span></div>
                <div class="headr-btn-popUp"></div>
            </div>-->
            <div class="headr-btn-user">
                <div class="headr-btn-title">
                    <div class="img-box">
                        <img src="__PUBLIC__/image/user.png" alt="">
                    </div>
                </div>
                <div class="headr-btn-popUp">
                    <div class="headr-btn-popUpBox">
                        <ul>
                            <!-- <li>
                                <div>
                                    <div class="img-box">
                                        <img src="__PUBLIC__/image/user-info.png" alt="">
                                    </div>
                                    <p>个人信息</p>
                                </div>
                            </li> -->
                           <!-- <li>
                                <div>
                                    <div class="img-box">
                                        <img src="__PUBLIC__/image/user-change.png" alt="">
                                    </div>
                                    <p>切换帐号</p>
                                </div>
                            </li>-->
                            <li id="userDel">
                                <div>
                                    <a href="{:U('Home/Public/outLogin')}">
                                        <div class="img-box">
                                            <img src="__PUBLIC__/image/out.png" alt="">
                                        </div>
                                        <p>退出</p>
                                        <input type="hidden" name="public" value="__PUBLIC__">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<if condition="$_SESSION['menustatus'] eq 2">
    <div class="control control-cur">
<else />
    <div class="control">
</if>
    <input type="hidden" name="menuStatus" value="{:U('/Home/Common/menuStatus')}">
    <input type="hidden" name="session" value="{$_SESSION['menustatus']}">
    <div class="nav">
        <div class="nav-title">
            <div class="seat">
                <div class="img-box">
                    <img src="__PUBLIC__/image/menu.png" alt="">
                </div>
                <span></span>
            </div>
        </div>
        <ul>
            <volist name="departmen" id="vo">
                <if condition="$vo eq 132626000001">
                    <li class="nav-cur">
                        <div class="seat">
                            <a href="{:U('FileProcess/getRecordList')}">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-1.png" alt="">
                                </div>
                                <span>退休档案审核</span>
                            </a>
                        </div>
                    </li>
                <elseif condition="$vo eq 132626000002"/>
                    <li class="nav-cur">
                        <a href="{:U('RetireAudit/retireCheck')}">
                            <div class="seat">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-2.png" alt="">
                                </div>
                                <span>退休社保审核</span>
                            </div>
                        </a>
                    </li>
                <elseif condition="$vo eq 132626000003"/>
                    <li class="nav-cur">
                        <a href="{:U('EndInsurance/queryInsuranceList')}">
                            <div class="seat">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-3.png" alt="">
                                </div>
                                <span>退休待遇计发</span>
                            </div>
                        </a>
                    </li>
                <elseif condition="$vo eq 132626000004"/>
                    <if condition="$_SESSION['menu'] eq 'FileProcess'">
                        <li class="nav-cur">
                    <else />
                        <li>
                    </if>
                        <div class="seat">
                            <a href="{:U('FileProcess/getRecordList')}">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-1.png" alt="">
                                </div>
                                <span>退休档案审核</span>
                            </a>
                        </div>
                    </li>
                    <if condition="$_SESSION['menu'] eq 'RetireAudit'">
                        <li class="nav-cur">
                    <else />
                        <li>
                    </if>
                        <a href="{:U('RetireAudit/retireCheck')}">
                            <div class="seat">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-2.png" alt="">
                                </div>
                                <span>退休社保审核</span>
                            </div>
                        </a>
                    </li>
                    <if condition="$_SESSION['menu'] eq 'EndInsurance'">
                        <li class="nav-cur">
                    <else />
                        <li>
                    </if>
                        <a href="{:U('EndInsurance/queryInsuranceList')}">
                            <div class="seat">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-3.png" alt="">
                                </div>
                                <span>退休待遇计发</span>
                            </div>
                        </a>
                    </li>
                <else />
                    <li>
                        <div class="seat">
                            <div class="img-box">
                                <img src="__PUBLIC__/image/nav-1.png" alt="">
                            </div>
                            <span>您还未分配部门</span>
                        </div>
                    </li>
                </if>
            </volist>
        </ul>
    </div>
