<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>滦平智慧人社协同系统</title>
    <link rel="stylesheet" href="__PUBLIC__/feature/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/base2.css">
    <link rel="stylesheet" href="__PUBLIC__/css/login.css">
</head>

<body class="index index-cur">
    <div class="header_nav">
        <div class="header">
            <div class="header-title">
                <div class="seat" onclick="goHref()">
                    <div class="img-box">
                        <img src="__PUBLIC__/image/logo.png" alt="">
                    </div>
                    <h4>滦平智慧人社基层服务平台</h4>
                </div>
            </div>
            <div class="header-btn">
                <div class="seat">
                    <div class="headr-btn-">
                        <div class="headr-btn-title">
                            <div class="img-box">
                                <img class="locl-img" src="__PUBLIC__/image/locl.png" alt="">
                            </div>
                            <span>{$userInfo["userAdress"]}</span>
                        </div>
                    </div>
                    <div class="headr-btn-user">
                        <div class="headr-btn-title" onclick="setPersonal()">
                            <div class="img-box">
                                <img class="locl-img" src="__PUBLIC__/image/date.png" alt="">
                            </div>
                            <span>{$userInfo["data1"]}&nbsp&nbsp&nbsp&nbsp{$userInfo["data2"]}</span>
                        </div>
                    </div>
                    <div class="headr-btn-user">
                        <div class="headr-btn-title" onclick="setPersonal()">
                            <div class="img-box">
                                <img class="user-img" src="__PUBLIC__/image/user-img.png" alt="">
                            </div>
                            <span>{$userInfo["userName"]}</span>
                        </div>
                    </div>
                    <div class="headr-btn-">
                        <div class="headr-btn-title">
                            <div class="img-box">
                                <img src="__PUBLIC__/image/user-msg.png" alt="">
                                <i>1</i>
                            </div>
                            <span>消息</span>
                        </div>
                    </div>
                    <div class="headr-btn-user">
                        <a href="{:U('Home/Public/outLogin')}">
                            <div class="headr-btn-title">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/user-out.png" alt="">
                                </div>
                                <span>退出</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-content">
        <if condition="$_SESSION['menustatus'] eq 1">
            <div class="menu menu-cur">
                <else />
                <div class="menu">
        </if>
        <div class="header">
            <div class="nav-title">
                <div class="seat">
                    <div class="img-box">
                        <img src="__PUBLIC__/image/menu.png" alt="">
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
        <!--     <if condition="$_SESSION['menustatus'] eq 2">
                <div class="control control-cur">
             <else />
                    <div class="control">
            </if> -->
        <div class="control">
            <input type="hidden" name="menuStatus" value="{:U('/Home/Common/menuStatus')}">
            <input type="hidden" name="session" value="{$_SESSION['menustatus']}">
            <div class="nav">
                <ul>
                    <li>
                        <div class="seat">
                            <a href="{:U('Home/Index/index')}">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-1.png" alt="">
                                </div>
                                <span>首页</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="seat">
                            <a href="javascript:;">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-6.png" alt="">
                                </div>
                                <span>人员登记</span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <div class="seat">
                                    <a href="{:U('Home/NotAttendIns/NotAttendInsIndex')}">
                                    <span>未参保人员登记</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="{:U('Home/MedicalInsAttend/MedicalInsAttendIndex')}">
                                    <span>城乡医疗参保登记</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="{:U('Home/EndowmentInsAttend/endowmentInsAttendIndex')}">
                                    <span>城乡养老参保登记</span>
                                </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="seat">
                            <a href="javascript:;">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-2.png" alt="">
                                </div>
                                <span>社保缴纳</span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>城乡居民医疗保险</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>城乡居民医疗保险</span>
                                </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="seat">
                            <a href="javascript:;">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-4.png" alt="">
                                </div>
                                <span>信息查询</span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>参保信息查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>城乡养老缴纳查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>城乡居民缴纳查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>待遇领取查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>医疗报销查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>医疗提高报销查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>养老参保进度查询</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>医疗参保进度查询</span>
                                </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="seat">
                            <a href="javascript:;">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-5.png" alt="">
                                </div>
                                <span>待遇资格认证</span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>待遇资格认证</span>
                                </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="seat">
                            <a href="javascript:;">
                                <div class="img-box">
                                    <img src="__PUBLIC__/image/nav-3.png" alt="">
                                </div>
                                <span>帮村民找工作</span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>个人求职登记</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="seat">
                                    <a href="javascript:;">
                                    <span>单位招聘查询</span>
                                </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="pageContol">