        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">人员登记</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">就业困难人员登记</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="care">
                            <h3>登记就业困难人员信息须知</h3>
                            <p>1.本操作不可逆，请据实填写相关信息，并确认无误后提交。</p>
                            <p>2.<span>非本村户籍人员</span>不得登记。</p>
                            <p>3.申请条件满足下列之一的即可办理</p>
                            <p class="reset-p">1）符合“4050”（男性年满50周岁，女性年满40周岁）的城镇登记失业人员；</p>
                            <p class="reset-p"> 2）城镇零就业家庭成员；</p>
                            <p class="reset-p">3）享受城市居民最低生活保障待遇家庭成员；</p>
                            <p class="reset-p">4）领取失业保险金1年以上，仍未就业人员；</p>
                            <p class="reset-p">5）连续失业1年以上人员，从登记失业之日起，在就业服务机构每季度登记一次，并接受公共就业人才服务机构职业介绍，非本人意愿3次未实现就业的；</p>
                            <p class="reset-p">6）持有《残疾证》人员；</p>
                            <p class="reset-p">7）完全失去土地一年以上人员，从登记失业之日起，在就业服务机构每季度登记一次，经公共就业人才服务机构职业介绍，非本人意愿3次未实现就业的；</p>
                            <p class="reset-p">8）家庭经济困难的大中专毕业生（享受城镇低保或农村低保户家庭）且登记失业半年以上的。</p>
                            <p>4.提供材料：</p>
                            <p class="reset-p">1） 第1、4、5、6类人员提供的材料：《居民身份证》、《户口本》、《就业失业登记证》及所属社区/村委会相关情况证明；</p>
                            <p class="reset-p">2） 第2类人员需提供的材料：《居民身份证》、《户口本》、《就业失业登记证》及所属社区/村委会相关情况证明、入户调查证明；</p>
                            <p class="reset-p">3） 第3、7类人员需提供的材料：《居民身份证》、《户口本》、《就业失业登记证》及所属社区/村委会相关情况证明、民政部门核发的《低保证》；</p>
                            <p class="reset-p">4）第8类人员需提供的材料：《居民身份证》、《户口本》、《就业失业登记证》、乡镇政府出具的完全失地证明，涉及失业的，需提供《就业失业登记证》中有关失业登记的记录及该复印页。</p>
                            <p>5.办理过程中如有问题，请咨询0314-XXXXXX。</p>
                        </div>
                        <div class="care careful">
                            <p>为防止办事过程中出现不必要的错误，请协办人员仔细阅读注意事项后开始操作。</p>
                           </p>
                        </div>
                        <div class="btn layui-form">
                            <div>
                                <button class="layui-btn bgc-orange ">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>