        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">社保缴费</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">城乡居民医疗保险缴费</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="operationControl  core">
                    <h4 class="h4-title">城乡居民医疗保险缴费人员明细</h4>
                </div>
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <table class="grid-table" id="gridTable">
                            <thead>
                                <tr>
                                    <td><span>序号</span></td>
                                    <td><span>姓名</span></td>
                                    <td><span>身份证号</span></td>
                                    <td><span>性别</span></td>
                                    <td><span>地址</span></td>
                                    <td><span>金额</span></td>
                                    <td><span>操作</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>1</span></td>
                                    <td><span>李兴亮</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>2</span></td>
                                    <td><span>李雷</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>女</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>3</span></td>
                                    <td><span>柳淑兰</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>4</span></td>
                                    <td><span>李伟</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>5</span></td>
                                    <td><span>陈英娣</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>6</span></td>
                                    <td><span>陈平</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>7</span></td>
                                    <td><span>杨猛</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>8</span></td>
                                    <td><span>李兴亮</span></td>
                                    <td><span>230205166548510</span></td>
                                    <td><span>男</span></td>
                                    <td><span>大屯乡小城子村1组11号</span></td>
                                    <td><span>180</span></td>
                                    <td>
                                        <button class='layui-btn bgc-blued'>删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ul-list">
                            <ul class="ul-title">
                                <li>
                                    <label for="">缴费年度：</label>
                                    <span>2018年</span>
                                </li>
                                <li>
                                    <label for="">缴费人数：</label>
                                    <span>7人</span>
                                </li>
                                <li>
                                    <label for="">缴费金额：</label>
                                    <span>1260元</span>
                                </li>
                            </ul>
                        </div>
                        <div class="pay-box">
                            <ul class="paymoney">
                                <li>
                                    <input type="radio" name="pay">
                                    <span class="wx"></span>
                                </li>
                                <li>
                                    <input type="radio" name="pay">
                                    <span class="zfb"></span>
                                </li>
                                <li>
                                    <input type="radio" name="pay">
                                    <span class="yl"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-box">
                            <button class="layui-btn bgc-orange">返回首页</button>
                            <button class="layui-btn bgc-blued">确认缴费</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>