       <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">社保缴费</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">城乡居民医疗保险缴费</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="care">
                            <h3>微信支付</h3>
                            <p>1.请打开微信“扫一扫”功能，对准屏幕二维码进行付款操作；</p>
                            <p>2.反聩付款成功后，系统将自动提示您是否打印缴费凭证，点击“是”，即可打印缴费凭证。</p>
                        </div>
                          <div class="pay">
                            <div class="ibox">
                                <img src="__PUBLIC__/image/ewm.png" alt="">
                            </div>
                              
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>