        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;" class="cur-a">我的消息</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="operationControl">
                    <div class="searchBox">
                        <select name="sobj" lay-verify="required">
                            <option value="">选择消息类别</option>
                            <option value="0">通知类</option>
                            <option value="1">公告类</option>
                        </select>
                        <select name="sobj" lay-verify="required">
                            <option value="">选择消息状态</option>
                            <option value="0">已读</option>
                            <option value="1">未读</option>
                        </select>
                        <button class="bgc-blued layui-btn" onclick="opSearch()">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                    <div class="searchBtns">
                        <button class="bgc-greend layui-btn">创建消息</button>
                        <button class="bgc-redd layui-btn pding">关闭</button>
                    </div>
                </div>
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <table class="grid-table" id="gridTable">
                            <thead>
                                <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                        <span>全选</span>
                                    </td>
                                    <td><span>消息类别</span></td>
                                    <td><span>标题名称</span></td>
                                    <td><span>发布人</span></td>
                                    <td><span>发布时间</span></td>
                                    <td><span>消息状态</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                                 <tr>
                                    <td class="tdCheckbox">
                                        <input type="checkbox">
                                    </td>
                                    <td><span>通知类</span></td>
                                    <td><span>杨梦洁大战白骨精三百回合</span></td>
                                    <td><span>王王王</span></td>
                                    <td><span>2016-01-01</span></td>
                                    <td><span>已读</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pageNum" id="pageNum"></div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>