        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">我的消息</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">创建消息</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="center-main">
                            <div class="center-box">
                                <div class="label-title">
                                    <label for=""><b>*</b>标题</label>
                                </div>
                                <div class="label-content">
                                    <input type="text" class="layui-input">
                                </div>
                            </div>
                            <div class="center-box">
                                <div class="label-title">
                                    <label for=""><b>*</b>正文</label>
                                </div>
                                <div class="label-content">
                                    <div>
                                        <script id="editor" name="content" type="text/plain" style="width: 100%;height: 100%;"></script>
                                    </div>
                                </div>
                            </div>
                            <div class="center-box">
                                <div class="label-title">
                                    <label for=""><b>*</b>推送类型</label>
                                </div>
                                <div class="label-content">
                                    <div class="label-top m0 m5">
                                        <div class="ckbox">
                                          <input type="checkbox" name="people" class="layui-form" lay-skin="primary" id="tz">
                                             <label for="tz"> <label for="tz"  class="spam">通知类</label>
                                        </div>
                                        <div class="ckecbox">
                                            <input type="checkbox" name="people" class="layui-form" lay-skin="primary" id="gg">
                                           <label for="gg" class="spam">公告类</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-box">
                                <div class="label-title">
                                    <label for=""><b>*</b>推送对象</label>
                                </div>
                                <div class="label-content">
                                    <div class="label-top m0">
                                        <div class="">
                                            <input type="radio" name="people" value="指定人群推送">
                                            <span>指定人群推送</span>
                                        </div>
                                        <div class="flex-1">
                                            <select name="" id="">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="label-top">
                                        <div class="">
                                            <input type="radio" name="people">
                                            <span>指定人员推送</span>
                                        </div>
                                        <div class="flex-1">
                                            <select name="" id="">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-box">
                                <div class="label-title">
                                    <label for=""><b>*</b>推送方式</label>
                                </div>
                                <div class="label-content">
                                    <div class=" label-top" style="margin: 0">
                                        <div>
                                            <input type="radio" name="mode"><span>短信推送</span>
                                            <input type="radio" name="mode"><span>系统消息</span>
                                            <input type="radio" name="mode"><span>通知公告</span>
                                        </div>
                                        <div class="flex-1">
                                            <select name="" id="">
                                                <option value="">请选择</option>
                                                <option value="1">政务服务端</option>
                                                <option value="1">APP服务端</option>
                                                <option value="1">Web服务端</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-bo">
                                <button class="bgc-orange layui-btn">取消</button>
                                <button class="bgc-blued  layui-btn">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pageNum" id="pageNum"></div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>
// 富文本编辑器
var ue = UE.getEditor('editor', {
    // initialFrameHeight: $('.article-edit-centent').height()-150,
    autoHeightEnabled: false

});
ue.ready(function() {
    ue.setHeight(300);
    //设置编辑器的内容
    // ue.setContent('hello');
    // //获取html内容，返回: <p>hello</p>
    // var html = ue.getContent();
    // //获取纯文本内容，返回: hello
    // var txt = ue.getContentTxt();
});
</script>

</html>