       <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">我的消息</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">消息详情</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="pageList">
                            <div class="pageTitle">
                                <h4 class="h4-title">滦平县人社局积极发挥职能作用加强三级服务平台建设惠民生</h4>
                                <p>发布时间<span>2018-02-02 09:56 </span> 来源 <span>XXX</span></p>
                            </div>
                            <div class="pagecontent">
                                <p>
                                    滦平县人社局积极发挥职能作用，以打造高水平的民生服务体系为目标，高效率推进，高标准建设，完成三级人社服务平台建设工作，并顺利通过市考核组验收。
                                </p>
                                <p>
                                    强化整体设计，确保建设高标准。为了提高规范工程建设标准、提高资金使用效率，实行公开招投标，要求在每项工程启动前对样本间进行 规范设计，确保平台建设规范、合理。在县级服务平台建成了人力资源和社会保障综合服务中心视觉识别系统，设置32 个窗口，用于5 个社保经 办机构的业务受理；乡镇服务平台在原基础上完成标识标牌的更新和视觉识别装饰工作；对村级平台实现机构设置、人员配备、工作职能、建设 标准、设备配置、标识标牌等六统一，试点村按乡镇标准打造省厅统一的视觉识别系统。
                                </p>
                                <p>
                                    加强人员培训，确保队伍高素质。通过选聘专业人才、邀请专家授课等方式，不断提升基层平台建设服务指导中心的队伍力量和人员素养，增 强对硬件设备、网络数据的日常维护能力和对乡、村两级工作人员的监督指导能力。对全县各乡镇人社服务所所长和14 个社区业务协办人员开展人 社业务培训和素质提升培训，统一教授业务经办内容、业务流程、工作注意事项、综合服务平台软件使用等事项。同时，安排专业技术人员到各乡 镇和行政村进行软件调试演示和现场业务指导，提高基层工作人员实际操作能力。建立三级平台工作人员微信交流群，随时推送人社服务信息、解 答业务咨询，真正打造出一支服务优、素质高、业务强的人社专兼职队伍，切实提升服务群众水平。
                                </p>
                            </div>
                            <div class="pagebtn">
                                <button class="layui-btn  bgc-red">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pageNum" id="pageNum"></div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>