        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">参保信息查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="content">
                          <div class="title information_title news_title">
                            <h2>参保缴费查询</h2>
                            <p>
                              <span class="mr">姓名：于海英</span>
                              <span>身份证号码：13030219960526114X</span>
                            </p>
                          </div>
                          <div class="content_form">
                            <div class="form-wrap">
                              <h3>城乡居民养老保险</h3>
                              <div class="form_box form_bt form_box1">
                                <div class="inputBox">
                                  <div class="form">
                                    <div class="form-cell">
                                        <label>参&nbsp&nbsp&nbsp保&nbsp&nbsp日&nbsp&nbsp期：</label>
                                        <div>
                                          <span>2014-04-02</span>
                                        </div>
                                    </div>
                                    <div class="form-cell">
                                        <label>累计缴费年限：</label>
                                        <div>
                                          <span>8</span>
                                        </div>
                                    </div>
                                    <div class="form-cell">
                                      <label>特&nbsp&nbsp&nbsp殊&nbsp&nbsp待&nbsp&nbsp遇：</label>
                                      <div>
                                          <span>无</span>
                                      </div>
                                    </div>
                                    <div class="form-cell">
                                      <label>当前缴费档次：</label>
                                      <div>
                                          <span>1100.00</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form form_l">
                                    <div class="form-cell">
                                        <label>账&nbsp&nbsp&nbsp户&nbsp&nbsp余&nbsp&nbsp额：</label>
                                        <div>
                                          <span>1146.89</span>
                                        </div>
                                    </div>
                                    <div class="form-cell">
                                      <label>发&nbsp&nbsp&nbsp放&nbsp&nbsp状&nbsp&nbsp态：</label>
                                      <div>
                                          <span class="c-bluedd">未领取待遇</span>
                                      </div>
                                    </div>
                                    <div class="form-cell">
                                      <label>发&nbsp&nbsp&nbsp放&nbsp&nbsp方&nbsp&nbsp式：</label>
                                      <div>
                                          <span>无</span>
                                      </div>
                                    </div>
                                    <div class="form-cell">
                                      <label>委托发放机构：</label>
                                      <div>
                                          <span>无</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-wrap">
                              <h3>城乡居民医疗保险</h3>
                              <div class="form_box form_bt form_box1">
                                <div class="inputBox">
                                  <div class="form">
                                    <div class="form-cell">
                                        <label>参保日期：</label>
                                        <div>
                                          <span>2014-04-02</span>
                                        </div>
                                    </div>
                                    <div class="form-cell">
                                        <label>账户余额：</label>
                                        <div>
                                          <span>8元</span>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form form_l">
                                    <div class="form-cell">
                                        <label>参保状态：</label>
                                        <div>
                                          <span class="c-bluedd">正常参保</span>
                                        </div>
                                    </div>
                                    <div class="form-cell">
                                        <label>经办机构：</label>
                                        <div>
                                          <span>滦平县人社局</span>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>