        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;">城乡居民医疗保险参保登记</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">参保登记进度查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="care">
                            <h3>参保登记进度查询注意事项：</h3>
                            <p>1、登记审批进度可按<span>身份证号码</span>查询。</p>
                            <p>2、请输入申领人的<span>身份证号码</span>查询申请人的社保卡办理进度。</p>
                        </div>
                        <div class="care careful">
                            <p>注意事项：</p>
                            <p>点击【开始办理】，办事过程中只能操作下一步，无法退回上一步。</p>
                            <p>请协办人员仔细阅读注意事项后开始操作，避免办事过程中出现不必要的错误。</p>
                        </div>
                        <div class="btn layui-form">
                            <div>
                                 <input type="checkbox" class="layui-form-checkbox" lay-skin="primary" checked="checked">
                                 <span>我已阅读并理解</span>
                            </div>
                            <div>
                                 <button class="layui-btn bgc-blued ">开始查询</button>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>