 <div class="framePage">
        	<div class="ovy-a">
        		<div class="pageContol-top">
	        		<div class="notice-list">
		        		<div class="notice-top">
		        			<span>通知公告</span>
		        			<a href="javascript:;">更多</a>
		        		</div>
		        		<div class="notice-bottom">
		        			<ul>
		        				<li><p>滦平县2018年城乡居民医疗保险缴费通知</p><p class="notice-date">2018-01-01 9:25</p></li>
		        				<li><p>滦平县2018年城乡居民医疗保险缴费通知</p><p class="notice-date">2018-01-01 9:25</p></li>
		        				<li><p>滦平县2018年城乡居民医疗保险缴费通知</p><p class="notice-date">2018-01-01 9:25</p></li>
		        				<li><p>滦平县2018年城乡居民医疗保险缴费通知</p><p class="notice-date">2018-01-01 9:25</p></li>
		        			</ul>
		        		</div>
	        		</div>
		        	<div class="number-box">
		        		<div class="num-box bgc-greenl mr mb">
		        			<img src="__PUBLIC__/image/cb_icon.png" alt="">
		        			<span>参保登记（人）</span>
		        			<b>120</b>
		        		</div>
		        		<div class="num-box bgc-violet mb">
		        			<img src="__PUBLIC__/image/sb_icon.png" alt="">
		        			<span>社保缴费（人）</span>
		        			<b>120</b>
		        		</div>
		        		<div class="num-box bgc-blue mr">
		        			<img src="__PUBLIC__/image/sb1_icon.png" alt="">
		        			<span>社保卡申领（人）</span>
		        			<b>120</b>
		        		</div>
		        		<div class="num-box bgc-orange">
		        			<img src="__PUBLIC__/image/dy_icon.png" alt="">
		        			<span>待遇资格认证（人）</span>
		        			<b>120</b>
		        		</div>
		        	</div>
	        	</div>
        	<div class="pageContol-bottom">
	        	<div class="data-description">
		        		<div class="description-top">
		        			<span>数据说明</span>
		        		</div>
		        		<div class="description-bottom">
		        			<div class="description-box">
		        				<div class="box-word">
		        					<div id="demo" class="demo"></div>
		        				</div>
		        				<div class="word">2017年小城子村全村人口XX人，参保人数XX人，未参保人数XX人。</div>
		        			</div>
		        			<div class="description-box">
		        				<div class="box-word">
		        					<div id="demo2" class="demo"></div>
		        				</div>
		        				<div class="word">2017年小城子村全村人口XX人，参保人数XX人，未参保人数XX人。</div>
		        			</div>
		        			<div class="description-box">
		        				<div class="box-word">
		        					<div id="demo3" class="demo"></div>
		        				</div>
		        				<div class="word">2017年小城子村全村人口XX人，参保人数XX人，未参保人数XX人。</div>
		        			</div>
		        		</div>
	        		</div>
	        </div>
        	</div>
					
        </div>
    </div>
	</div>
    
</body>
 <include file="Public:footer" />

 <script type="text/javascript">
   // demo
    var myChart1 = echarts.init(document.getElementById('demo'));
      var option1 = {
     		title: {
        subtext: "【全村参保整体情况】    单位/人",
            x: "center",
            y: '-center',
            subtextStyle: {
                color: "#555656",
                fontSize: 15,
                fontWeight: 700
            },
        },
        color: [
        		"#4277d9",
            "#ea8d39"
            

        ],
        series: [{
            name: '',
            type: 'pie',
            //   selectedMode: 'single',
            radius: '65%',
            center: ['50%', '65%'],
            //  startAngle:-150,
            //minAngle: 0,
            label: {
                normal: {
                    //    lineHeight:50,
                    position: 'outer',
                    color: '#555656',
                    formatter: '{b}\n\n',
                    fontSize: 10,
                    borderWidth: 50,
                    padding: [0, -65],
                    //borderRadius: 4,
                }
            },
            labelLine: {
                normal: {
                    length: 20,
                    length2: 60,
                    lineStyle: {
                        width: 2,
                        type: 'solid',
                        radius: 270,
                        color:'#555656'
                    }
                }

            },
            selectedOffset: 3,
            itemStyle: {
                borderWidth: 0,
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                },
                fontColor: "#ffffff"
            },
            data: [
                { value: 335, name: '未参保人数XX' ,selected: true},
                { value: 220, name: '参保人数XXX' }
            ],
        }]
    };;
      myChart1.setOption(option1)

      // demo2
      var myChart2 = echarts.init(document.getElementById('demo2'));
      var option2 = {
     		title: {
        subtext: "【城乡居民医疗保险】    单位/人",
            x: "center",
            y: '-center',
            subtextStyle: {
                color: "#555656",
                fontSize: 15,
                fontWeight: 700
            },
        },
        color: [
        		"#4277d9",
            "#ea8d39"
            

        ],
        series: [{
            name: '',
            type: 'pie',
            //   selectedMode: 'single',
            radius: '65%',
            center: ['50%', '65%'],
            //  startAngle:-150,
            //minAngle: 0,
            label: {
                normal: {
                    //    lineHeight:50,
                    position: 'outer',
                    color: '#555656',
                    formatter: '{b}\n\n',
                    fontSize: 10,
                    borderWidth: 50,
                    padding: [0, -65],
                    //borderRadius: 4,
                }
            },
            labelLine: {
                normal: {
                    length: 20,
                    length2: 60,
                    lineStyle: {
                        width: 2,
                        type: 'solid',
                        radius: 270,
                        color:'#555656'
                    }
                }

            },
            selectedOffset: 3,
            itemStyle: {
                borderWidth: 0,
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                },
                fontColor: "#ffffff"
            },
            data: [
                { value: 335, name: '未参保人数XX' ,selected: true},
                { value: 220, name: '参保人数XXX' }
            ],
        }]
    };
      myChart2.setOption(option2)

      // demo3
      var myChart3 = echarts.init(document.getElementById('demo3'));
      var option3 = {
     		title: {
        subtext: "【城乡居民养老保险】    单位/人",
            x: "center",
            y: '-center',
            subtextStyle: {
                color: "#555656",
                fontSize: 15,
                fontWeight: 700
            },
        },
        color: [
        		"#4277d9",
            "#ea8d39"
            

        ],
        series: [{
            name: '',
            type: 'pie',
            //   selectedMode: 'single',
            radius: '65%',
            center: ['50%', '65%'],
            //  startAngle:-150,
            //minAngle: 0,
            label: {
                normal: {
                    //    lineHeight:50,
                    position: 'outer',
                    color: '#555656',
                    formatter: '{b}\n\n',
                    fontSize: 10,
                    borderWidth: 50,
                    padding: [0, -65],
                    //borderRadius: 4,
                }
            },
            labelLine: {
                normal: {
                    length: 20,
                    length2: 60,
                    lineStyle: {
                        width: 2,
                        type: 'solid',
                        radius: 270,
                        color:'#555656'
                    }
                }

            },
            selectedOffset: 3,
            itemStyle: {
                borderWidth: 0,
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                },
                fontColor: "#ffffff"
            },
            data: [
                { value: 335, name: '未参保人数XX' ,selected: true},
                { value: 220, name: '参保人数XXX' }
            ],
        }]
    };
      myChart3.setOption(option3)
</script>
</html>