<div class="framePage">
    <div class="framePage-title">
        <a href="javascript:;">人员登记</a>
        <i>></i>
        <a href="javascript:;" class="cur-a">城乡居民养老保险参保登记</a>
    </div>
    <div class="framePage-body layui-form">
        <div class="framePage-scroll">
            <div class="ovy-a">
                <div class="bg-box">
                    <div class="care">
                        <div class="h3-title">
                            <h3>上传户口本照片</h3>
                        </div>
                        <div class="pbox p-flex">
                            <div>
                                <p>1.头像照片必须为本人现场拍摄照片</p>
                                <p>2.证件照片必须为原件彩色照片，照片清晰无水印。</p>
                            </div>
                            <div>
                                <p>3.统一横屏拍摄，周边无大块留白</p>
                                <p>4.证件需在有效期内，证件原件完整（不缺角、无涂改），周边无边框</p>
                            </div>
                        </div>
                    </div>
                    <!--  <div class="book-box">
                                <div class="book-div">
                                    <div class="">
                                        
                                    </div>
                                </div>
                                <div class="book-div">
                                  <div class="">
                                    
                                  </div>
                                </div>
                            </div> -->
                    <div class="demo">
                        <div class="demo-page  hk-book">
                            <div class="demo-pagepd outline">
                               <label for="upload1"><i class="jh"></i></label>
                                <input id="upload1" type="file" style="display: none">
                                <div class="book-box">
                                    <img src="__PUBLIC__/image/hk.png" alt="" id="preview1">
                                </div>
                            </div>
                            <p>请点击加号上传</p>
                        </div>
                        <div class="demo-page  hk-book">
                            <div class="demo-pagepd outline">
                                <label for="upload"><i class="jh"></i></label>
                                <input id="upload" type="file" style="display: none">
                                <div class="book-box">
                                    <img src="__PUBLIC__/image/hk2.png" alt="" id="preview">
                                </div>
                            </div>
                            <p>请点击加号上传</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn layui-form">
            <div>
                <input type="hidden" id="gethouseholdFirstImg" value="group1+M00/00/02/wKgDDVst_pCAFq-uAABY5XwgzCQ610+png">
                <input type="hidden" id="gethouseholdPeopleImg" value="group1+M00/00/02/wKgDDVst_pCAFq-uAABY5XwgzCQ610+png">
                <button class="layui-btn bgc-blued butt" onclick="nextSteup()">下一步</button>
                <a href="{$dayinUrl}" target="_blank" id="dayinAllurl"><button class="layui-btn bgc-blued butt">打印材料</button></a>

            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- 弹出层 -->
<div class="alert" style="display: none">
    <div class="alert-box">
        <div class="bingo">
            <img src="__PUBLIC__/image/bingo.png" alt="">
        </div>
    </div>
    <div>
        <p>上传成功</p>
    </div>
</div>
</body>
<include file="Public:footer" />
<script>
      //上传图片
    uploadimg("upload","preview");
    uploadimg("upload1","preview1");
    $(function() {
        $("#idcardBackImgfile").change(function () {
            alert("llll")
            imgUpload("idcardBackImgfile");
        })
    });

    function choose() {
        $("#idcardBackImgfile").trigger("click");
    }

    function imgUpload(){
        var url=$("#url").val();
        url="http://"+url;
        alert(url)
        $("#form1").ajaxSubmit({
            success: function (data) {
                alert("dddd")
                if (data.code ==0){
                    var imgpath="{"+data.msg+"|getImg}"
                    alert(imgpath)
                    $("#idcardBackImgfilessss").attr("src",imgpath)
                }

            },
            error: function (error) {
                console.log(error)
            },
            url:url, /*设置post提交到的页面*/
            type: "post", /*设置表单以post方法提交*/
            // dataType: "json" /*设置返回值类型为文本*/
        });
    }
    function nextSteup() {
        if (check() == false){
            return;
        }
        $.ajax({
            type: "post",
            url: "{:U('/Home/EndowmentInsAttend/gethouseholdImg')}",
            data: {
                gethouseholdFirstImg: $("#gethouseholdFirstImg").val(),//姓名
                gethouseholdPeopleImg: $("#gethouseholdPeopleImg").val(), //身份证号
            },
            dataType: "json",
            beforeSend: function(){
            },
            success: function(ret) {
                if (ret.code == 1) {
                    if(ret.url==""){
                        layer.msg("跳转路径接受失败");
                    }else {
                        window.location.href=ret.url;
                    }
                    $("#listHtml").html(ret.data)
                }else {
                    if (ret.message == ''){
                        layer.msg('请输入正确的身份证号！');
                    }else {
                        layer.msg(ret.message);

                    }
                }
            },
        });

    }
    //校验
    function check(){;
        if ($("#gethouseholdFirstImg").val()=="") {
            layer.msg("请上传身份证背面图片");
            return false;
        }
        if ($("#gethouseholdPeopleImg").val()=="") {
            layer.msg("请上传身份证正面图片");
            return false;
        }

    }
    $('#upload').change(function () {
        // 获取FileList的第一个元素
        var f = document.getElementById('upload').files[0];
        src = window.URL.createObjectURL(f);
        document.getElementById('preview').src = src
    })
function flx() {
    layer.open({
        type: 1,
        content: $('.alert'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        area: ["478px", "304px"],
        title: false,
        cancel: function(index, layero) {
            //只有当点击confirm框的确定时，该层才会关闭
            layer.close(index);
            $('.alert').css("display", "none");
        }
    });
}
</script>

</html>