        <div class="framePage">
            <div class="framePage-title">
                 <a href="javascript:;">帮村民找工作</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">单位招聘查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                       <div class="more-news">
                        <div class="more-title">
                             <div>
                               <h4>厨师/帮厨</h4>
                               <span>滦平富江酒楼</span>
                             </div>
                           <div>
                               <span><em>发布时间</em> | 2018-05-27</span>
                           </div>
                        </div>
                        <div class="title-new">
                            <ul>
                                <li>
                                    <div class="imgbox">
                                        <img src="__PUBLIC__/image/icon-job1.png" alt="">
                                    </div>
                                    <div><label for="">招聘人数</label><span>2人</span></div>
                                </li>
                                <li>
                                    <div class="imgbox">
                                        <img src="__PUBLIC__/image/icon-job2.png" alt="">
                                    </div>
                                    <div><label for="">工作年限</label><span>2人</span></div>
                                </li>
                                <li>
                                    <div class="imgbox">
                                        <img src="__PUBLIC__/image/icon-job3.png" alt="">
                                    </div>
                                    <div><label for="">专业种类</label><span>不限</span></div>
                                </li>
                                <li>
                                    <div class="imgbox">
                                        <img src="__PUBLIC__/image/icon-job4.png" alt="">
                                    </div>
                                    <div><label for="">工作性质</label><span>不限</span></div>
                                </li>
                                <li>
                                    <div class="imgbox">
                                        <img src="__PUBLIC__/image/icon-job5.png" alt="">
                                    </div>
                                    <div><label for="">工作地点</label><span>滦平县</span></div>
                                </li>
                                <li>
                                    <div class="imgbox">
                                        <img src="__PUBLIC__/image/icon-job6.png" alt="">
                                    </div>
                                    <div><label for="">学历要求</label><span>大专</span></div>
                                </li>
                            </ul>
                        </div>
                        <div     class="treatment">
                            <h4>工作内容</h4>
                            <p>1、在有客户或贵宾到访工厂的情况下，给客人或贵宾烹饪饭菜；</p>
                            <p>2、负责厨房和储物室的管理清洁，负责购物清单记账和与财务核销费用。 【任职要求】</p>
                            <p>3、身体健康，有健康证等上岗必备条件；</p>
                            <p>4、时间观念强，工作有计划性；</p>
                            <p>5、熟练驾驶电动摩托车等。上班时间：5.5天工作制，上午08:00-12:00，下午</p>
                        </div>
                        <div    class="treatment">
                            <h4>薪资待遇</h4>
                            <p>双休，休周六日，享受带薪休年假，以及享受国家法定规定的各种福利。</p>
                        </div>
                           <div class="treatment">
                            <h4>联系方式</h4>
                            <p>联系人：李经理                        电话：19809349876</p>
                            <p>地址：承德市滦平县金原商务大厦17楼B05和25楼C06</p>
                        </div>
                        <div class="btn">
                            <button class="layui-btn bgc-green">打印</button>
                            <button class="layui-btn bgc-blued">推荐工作</button>
                            <button class="layui-btn bgc-red">关闭</button>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
<include file="Public:footer" />
</html>