<div class="framePage">
    <div class="framePage-title">
        <a href="javascript:;">帮村民找工作</a>
        <i>></i>
        <a href="javascript:;" class="cur-a">单位招聘查询</a>
    </div>
    <div class="framePage-body layui-form  bg-color">
        <div class="operationControl">
            <div class="searchBox">
                <input type="text" class="layui-input">
                <button class="bgc-blued layui-btn" onclick="opSearch()">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button class="layui-btn bgc-blued" onclick="seach()">高级搜索</button>
            </div>
            <div class="searchBox">
                <select name="sobj" lay-verify="required">
                    <option value="">职位</option>
                    <option value="0">瓦工</option>
                    <option value="1">木工</option>
                    <option value="2">钳工</option>
                    <option value="3">保洁</option>
                </select>
                <select name="sobj" lay-verify="required">
                    <option value="">薪资范围</option>
                    <option value="0">1000-2000</option>
                    <option value="1">2000-3000</option>
                    <option value="2">3000-4000</option>
                    <option value="3">4000-5000</option>
                    <option value="4">5000以上</option>
                </select>
                <select name="sobj" lay-verify="required">
                    <option value="">发布时间</option>
                    <option value="0">最近一天</option>
                    <option value="1">最近一周</option>
                    <option value="1">最近一月</option>
                    <option value="1">全部</option>
                </select>
                <select name="sobj" lay-verify="required">
                    <option value="">排序</option>
                    <option value="0">按最新发布</option>
                    <option value="1">按热度最高</option>
                </select>
            </div>
        </div>
        <div class="framePage-scroll">
            <div class="ovy-a">
                <div>
                    <section onclick="details()">
                        <div class="job">
                            <div class="job-box">
                                <img src="__PUBLIC__/image/job.png" alt="">
                            </div>
                            <div class="p-left">
                                <p>滦平富江酒楼</p>
                                <span>厨师/帮厨</span>
                            </div>
                        </div>
                        <div class="job">
                            <i class="tel"></i>
                            <span class="c-blue"><em>李经理</em>17692460205</span>
                        </div>
                        <div class="job">
                            <div class="colmn">
                                <p class="font-orange">(3000-5000)元</p>
                                <span><em>发布时间</em>2018-06-08</span>
                            </div>
                        </div>
                    </section>
                    <section onclick="details()">
                        <div class="job">
                            <div class="job-box">
                                <img src="__PUBLIC__/image/job.png" alt="">
                            </div>
                            <div class="p-left">
                                <p>滦平富江酒楼</p>
                                <span>厨师/帮厨</span>
                            </div>
                        </div>
                        <div class="job">
                            <i class="tel"></i>
                            <span class="c-blue"><em>李经理</em>17692460205</span>
                        </div>
                        <div class="job">
                            <div class="colmn">
                                <p class="font-orange">(3000-5000)元</p>
                                <span><em>发布时间</em>2018-06-08</span>
                            </div>
                        </div>
                    </section>
                    <section onclick="details()">
                        <div class="job">
                            <div class="job-box">
                                <img src="__PUBLIC__/image/job.png" alt="">
                            </div>
                            <div class="p-left">
                                <p>滦平富江酒楼</p>
                                <span>厨师/帮厨</span>
                            </div>
                        </div>
                        <div class="job">
                            <i class="tel"></i>
                            <span class="c-blue"><em>李经理</em>17692460205</span>
                        </div>
                        <div class="job">
                            <div class="colmn">
                                <p class="font-orange">(3000-5000)元</p>
                                <span><em>发布时间</em>2018-06-08</span>
                            </div>
                        </div>
                    </section>
                    <section onclick="details()">
                        <div class="job">
                            <div class="job-box">
                                <img src="__PUBLIC__/image/job.png" alt="">
                            </div>
                            <div class="p-left">
                                <p>滦平富江酒楼</p>
                                <span>厨师/帮厨</span>
                            </div>
                        </div>
                        <div class="job">
                            <i class="tel"></i>
                            <span class="c-blue"><em>李经理</em>17692460205</span>
                        </div>
                        <div class="job">
                            <div class="colmn">
                                <p class="font-orange">(3000-5000)元</p>
                                <span><em>发布时间</em>2018-06-08</span>
                            </div>
                        </div>
                    </section>
                    <section onclick="details()">
                        <div class="job">
                            <div class="job-box">
                                <img src="__PUBLIC__/image/job.png" alt="">
                            </div>
                            <div class="p-left">
                                <p>滦平富江酒楼</p>
                                <span>厨师/帮厨</span>
                            </div>
                        </div>
                        <div class="job">
                            <i class="tel"></i>
                            <span class="c-blue"><em>李经理</em>17692460205</span>
                        </div>
                        <div class="job">
                            <div class="colmn">
                                <p class="font-orange">(3000-5000)元</p>
                                <span><em>发布时间</em>2018-06-08</span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="number">
                    <p>共15条记录，每页显示5条，当前第1/3页</p>
                </div>
            </div>
        </div>
        <div class="pageNum" id="pageNum"></div>
    </div>
</div>
</div>
<!-- 弹出层 -->
<div class="pay-alert layui-form" id="tan" style="display: none">
    <div class="alert-title">
        <h4>高级搜索</h4>
    </div>
    <div class="pd">
        <div class="form-c">
            <div>
                <label for="">职位</label>
            </div>
            <div class="flex-box">
                <select name="sobj" lay-verify="required">
                    <option value="">职位</option>
                    <option value="0">瓦工</option>
                    <option value="1">木工</option>
                    <option value="2">钳工</option>
                    <option value="3">保洁</option>
                </select>
            </div>
        </div>
        <div class="form-c">
            <div>
                <label for="">薪资范围</label>
            </div>
            <div class="flex-box">
                <input type="text" id="test5" class="layui-input">
                <div class="test"></div>
                <input type="text" id="test7" class="layui-input">
            </div>
        </div>
        <div class="form-c">
            <div>
                <label for="">文化程度</label>
            </div>
            <div class="flex-box">
                <select name="sobj" lay-verify="required">
                    <option value="">职位</option>
                    <option value="0">瓦工</option>
                    <option value="1">木工</option>
                    <option value="2">钳工</option>
                    <option value="3">保洁</option>
                </select>
            </div>
        </div>
        <div class="form-c">
            <div>
                <label for="">工作经验</label>
            </div>
            <div class="flex-box">
                <input type="text" id="test3" class="layui-input ">
                <div class="test"></div>
                <input type="text" id="test4" class="layui-input ">
            </div>
        </div>
        <div class="form-c">
            <div>
                <label for="">发布时间</label>
            </div>
            <div class="flex-box">
                <div class="date-change">
                    <input type="text" id="val1" class="layui-input ">
                    <i class="layui-icon layui-icon-date date" id="test1"></i>
                </div>
                <div class="test"></div>
                <div class="date-change">
                    <input type="text" id="test2" class="layui-input ">
                    <i class="layui-icon layui-icon-date date"></i>
                </div>
            </div>
        </div>
        <div class="form-c">
            <div>
                <label for="">招聘人数</label>
            </div>
            <div class="flex-box">
                <input type="text" id="test5" class="layui-input ">
                <div class="test"></div>
                <input type="text" id="test6" class="layui-input ">
            </div>
        </div>
    </div>
    <div class="pay-btn">
        <button class="layui-btn bgc-orange bttn-orange">取消</button>
        <button class="layui-btn bgc-blued butt">确定</button>
    </div>
</div>
</body>
<include file="Public:footer" />
<script>
function details() {
    window.location.href = "{:U('Home/QueryHiring/add')}"
}

function seach() {
    layer.open({
        type: 1,
        content: $('.pay-alert'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        area: ["540px", "565px"],
        title: false,
        closeBtn: 1,
        cancel: function() {
            $("#tan").css("display", "none");
        }
    });
}

var sta = "1";
var da = "";
layui.use('laydate', function() {
    var laydate = layui.laydate;
    //执行一个laydate实例
    laydate.render({
        elem: '#test1',
        done: function(value, date, endDate) {
            sta == "2";
            da = date;
            $("#val1").val(value);
            $("#test1").text("");
        },
        ready: function(date) {
            if (sta == "1") {
                date;
            } else {
                date = da;
            }
            console.log(date);
        }
    });
    //执行一个laydate实例
    laydate.render({
        elem: '#test2',
        min: $("#test1").val(),
    });
});
</script>

</html>
<!-- <a href="{:U('Home/QueryHiring/add')}">添加</a>
<a href="{:U('Home/QueryHiring/update')}">修改</a>
<a href="{:U('Home/QueryHiring/delete')}">删除</a> -->