{__NOLAYOUT__}
<volist name="list" id="vo">
    <tr>
        <td><span>{$vo.payTime|default=""}</span></td>
        <td><span>{$vo.payYear|default=""}</span></td>
        <td><span>{$vo.payMoney|default=""}</span></td>
        <td><span>{$vo.status|default=""}</span></td>
        <td><span>{$vo.collectionMethod|default=""}</span></td>
        <td><span>{$vo.accountingYear|default=""}</span></td>
        <td><span>{$vo.arrivalTime|default=""}</span></td>
        <td>
            <button class="layui-btn bgc-blued">打印</button>
        </td>
    </tr>
</volist>