        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">城乡养老缴费信息查询</a>
            </div>
            <div class="framePage-body layui-form">
              <div class="content">
                <div class="title information_title news_title news_title1">
                  <h2>缴费信息查询</h2>
                  <p>
                    <span class="mr">姓名：{$userinfo["realName"]|default=""}</span>
                    <span>身份证号码：<span id="idcard">{$userinfo["idcard"]|default=""}</span></span>
                  </p>
                </div>
              </div>
              <div class="operationControl operationControl1">
                <div class="searchBox searchBoxNew">
                    <input placeholder="选择日期范围" type="text" class="layui-input float-l" id="month">
                    <div class="float-l input-btn">
                        <button class="bgc-blued layui-btn" onclick="opSearch()">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="searchBtns">
                    <a href="" target="_blank" id="dayinAllurl"> <button class="bgc-blued layui-btn" >打印</button></a>
                </div>
              </div>
              <div class="framePage-scroll">
                  <div class="ovy-a">
                    <table class="grid-table grid-tableNew" id="gridTable">
                        <thead>
                            <tr>
                                <td><span><b>缴费时间</b></span></td>
                                <td><span><b>缴费年度</b></span></td>
                                <td><span><b>缴费金额</b></span></td>
                                <td><span><b>缴费状态</b></span></td>
                                <td><span><b>征收方式</b></span></td>
                                <td><span><b>记账年限</b></span></td>
                                <td><span><b>到账日期</b></span></td>
                                <td><span><b>打印</b></span></td>
                            </tr>
                        </thead>
                        <tbody id="list">


                        </tbody>
                    </table>
                  </div>
              </div>
              <div class="pageNum" id="pageNum"></div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>
    $(function () {
        $.ajax({
            type: "post",
            url: "{:U('Home/QueryEndInsPay/showResult')}",
            data: {
                idcard: $("#idcard").html(),//姓名
            },
            dataType: "json",
            beforeSend: function(){
                if ($("#idCardhtml").html()==''){
                    layer.msg('身份证号不能为空');
                    return false;
                }
            },
            success: function(ret) {
                if (ret.code == 1) {
                    $("#dayinAllurl").attr("href",ret.dayinAllurl)
                    $("#list").html(ret.data);
                }else {
                    if (ret.message == ''){
                        layer.msg('请求失败');
                    }else {
                        layer.msg(ret.message);
                    }
                }
            },
        });
    })
    function getData(){

    }
  var laydate = layui.laydate;
  laydate.render({
    elem: '#month' //指定元素
        ,
    range: true
})

function opLook () {
  window.location.href='yliaojfcx.html'
}
</script>
</html>