<div class="framePage">
    <div class="framePage-title">
        <a href="javascript:;">社保缴费</a>
        <i>></i>
        <a href="javascript:;" class="cur-a">城乡居民医疗保险缴费</a>
    </div>
    <div class="framePage-body layui-form">
        <div class="framePage-scroll">
            <div class="ovy-a">
                <div class="care">
                    <h3>缴费须知：</h3>
                    <p>1.缴费时请提供缴费人员身份证原件或社会保障卡原件；无法提供原件的，请将缴费人员的身份证号码告知经办人员；</p>
                    <p>2.缴费可通过微信支付或支付宝扫码进行付款；</p>
                    <p>3.本年度征缴期从2018年**月**日至2019年**月**日，逾期未交者，村级将不再受理；</p>
                    <p>4.缴费过程中如遇到问题，可拨打咨询电话0314-8582819；</p>
                    <p>5. 搜索缴费人员信息时，为方便操作可<span>优先按户主身份证号码搜索。</span>无家庭关系的，单独搜索；</p>
                </div>
                <div class="care careful">
                    <p>注意事项：</p>
                    <p>点击【开始办理】，办事过程中只能操作下一步，无法退回上一步。</p>
                    <p>请协办人员仔细阅读注意事项后开始操作，避免办事过程中出现不必要的错误。</p>
                </div>
                <div class="btn layui-form">
                    <div class="item">
                        <input type="checkbox" class="layui-form-checkbox" lay-skin="primary" id="attention">
                        <span>我已阅读并理解</span>
                    </div>
                    <div >
                        <button class="layui-btn bgc-blued butt" onclick="nextStep()">开始缴费</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<include file="Public:footer"/>
</html>
<script>
    function nextStep() {
        if ($("#attention:checked").val()) {
            window.location.href = "{:U('Home/MedicalInsPaying/choosePayingPeople')}"
        } else {
            layer.alert("请仔细阅读注意事项，并勾选‘我已阅读并理解’按钮");
        }
    }
</script>