    <div class="pageContol">
        <div class="main_body">
            <div class="d_title">
                <i class="layui-icon" onclick="goBack()">&#xe65c;</i>
                <p>缴费历史记录</p>
            </div>
            <div class="d_body hasTitle">
                <div class="d_select layui-form">
                    <div class="f_btn">
                        <button class="btn_bulue layui-btn" onclick="getData()">查询</button>
                    </div>
                    <div class="dates">
                        <input type="text" id="dates" class="layui-input" placeholder="缴费款期" readonly first="" end="">
                    </div>
                </div>
                <div class="body_roll pa2 pt0">
                    <div class="layui-forms" type="td">
                        <table class="layui-table" lay-size="lg">
                            <thead>
                                <tr class="bg_blue">
                                    <th>缴费单位</th>
                                    <th>缴费款期</th>
                                    <th>缴费基数</th>
                                    <th>单位数</th>
                                    <th>个人数</th>
                                    <th>到账状态</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="fenye" id="fenye"></div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script type="text/javascript">
    $(function(){
        getData();
        layui.use(['laydate'], function() {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#dates',
                type: 'month',
                range: true,
                done: function(value, date, endDate){
                    if (date.year != undefined && endDate.year != undefined) {
                        $('#dates').attr({
                            first: date.year+''+(date.month>9?date.month:'0'+date.month),
                            end: endDate.year+''+(endDate.month>9?endDate.month:'0'+endDate.month),
                        });
                    } else {
                        $('#dates').attr({
                            first: '',
                            end: ''
                        });
                    }
                }
            });
        });
    });
    // ajax
    function getData(i){
        i = i || 1;
        var idNumber = window.location.href.split('/');
        idNumber = idNumber[idNumber.length-1];
        idNumber = idNumber.split('.');
        var pagesize = listSize();
        $.ajax({
            type: "post",
            url: "{:U('/Home/RetireAudit/queryPayHistory')}",
            data: {
                pagenumber: i,
                pagesize: pagesize,
                firstPaymentPeriod: $('#dates').attr('first'),
                endPaymentPeriod: $('#dates').attr('end'),
                type: 'ajax',
                idNumber: idNumber[0]
            },
            dataType: "json",
            success: function(ret){
                if (ret.code == 1) {
                    if (ret.data == '') {
                        $('.layui-table tbody').html('').empty();
                        $('.layui-forms').append(getEmptyDom());
                    } else {
                        if (i == 1) showLaypage(ret.total, pagesize);
                        $('.empty-seat').remove();
                        var dom = '';
                        var status = '';
                        $.each(ret.data, function(index, n) {
                            if (n.status == 0) {
                                status = '欠费';
                            } else if (n.status == 1) {
                                status = '已实缴';
                            } else if (n.status == 1) {
                                status = '已退费';
                            } else {
                                status = '';
                            }
                            dom += '<tr>'+
                                '<td>'+(n.companyName||'')+'</td>'+
                                '<td>'+(n.paymentPeriod||'')+'</td>'+
                                '<td>'+((n.basePay+'元')||'')+'</td>'+
                                '<td>'+((n.companyPay+'元')||'')+'</td>'+
                                '<td>'+((n.personalPay+'元')||'')+'</td>'+
                                '<td>'+status+'</td>'+
                            '</tr>';
                        });
                        $('.layui-table tbody').html('').empty().append(dom);
                    }
                } else {
                    layer.alert(ret.msg);
                }
            },
            error: function(a,b,c){
                layer.alert('服务器访问失败，请稍后再试。');
            }
        });
    }
</script>
</html>