        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">待遇资格认证</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="care">
                            <h3>城乡居民养老保险待遇领取资格认证注意事项：</h3>
                            <p>1.认证过程中需要认证人根据语音提示做出相应的面部动作</p>
                            <p>2.采集过程中遇到问题，可拨打咨询电话0314-8582819</p>
                        </div>
                        <div class="care careful">
                            <p>注意事项：</p>
                            <p>点击【开始办理】，办事过程中只能操作下一步，无法退回上一步。</p>
                            <p>请协办人员仔细阅读注意事项后开始操作，避免办事过程中出现不必要的错误。</p>
                        </div>
                        <div class="btn layui-form">
                            <div>
                                 <input type="checkbox" class="layui-form-checkbox" lay-skin="primary">
                                 <span>我已阅读并理解</span>
                            </div>
                            <div>
                                 <button class="layui-btn bgc-blued " onclick="handle()">开始办理</button>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>
	function handle(){
		window.location.href = "{:U('Home/CertTreatmentQualified/getIdcardInfo')}"
	}
</script>
</html>