        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">待遇资格认证</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="rz-succcess">
                             <figure>
                            <img src="__PUBLIC__/image/success.png" alt="出错了">
                            <figcaption>
                                <p>认证成功</p>
                            </figcaption>
                        </figure>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>