        <div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">信息查询</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">参保信息查询</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="content">
                          <div class="title information_title news_title">
                            <h2>参保缴费查询</h2>
                            <p>
                              <span class="mr">姓名：{$userinfo["realName"]}</span>
                              <span>身份证号码：<span id="idcard">{$userinfo["idcard"]}</span></span>
                            </p>
                          </div>
                          <div class="content_form">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
</html>
        <script>
            $(function () {
                $.ajax({
                    type: "post",
                    url: "{:U('/Home/QueryAttendInsInfo/getPeopleAttndIns')}",
                    data: {
                        idcard: $("#idcard").html(),//姓名
                    },
                    dataType: "json",
                    beforeSend: function(){
                        if ($("#idCardhtml").html()==''){
                            layer.msg('身份证号不能为空');
                            return false;
                        }
                    },
                    success: function(ret) {
                        if (ret.code == 1) {
                            $(".content_form").html(ret.data);
                        }else {
                            if (ret.message == ''){
                                layer.msg('请求失败');
                            }else {
                                layer.msg(ret.message);
                            }
                        }
                    },
                });
            })
        </script>