<div class="framePage">
            <div class="framePage-title">
                <a href="javascript:;">社保缴费</a>
                <i>></i>
                <a href="javascript:;" class="cur-a">城乡养老缴费档次变更</a>
            </div>
            <div class="framePage-body layui-form">
                <div class="framePage-scroll">
                    <div class="ovy-a">
                        <div class="bg-box">
                            <div class="care">
                                <div class="h3-title">
                                    <h3>缴费档次变更</h3>
                                </div>
                            </div>
                            <div class="demo">
                                <div class="demo-page">
                                    <div class="demo-pagepd">
                                        <div class="pay-alert layui-form back-c">
                                            <div class="pd">
                                                <div class="form-cell">
                                                    <label for="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                                    <span>李某某</span>
                                                </div>
                                                <div class="form-cell">
                                                    <label for="">身份证号</label>
                                                    <span>13021995250518547</span>
                                                </div>
                                                <div class="form-cell">
                                                    <label for="">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度</label>
                                                    <span>2018</span>
                                                </div>
                                                <div class="form-cell">
                                                    <label for="">变更前缴费档次</label>
                                                    <span>100</span>
                                                </div>
                                                <div class="form-cell">
                                                    <label for="">变更后缴费档次</label>
                                                    <select name="" id="">
                                                        <option value="1">100</option>
                                                        <option value="2">100</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="pay-btn">
                                                <button class="layui-btn bgc-blued butt">提交</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />
<script>

</script>

</html>